<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c3e434e-beba-4d19-99dc-5949327118a3" Alias="Aggregate" Level="3">
  <Info>
    <Parent Key="522b7c94-d329-41f8-8038-0ac8f41e3801">Tests</Parent>
    <Path>/AppSettings/Tests/Aggregate</Path>
    <Trashed>false</Trashed>
    <ContentType>testCategory</ContentType>
    <CreateDate>2020-03-23T09:03:11</CreateDate>
    <NodeName Default="Aggregate" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>