<?xml version="1.0" encoding="utf-8"?>
<Content Key="978d3fc0-db2b-4254-8f72-71632c97be4a" Alias="Companies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Companies</Path>
    <Trashed>false</Trashed>
    <ContentType>companies</ContentType>
    <CreateDate>2019-08-10T11:03:14</CreateDate>
    <NodeName Default="Companies" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>