<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb302616-f1e6-47a8-95ea-0aff23eecec0" Alias="Concrete" Level="3">
  <Info>
    <Parent Key="522b7c94-d329-41f8-8038-0ac8f41e3801">Tests</Parent>
    <Path>/AppSettings/Tests/Concrete</Path>
    <Trashed>false</Trashed>
    <ContentType>testCategory</ContentType>
    <CreateDate>2020-03-23T08:18:11</CreateDate>
    <NodeName Default="Concrete" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>