<?xml version="1.0" encoding="utf-8"?>
<Content Key="c47fdd44-7505-42c5-a111-a817d291605c" Alias="Non-Destructive Forensic Investigations" Level="4">
  <Info>
    <Parent Key="8986ddfd-1561-43fa-a11b-bf07bf3ce37c">Specialised Concrete &amp; Forensic Investigations</Parent>
    <Path>/Home/Services/SpecialisedConcreteForensicInvestigations/NonDestructiveForensicInvestigations</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2020-02-19T09:03:30</CreateDate>
    <NodeName Default="Non-Destructive Forensic Investigations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[specialised]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p style="text-align: left;">We are ready to provide you with advice or a quote.<br /><strong>Send us an enquiry <a href="/head-office/#reachout" title="Head Office" data-anchor="#reachout">here</a></strong><span> or call </span><strong>066 299 1985.</strong></p>
<p style="text-align: left;">These technologies allow us to conduct integrity and durability testing and produce detailed 3D interpretations of concrete structures without sampling or destruction. </p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Forensic Investigations]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "b6228905-d22e-48be-8478-64eb94d44d07",
    "mediaKey": "b8467148-0792-48d5-b6b6-ab88e93e1196",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[Specialised Testing]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Non-Destructive Concrete Testing covers a range of methods for testing the strength and durability of concrete structures without loading a specimen to failure]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Forensic Investigations]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Non-Destructive]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/ba1e5ee1e93f4c20a2cab1de81a3b310]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Non-Destructive Testing strength and durability of concrete]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "1fb31052-637c-4fbe-b14d-67cb41edbd3f",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Subsurface Utility Scanning",
    "category": "<p style=\"text-align: right;\">Detailed outdoor mapping of earthworks, sites, parks and public areas up to 10m, showing drain pipes, electrical lines, fibre lines and more.</p>",
    "categoryImage": "umb://media/518cb6e331df4e87871925a1dde811b8"
  },
  {
    "key": "43311b88-8c80-4808-8368-f3e842a8f6fe",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Ground Penetrating Radar (GPR)",
    "category": "<p style=\"text-align: right;\">A non-destructive surface penetrating system that measures slab thickness and maps reinforcement, post and pre-tension cables, live wires, service lines, pipes and drains.</p>",
    "categoryImage": "umb://media/e029e565bf83474ba34e72496124dfff"
  },
  {
    "key": "38863bc3-cbf1-4f40-bfad-5e181a66707c",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "Ultrasonic Pulse Velocity and Echo ",
    "category": "<p style=\"text-align: right;\"><span>Locate sub-surface targets in concrete to assess strength, durability, slab thickness and the severity of honey combing and delaminations.</span></p>",
    "categoryImage": "umb://media/4e3365a700bf41268ca909b7d93e20a9"
  },
  {
    "key": "68a1d5fc-8005-4353-a04e-dc724b7ffc3e",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Half Cell Potential (Reinforcement Corrosion)",
    "category": "<p style=\"text-align: right;\">This determines the extent of the corrosion of reinforcement within a concrete structure.</p>",
    "categoryImage": "umb://media/0d21c2fd2a244aa282c8dfc1ff54f63a"
  },
  {
    "key": "a46fdd5a-219c-41d5-81de-23a628ad0fe9",
    "name": "Item 5",
    "ncContentTypeAlias": "products",
    "categoryNumber": "05",
    "categoryHeading1": "Pull-off Testing Screed, Epoxy and Coatings",
    "category": "<p style=\"text-align: right;\"><span>Evaluate the pull-off</span><span> strength (adhesion) of a </span>coating <span>from a rigid substrate such as a concrete or metal floor.</span></p>",
    "categoryImage": "umb://media/ebf31ad488f54e1f99dd488207ed205f"
  },
  {
    "key": "89262958-56e5-4c33-b5ef-797b9c85d5f1",
    "name": "Item 6",
    "ncContentTypeAlias": "products",
    "categoryNumber": "06",
    "categoryHeading1": "Pull-out Testing Chemical Anchors, Fixings",
    "category": "<p style=\"text-align: right;\">A test rig is attached to a bolt, screw, anchor or fixing and put under tension to the designed stress load level to determine how strong and secure the fixing is.</p>",
    "categoryImage": "umb://media/ebf31ad488f54e1f99dd488207ed205f"
  },
  {
    "key": "ded5dbf2-0300-4527-88d5-b4f42189f6ed",
    "name": "Item 7",
    "ncContentTypeAlias": "products",
    "categoryNumber": "07",
    "categoryHeading1": "Cover Surveys",
    "category": "<p style=\"text-align: right;\">Determining the reinforcing depth in an existing concrete structure with the use of an ferromagnetic meter.</p>",
    "categoryImage": "umb://media/7e183e74d84a4c1681fb83db4ce29cc2"
  },
  {
    "key": "33a65584-2ad8-4632-9ace-2089d65d9e69",
    "name": "Item 8",
    "ncContentTypeAlias": "products",
    "categoryNumber": "08",
    "categoryHeading1": "Reinforcement Diameter",
    "category": "<p style=\"text-align: right;\">Used to determine the exact diameter of<span> </span>reinforcement<span> bars in concrete through the use of an elcometer.</span></p>",
    "categoryImage": "umb://media/f8e341df0ca040928892bc5bab21d955"
  },
  {
    "key": "4016078d-773f-4398-a2b0-d1484945f201",
    "name": "Item 9",
    "ncContentTypeAlias": "products",
    "categoryNumber": "09",
    "categoryHeading1": "Crack Width Measurement",
    "category": "<p style=\"text-align: right;\">A test to investigate crack width on a variety of concrete structures using photographic recording with a micron.</p>",
    "categoryImage": "umb://media/e20fd79438e14bdebda3ad27032cb970"
  },
  {
    "key": "ffb0e648-43e5-4135-b689-be57bcf4fbe8",
    "name": "Item 10",
    "ncContentTypeAlias": "products",
    "categoryNumber": "10",
    "categoryHeading1": "Rebound (Schmidt) Hammer",
    "category": "<p style=\"text-align: right;\">This device measures the elastic properties or strength of concrete or rock, mainly surface hardness and penetration resistance.</p>",
    "categoryImage": "umb://media/0a4fc09776954b29854528fc4b8770ea"
  },
  {
    "key": "44c11a34-c30d-4542-b226-552f048167ac",
    "name": "Item 11",
    "ncContentTypeAlias": "products",
    "categoryNumber": "11",
    "categoryHeading1": "Heat of Hydration Monitoring",
    "category": "<p style=\"text-align: right;\">Monitors the heat flow from concrete while the specimen is under an insulated condition and has no or very little heat loss.</p>",
    "categoryImage": "umb://media/8f1bcd5d84d94262a623b38ed558939d"
  },
  {
    "key": "5a69dde1-d413-4612-be6a-502da70d99c6",
    "name": "Item 12",
    "ncContentTypeAlias": "products",
    "categoryNumber": "12",
    "categoryHeading1": "Drone Surveys",
    "category": "<p style=\"text-align: right;\">Generate accurate topographical maps or 3D models of larger / hard to access areas using LIDAR technology.</p>",
    "categoryImage": "umb://media/c2e22e6905e64406afa5709eeca42c88"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[
  {
    "name": "Download Profile",
    "target": "_blank",
    "udi": "umb://media/c4dc44f27b9b4a59b9ea6ccbf6922b42"
  },
  {
    "name": "See Our Work",
    "url": "https://roadlabstaging.azurewebsites.net/civil-engineering-construction/introducing-our-specialised-forensic-services/"
  }
]]]></Value>
    </servicesButtons>
  </Properties>
</Content>