<?xml version="1.0" encoding="utf-8"?>
<Content Key="b72da2bb-6634-4d47-977d-7c697cb3e38f" Alias="Services" Level="2">
  <Info>
    <Parent Key="778404db-d1cf-49d1-a83b-0d84173a1c5c">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesList</ContentType>
    <CreateDate>2019-09-18T15:52:11</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>