
//======================FEATURES===================//

.features {

	&__cont {
	padding: 5rem 0;
	}
	&__box {
	padding: 0 4rem;
	}
	&__img {
	padding-bottom: 2rem;
	visibility: hidden; 
	}
	&__heading {
	font-size: 3.2rem;
	text-transform: uppercase;
	font-weight: 800;
	color: $dark-blue;
	line-height: .9;
	text-align: center;
	}
	&__text li {
	font-style: italic;
	}

	&__hr {
    height: .5rem;
    border: none;
    background-color: $dark-orange;
    width: 25%;
    text-align: center;
    margin: 3rem auto;
	}
}



//======================BENEFITS===================//

.benefits {

	&__content {
		padding: 5rem 0;
		color: $color-white;
		}

	&__text {
		font-weight: 300;
		font-style:  italic;
		font-size: 1.8rem;
		
	}
	&__img {
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 2rem;
	}

	&__line {
		padding-right: 3rem;
		border-right: .2rem solid white;
	}

	&__heading {
		font-size: 5.5rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 2rem;
	}

	&__sub-heading {
		font-size: 2.8rem;
		color:$color-white;
		font-weight: 300;
		text-align: center;
		padding-bottom: 5rem;
	}

}

.benefits-blocks {

	padding-bottom: 15rem;

	&__container {
		padding: 5rem 0 1rem;
	}

	&__divider {
		padding-right: 1rem;
		border-right: .16rem solid $medium-blue;
	}

	&__img {
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		visibility: hidden;

	}
	&__left-box {
		margin-left: -1.5rem;
	}

	&__right-box {
		padding-left: 5rem;
	}

	&__right-img {
		float: left;
		padding-right: 2rem;
	}
	&__sub-heading {
		font-size: 1.8rem;
	}
	 &__heading {
		font-size: 3rem;
	    text-transform: uppercase;
	    font-weight: 800;
	    color: $dark-blue;
	    line-height: .9;
	}
	&__text {
		font-style: italic;
		color: $dark-blue;
	}
}


@media (max-width: 992px) {
	.benefits__text {
		text-align: center;
	}
}
//======================DISCOVER====================//
.discover {

	&__facebook {
	margin-top: 4rem;
	padding-bottom: 2rem;
	}

	&__container {
	padding: 3rem  0  15rem 0;
	//margin-top: 3rem;

		&--content {
			color: white;
			padding-right: 10rem;
			font-weight: 300;
			text-align: justify;
		}
		&--app {
			width: 100%;
		}

		&--headline {
			padding-top: 8rem;
		}

		&--image {
			margin-top: 6rem;
		}

	}

	&__heading {
		color: $color-white;
		font-size: 3.6rem;
		font-weight: 300;
	}

	&__heading-2 {
		color: $color-white;
		font-size: 4rem;
		font-weight: 300;
	}


	&__content {
		color: $color-white;
	}

	&__btn-text {
		font-size: 2rem;
	}
}

//======================REACH====================//
.reach {
	color: $color-white;
	
	&__background {
		padding: 3rem 0 2rem;
		background-image: linear-gradient(to right, $dark-orange, $light-orange);
	}

	&__heading {
		
	font-size: 2.5rem;
	font-weight: 300;
	}

	&__heading-2 {
		
	font-size: 5rem;
	font-weight: 700;
	}

	&__glyph {
		position: relative;
		left: 2.5rem;
		top:.16rem;
		pointer-events: none;
		color: white;
		
		&:hover {
			color:white;
		}

		}


	&__option {
		font-size: 2.5rem;
		font-weight: 300;
		text-align: center;
		padding-bottom: 30px;
		font-style: italic;
		}

	&__cta {
		font-size: 2.8rem;
		line-height: .9;
		font-style: italic;
	}

	&__aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	max-width: 100%;
	margin-bottom: -20px
	}
	
	&__bottom {
		position: absolute;
		bottom: -2.1rem;
		margin-left: -10rem;
		//width:50vh;
		z-index: 0;
		overflow:hidden;

	}
	
	@media (max-width: 1020px) {
	&__img-hide {
		display: none;
	}


}


}

