// FONTS
 $default-font-size: 1.6rem;

 // COLORS

 $dark-blue:#041c2c; 
 $medium-blue:#1d405b; //font colour 
 $light-blue:#074f71;
 $dark-orange:#fE5000; 
 $light-orange:#ff8f1c; 
 $light-grey:#f2f0f0;
 $medium-grey:#ccc;
 $color-white:#fff;
 $color-black:#000;
 $heavy-blue:#070e16;