<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d9be4ab-2361-4be8-bf4e-f0727eefd1f1" Alias="appSettings" Level="1">
  <Info>
    <Name>App Settings</Name>
    <Icon>icon-app color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AppSettings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8e1814c0-e4a7-42ef-9007-a5418d516cb0">AppSettings</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="11c1b76f-7144-4ede-b8f4-301cba593e50" SortOrder="0">testCategory</ContentType>
    <ContentType Key="db756b15-be67-43de-a0d8-f32b953482bb" SortOrder="1">tests</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b6065698-7222-4842-ab35-7ffbc0db3449</Key>
      <Name>Android Build Number</Name>
      <Alias>androidBuildNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58dc46d0-0a99-408d-9563-cb47a0bea0e4</Key>
      <Name>Android Version Number`</Name>
      <Alias>androidVersionNumber</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2019124b-a676-445c-83fe-8903e25dd7ab</Key>
      <Name>Apple Link</Name>
      <Alias>appleLink</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ee5ff32-f52e-4695-a1a9-ff887cc6216a</Key>
      <Name>Force Reinstall</Name>
      <Alias>forceReinstall</Alias>
      <Definition>9fa95905-49e4-42a8-91ab-f5ff8ac9b0d4</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3d31afd-e13a-4dc2-86ac-16fc44861303</Key>
      <Name>Force Upgrade</Name>
      <Alias>forceUpgrade</Alias>
      <Definition>32b1aa50-14cc-4917-ac97-b1c9c6941f16</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16b434aa-254b-4297-b18c-3c679ef9a05a</Key>
      <Name>Playstore Link</Name>
      <Alias>playstoreLink</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="versionControl">Version Control</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0440d0fd-e011-4a98-9eca-70fed4769a47</Key>
      <Caption>Version Control</Caption>
      <Alias>versionControl</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>