<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd03c410-37a7-4670-b852-3ed5f2f5d810" Alias="branchesIntersect" Level="2">
  <Info>
    <Name>_branches</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>879ec152-0d31-466b-ac78-60038cd83ee3</Key>
      <Name>Branch Selector</Name>
      <Alias>branchSelector</Alias>
      <Definition>f45c9ceb-7fc0-4939-9518-e58afc0ccc04</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The branch linked this content for email and contact purposes]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchesIntersect">Branches Intersect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>029055be-fb1d-4b30-80eb-02ddf0eed5a4</Key>
      <Caption>Branches Intersect</Caption>
      <Alias>branchesIntersect</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>