<?xml version="1.0" encoding="utf-8"?>
<Content Key="3659906c-ee57-4e7e-bb8c-8e1d10e48a32" Alias="Change Password" Level="4">
  <Info>
    <Parent Key="a5936a37-9ebf-45b0-a882-074164f60632">Secure Area</Parent>
    <Path>/Home/Account/SecureArea/ChangePassword</Path>
    <Trashed>false</Trashed>
    <ContentType>accountPasswordChange</ContentType>
    <CreateDate>2020-04-04T11:08:45</CreateDate>
    <NodeName Default="Change Password" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81ceb1b6-17ef-44b1-b9e3-24c0eeabdb3b">AccountPasswordChange</Template>
  </Info>
  <Properties />
</Content>