<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e38e1ef-19d6-4793-aceb-1de3dcba0479" Alias="East London" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/EastLondon</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2019-10-07T09:48:33</CreateDate>
    <NodeName Default="East London" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[umb://document/55441678ed0045d8bb37bc9b2c505d43,umb://document/0c013d8040184076b9438afa3fa8540d,umb://document/938b098137a94802aba87664693173ef]]></Value>
    </blockContentPicker>
    <branchAddress1>
      <Value><![CDATA[10 St Pauls Rd]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[ North End]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[East London]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value>[{"key":"5c04f14b-401e-49a0-b8ba-569237d73509","mediaKey":"a804a18a-88d6-4a52-a499-5124d44d1496"}]</Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[076 783 8877]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[East London]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[[
  "South Africa"
]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[lwazi@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value>[{"key":"5dca89c5-40ae-4bef-a266-69480fa4c301","mediaKey":"9e8d737d-8e2e-4e9d-a4ce-596591320be3"}]</Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Lwazi Nomyayi]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[-33.0110955]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[27.8904803]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Lwazi Nomyayi]]></Value>
    </branchManager>
    <branchMap>
      <Value>&lt;div&gt;&lt;iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.7223245697096!2d27.890480315724677!3d-33.011095482484826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e66e1baf58a2699%3A0x9d8726ede5777044!2s52%20Beaconsfield%20Rd%2C%20Braelyn%2C%20East%20London%2C%205201!5e0!3m2!1sen!2sza!4v1570434435945!5m2!1sen!2sza" style="border: 0;" allowfullscreen="" width="100%" height="350px" frameborder="0"&gt;&lt;/iframe&gt;&lt;/div&gt;</Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[East London]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[5200]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[[
  "Eastern Cape"
]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[043 722 1940]]></Value>
    </branchTelephoneNumber>
    <limsBranchCode>
      <Value><![CDATA[]]></Value>
    </limsBranchCode>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on 52 Beaconsfield Road, Brealyn, East London. + 27 (0) 43 722 1940 For laboratory testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[EAST LONDON BRANCH]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Materials testing-Roadlab-East London-Bitumen Concrete Soil]]></Value>
    </pageTitle>
  </Properties>
</Content>