<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8a1f665-70e4-4cf4-bd8e-b09d2537c760" Alias="Field Testing" Level="4">
  <Info>
    <Parent Key="d56714df-35af-4b23-a158-44e5a3e5cb6c">Materials Testing</Parent>
    <Path>/Home/Services/MaterialsTesting/FieldTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2019-10-09T09:59:19</CreateDate>
    <NodeName Default="Field Testing" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[sample]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe are ready to provide you with advice or a quote.\u003Cstrong\u003E\u003Cbr /\u003ESend us an enquiry \u003Ca href=\u0022/{localLink:umb://document/695010147d8a408a8922b1d1b4f1d905}#reachout\u0022 title=\u0022Head Office\u0022 data-anchor=\u0022#reachout\u0022\u003Ehere\u003C/a\u003E\u003C/strong\u003E or call \u003Cstrong\u003E066 299 1985.\u003C/strong\u003E\u003C/p\u003E\n\u003Cp\u003EOur well-trained and accredited teams are available to perform sampling and coring, nuclear densities and a range of other in-field quality control tests.\u003C/p\u003E"
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Sample & Field Testing]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "ce3dd7e1-814a-4f90-8e74-85fdc57240c6",
    "mediaKey": "9a58b20f-3789-4c40-94dd-09f4999498f0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[MATERIALS TESTING]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[These largely non-destructive methods of testing offer critical insights into the durability, quality and readiness of materials, concrete and roadworks.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[SERVICE OFFERING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Sample & Field Testing]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[[
  {
    "key": "50f0fd83-6484-4038-bf80-c28ba398730c",
    "mediaKey": "00d68c79-01c4-490d-bd98-c23e275108e1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index,follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Material Sampling Load Simulators Concrete Field Testing]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "0cddf577-7add-4192-848c-8e76f86b88d4",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "01"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nuclear Density"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EUsed to determine the in-situ density of soil, gravel and sand material as well as the moisture content of a surface layer.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4f8712c-6cc9-4f7c-a641-6da5d551f464",
              "mediaKey": "aae7fa01-0b5e-49bd-af79-000e85b3cbe6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "52cd20c8-fdee-4fec-810b-3d50fef47505",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "02"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cored Specimens "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThis method is used to extract field specimens for use in determining UCS or ITS of stablilised materials.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "84e056af-c844-4e9b-894b-7499bb185755",
              "mediaKey": "3271fb9b-5d59-4743-bf89-1ae4fe00de4e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "930cfd2e-bf39-4720-9e80-bca9f04ddb23",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "03"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sand Replacement"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EDetermines the in-situ density of a layerwhere the nuclear density method is unsuitable.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "408aac73-52dd-4967-ab91-29f54b14c05b",
              "mediaKey": "5541eeab-f70d-4996-bbac-8f1a2bcd90dc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "6a648241-8e95-4d33-828e-60e5b3736f1d",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "04"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " Dynamic Cone Penetrometer (DCP) "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EUsed to determine the resistance of the material as well as to interpolate the expected California Bearing Ratio.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f5ded42c-02e0-47b9-9a2c-fafde2d6e3b2",
              "mediaKey": "ed87753a-f759-40fe-80be-9e97bc55c71e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "b02764b8-197c-4340-921b-87fec52432b4",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "05"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Plate Load Test"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EDetermine the ultimate bearing capacity of soil and the probable settlement under a given load.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd04c61d-0036-4712-bbb0-8d3f1a223afc",
              "mediaKey": "2c52f141-77ca-469c-a98f-2ff5099b4b6e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "da4d6bff-14e1-46a8-9f08-9b9e30c95e45",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "06"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Asphalt and Concrete Coring"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EUsed to extract field specimens to determine layer thickness, BRD on asphalt specimens and more.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a4dd76c-b2a5-4f95-a10f-b15d679faaab",
              "mediaKey": "b0d3efcb-4214-4642-a9b8-10b29a55112a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "e501bd6c-a13a-4e42-9492-c57053afb99f",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "07"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ball Penetration Test"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThe ball penetration test is used to simulate the embedment of stone chips that occurs during construction and under traffic loading.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f5af7a22-eeb5-4e3f-aa15-c63ce9287c90",
              "mediaKey": "ac7aba25-a765-4da7-8dfa-b83c46670760",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "8cc8c781-f0e0-4fe9-90f3-38c24c259ecc",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "08"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Clegg Impact Hammer Testing"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EMeasures soil strength and consolidation levels during trench re-instatement and confirm uniform compaction over areas of ground.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8f9fcd16-d900-4180-9ae9-d2f128b20b22",
              "mediaKey": "25c08ce5-bfcb-4c29-a49a-cebe064668ef",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "98caa91d-2147-4e2a-bd88-2ffad1908b84",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "9"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Rolling Straight Edge"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EUsed to determine the rideability of a specific road surface area and measure the transition between where processed sections join.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b902187-c35d-4f7b-946a-48e4e81f206e",
              "mediaKey": "e055c431-9abc-4285-bc6c-4bd12d57e81e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "8ded6a41-c31a-4ac0-86a2-2bea03f7f957",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sampling of Materials"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EObtaining of asphalt, soils, gravels, concrete or bitumen samples that are representative of the material used during construction phases\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "997e03f7-7ed2-4b0d-93eb-870923867116",
              "mediaKey": "5cdd14bc-5845-4e5c-8912-bf3615854ce0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "3840d374-1aaf-445e-a4e9-06940582d909",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "11"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dynamic Probe Super Heavy (DPSH)"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EUsed in favourable conditions to determine the expected bearing capacity of soils .\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "efa83101-4485-4a94-aae3-b7cd0dc0e1e5",
              "mediaKey": "87a04ba9-9993-4633-adbb-8aabc6798ce1",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "12eded25-7ece-4b53-ae23-e859f4e7cc9f",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Falling Weight Deflectometer (FWD)"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThe most practical system to accurately measuring pavement\u2019s deflection response when subject to a dynamic load.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ae63fa54-9a31-4af4-a6c9-846195fd3c9f",
              "mediaKey": "79ea8ad6-292b-45c8-b751-826e9387034f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "1c367ad4-5b4c-4f6e-ba05-62da35be8e1f",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "13"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "International Roughness Index (IRI)"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EMeasure surface roughness, texture and rutting to calculate ride comfort, surface friction and noise generation.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "24d72a33-dde7-4421-8047-5964f2755129",
              "mediaKey": "01c266ab-e4b5-46e5-87c2-68f649d69b4d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "980a60c1-cc3b-4a9b-97db-bd31b57c96b2",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "14"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Walking profilometer  "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EEvaluate the surface condition of pavement. Measures surface roughness, texture and transition irregularities and surface rutting.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ba6f210b-e7c9-4d9d-9bf1-c9cb1f38d8db",
              "mediaKey": "5dcb987e-1ba5-4a9b-9f39-7c467ae55f9d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "7d6e0991-c517-4637-8a4e-81cae156c297",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Model Mobile Load Simulator (MMLS 3)"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EOne of 13 world wide, this allows us to simulate traffic, moisture and temperature effects on a pavement layer, recreating real-life stresses.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ee227bfc-276b-4b3c-9f09-e4f06868f6de",
              "mediaKey": "3fe34dad-dbd1-4018-9bd4-ed5814c6480d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "4aa60779-e228-4af0-9b89-adcd8dd0ea9c",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "16"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Concrete crack width meter/camera"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EInvestigate cracks width on concrete structures such as walls, tunnels, bridges etc. with photographic recording - accuracy of 0.01mm.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3d1fd1a-94c1-48af-8cf2-b0fb99eaf6a8",
              "mediaKey": "d1d308c1-df10-4180-9d05-2cf3f917d0b3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "512e0c24-cf4d-4154-9b4b-35b612d63862",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "18"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Proceq Concrete scanning"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003ENon-destructive testing of concrete structures using ground penetrating radar to an effective depth exceeding 700mm.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "801afbad-7f1f-4cfe-b6ff-f304fbf45d01",
              "mediaKey": "1d19ea6a-a8c6-4ae6-8b01-095183eaca02",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "6943d597-e69e-4e8d-b6f3-0abb39886a69",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "19"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Certification of a binder distributor "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003ECertification of a binder distributor, validation of binder distributor dipstick, power and speed indicator test, pump system performance, and transverse distribution.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0c6c5c48-e905-49ef-a9e1-1089e6960275",
              "mediaKey": "f729aeba-0fdd-44f4-b9ca-299ca5552b11",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "1c0675f9-5cf9-4cae-b107-fe9248d2302d",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Marvil test"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThe permeability of a bituminous layer indirectly indicates the material\u2019s susceptibility to the ingress of water.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e1234cc4-dcf6-4ce3-91cb-590440f8195e",
              "mediaKey": "0d99d5c7-def3-405f-92d6-b32658447a56",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "dcd81f90-dd8b-46b9-bb70-1e05a6987f68",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "21"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Texture depth measurement "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003EThis test is used to determine the texture of a road surface, also known as roughness.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "42caffd8-322a-4e52-97f7-daf3818c3d5a",
              "mediaKey": "a4783849-4948-4bc7-a94b-555c7222ac3d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "5b04b451-77a5-4eb3-becf-19e75034e7f8",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "22"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ball penetration "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThe ball penetration test is used to simulate the embedment of stone chips that occurs during construction and under traffic loading.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fbe665db-46a4-46d3-9d02-69bf14ec71f2",
              "mediaKey": "8376eb06-6e3e-409a-a209-72582c6ec243",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "71d62bc2-bc70-4504-9bf5-024a3d4f5718",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "23"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cover meter testing "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EDetermining the reinforcing depth in an existing concrete structure with the use of a rebar detector.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7ce7bde0-8fab-4b02-821c-4d4027465db6",
              "mediaKey": "470c61ae-6c55-4ff8-9c4a-e9df1cc96899",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "62545ae1-1702-440c-9fb1-26704051142e",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "24"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Rebound hammer "
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EThis device measures the elastic properties or strength of concrete or rock, mainly surface hardness and penetration resistance.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ee7c16f4-ea1c-4899-8316-731eb3b9f8aa",
              "mediaKey": "0121d57a-b47b-4f08-8186-178238d08b00",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a9d646e2-c7a1-43a6-8c80-11197184ab9e",
      "key": "3c014c76-5239-46ce-a3b5-446133af111c",
      "values": [
        {
          "alias": "categoryNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "categoryHeading1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ultrasonic pulse velocity and echo"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EScanning of sub-surface targets in concrete to determine strength and quality, evaluating slab thickness and the severity of honey combing.\u003C/p\u003E"
          }
        },
        {
          "alias": "categoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ca95278b-b1ce-466b-b51b-20d91c06071c",
              "mediaKey": "bc50ba2d-cda1-4e2f-8fc6-7a3ca6e34ede",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0cddf577-7add-4192-848c-8e76f86b88d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "52cd20c8-fdee-4fec-810b-3d50fef47505",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "930cfd2e-bf39-4720-9e80-bca9f04ddb23",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a648241-8e95-4d33-828e-60e5b3736f1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b02764b8-197c-4340-921b-87fec52432b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da4d6bff-14e1-46a8-9f08-9b9e30c95e45",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e501bd6c-a13a-4e42-9492-c57053afb99f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8cc8c781-f0e0-4fe9-90f3-38c24c259ecc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "98caa91d-2147-4e2a-bd88-2ffad1908b84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8ded6a41-c31a-4ac0-86a2-2bea03f7f957",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3840d374-1aaf-445e-a4e9-06940582d909",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "12eded25-7ece-4b53-ae23-e859f4e7cc9f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c367ad4-5b4c-4f6e-ba05-62da35be8e1f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "980a60c1-cc3b-4a9b-97db-bd31b57c96b2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7d6e0991-c517-4637-8a4e-81cae156c297",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4aa60779-e228-4af0-9b89-adcd8dd0ea9c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "512e0c24-cf4d-4154-9b4b-35b612d63862",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6943d597-e69e-4e8d-b6f3-0abb39886a69",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c0675f9-5cf9-4cae-b107-fe9248d2302d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dcd81f90-dd8b-46b9-bb70-1e05a6987f68",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b04b451-77a5-4eb3-becf-19e75034e7f8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "71d62bc2-bc70-4504-9bf5-024a3d4f5718",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "62545ae1-1702-440c-9fb1-26704051142e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c014c76-5239-46ce-a3b5-446133af111c",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0cddf577-7add-4192-848c-8e76f86b88d4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "52cd20c8-fdee-4fec-810b-3d50fef47505",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "930cfd2e-bf39-4720-9e80-bca9f04ddb23",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6a648241-8e95-4d33-828e-60e5b3736f1d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b02764b8-197c-4340-921b-87fec52432b4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "da4d6bff-14e1-46a8-9f08-9b9e30c95e45",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e501bd6c-a13a-4e42-9492-c57053afb99f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8cc8c781-f0e0-4fe9-90f3-38c24c259ecc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "98caa91d-2147-4e2a-bd88-2ffad1908b84",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8ded6a41-c31a-4ac0-86a2-2bea03f7f957",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3840d374-1aaf-445e-a4e9-06940582d909",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "12eded25-7ece-4b53-ae23-e859f4e7cc9f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1c367ad4-5b4c-4f6e-ba05-62da35be8e1f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "980a60c1-cc3b-4a9b-97db-bd31b57c96b2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7d6e0991-c517-4637-8a4e-81cae156c297",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4aa60779-e228-4af0-9b89-adcd8dd0ea9c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "512e0c24-cf4d-4154-9b4b-35b612d63862",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6943d597-e69e-4e8d-b6f3-0abb39886a69",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1c0675f9-5cf9-4cae-b107-fe9248d2302d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dcd81f90-dd8b-46b9-bb70-1e05a6987f68",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5b04b451-77a5-4eb3-becf-19e75034e7f8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "71d62bc2-bc70-4504-9bf5-024a3d4f5718",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "62545ae1-1702-440c-9fb1-26704051142e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3c014c76-5239-46ce-a3b5-446133af111c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[]]></Value>
    </servicesButtons>
  </Properties>
</Content>