<?xml version="1.0" encoding="utf-8"?>
<Content Key="bac86706-52f3-4b8b-9d93-5f2192ad4d05" Alias="George" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/George</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2019-10-07T11:50:59</CreateDate>
    <NodeName Default="George" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[umb://document/55441678ed0045d8bb37bc9b2c505d43,umb://document/04f1e50ae31342e9a6f900bad5fa98b0,umb://document/4bfc16f454be428787a6e6284ea3239a]]></Value>
    </blockContentPicker>
    <branchAddress1>
      <Value><![CDATA[Shop 3, 15 Meul Street]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[George Industria]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[George]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "58a27dd8-2a3e-4811-9815-16d1201eb148",
    "mediaKey": "aaf759bf-c392-4d35-b518-bbc794b2b2bc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[076 267 3993]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[George]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[[
  "South Africa"
]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[charel@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[[
  {
    "key": "3bd6cfa0-20fd-4ac8-8277-b52e7851ed99",
    "mediaKey": "9e8d737d-8e2e-4e9d-a4ce-596591320be3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Charel van Biljon]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[22°27'12.3"E]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[33°58'57.8"S]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Charel van Biljon]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003E\u003Ciframe src=\u0022https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d584.8441407589413!2d22.45322318874168!3d-33.98282171927522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDU4JzU3LjgiUyAyMsKwMjcnMTIuMyJF!5e0!3m2!1sen!2sza!4v1723100684001!5m2!1sen!2sza\u0022 width=\u0022600\u0022 height=\u0022450\u0022 style=\u0022border: 0;\u0022 allowfullscreen=\u0022allowfullscreen\u0022 loading=\u0022lazy\u0022 referrerpolicy=\u0022no-referrer-when-downgrade\u0022\u003E\u003C/iframe\u003E\u003C/p\u003E"
}]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[George]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[5200]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[[
  "Western Cape"
]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[010 021 0312]]></Value>
    </branchTelephoneNumber>
    <limsBranchCode>
      <Value><![CDATA[1]]></Value>
    </limsBranchCode>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on 7 Bally Cresent, Voorbaai,  Mosselbay-  + 27 (0)10 021 0312 For laboratory testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Mosselbay]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Materials testing-Roadlab Mosselbay Bitumen Concrete Soil]]></Value>
    </pageTitle>
  </Properties>
</Content>