<?xml version="1.0" encoding="utf-8"?>
<Content Key="778404db-d1cf-49d1-a83b-0d84173a1c5c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2019-09-15T20:22:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8198b618-ae8f-4fc2-a5b3-5e6112a58ca0">HomePage</Template>
  </Info>
  <Properties>
    <desktopImage>
      <Value><![CDATA[[
  {
    "key": "3c965ca5-d506-418c-8642-fb645e337829",
    "mediaKey": "38f86cab-34f1-4b6d-b818-e26cd7341489"
  }
]]]></Value>
    </desktopImage>
    <footerAccreditation>
      <Value><![CDATA[[
  {
    "key": "ca615aa9-ec82-4c6f-9148-a22fcd0375d6",
    "mediaKey": "8333a447-dcfa-47ce-bfa8-2deaa5637e1f"
  }
]]]></Value>
    </footerAccreditation>
    <footerBee>
      <Value><![CDATA[[
  {
    "key": "6712454d-8a29-4202-bc1d-5491547ce6bb",
    "mediaKey": "37da199b-b065-4aba-9ae4-85f4ecfd041c"
  }
]]]></Value>
    </footerBee>
    <method>
      <Value><![CDATA[[
  "date"
]]]></Value>
    </method>
    <mobileImage>
      <Value><![CDATA[[
  {
    "key": "e8fcd2ee-1031-4a95-b3ae-81adc3b7f0c1",
    "mediaKey": "292ab849-4321-4c5b-9538-6e8d8453c34b"
  }
]]]></Value>
    </mobileImage>
    <oGDescription>
      <Value><![CDATA[Ensuring the success of awe-inspiring projects]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[[
  {
    "key": "b8056d8a-9406-4675-a459-50df4d546a91",
    "mediaKey": "2ca8d350-2013-4c0d-bf50-c6b9d09c9836"
  }
]]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Your Partner for Materials Testing.]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[http://roadlabproduction-staging.azurewebsites.net/]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab carries out tests on concrete, asphalt, soil and gravel, aggregate and bitumen with laboratories across Africa ]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[follow, index]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Soil-Concrete-Asphalt-Testing-Roadlab 2023]]></Value>
    </pageTitle>
    <recentArticlesPicker>
      <Value><![CDATA[]]></Value>
    </recentArticlesPicker>
  </Properties>
</Content>