<?xml version="1.0" encoding="utf-8"?>
<Content Key="d56714df-35af-4b23-a158-44e5a3e5cb6c" Alias="Materials Testing" Level="3">
  <Info>
    <Parent Key="b72da2bb-6634-4d47-977d-7c697cb3e38f">Services</Parent>
    <Path>/Home/Services/MaterialsTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesType</ContentType>
    <CreateDate>2019-09-18T15:57:44</CreateDate>
    <NodeName Default="Materials Testing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[nofollow, disallow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>