<?xml version="1.0" encoding="utf-8"?>
<Content Key="12ccfe1b-12fe-4421-bbb8-a4ecb5f2b691" Alias="Roadlab Rock Mechanics" Level="3">
  <Info>
    <Parent Key="b72da2bb-6634-4d47-977d-7c697cb3e38f">Services</Parent>
    <Path>/Home/Services/RoadlabRockMechanics</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesType</ContentType>
    <CreateDate>2025-07-29T10:20:41</CreateDate>
    <NodeName Default="Roadlab Rock Mechanics" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>