<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="077bb3be-ff0c-4797-9034-a75f9cf79faa" Alias="accountNotifications" Level="2">
  <Info>
    <Name>Account Notifications</Name>
    <Icon>icon-tags color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions />
    <DefaultTemplate>AccountNotifications</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61256279-93fb-4b5b-9df9-1efbcad8e68f">AccountNotifications</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>