<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94f057fd-32a2-4795-a949-654d6acd635e" Alias="accountTransactionCreate" Level="2">
  <Info>
    <Name>Account Transaction Create</Name>
    <Icon>icon-page-add color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions />
    <DefaultTemplate>AccountTransactionCreate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="770d7fcd-b546-4ab7-8e49-010d2668366a">AccountTransactionCreate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>