<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ccfc2152-b510-4130-b679-c0c8cb9c88d4" Alias="accountLogin" Level="2">
  <Info>
    <Name>Account Login</Name>
    <Icon>icon-combination-lock-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions />
    <DefaultTemplate>AccountLogin</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d213bb5-2120-454d-a05c-b8d8e92497d6">AccountLogin</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>