<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d692ff3-2db6-4130-8307-135cf1456940" Alias="accountMaster" Level="2">
  <Info>
    <Name>Account Master</Name>
    <Icon>icon-umb-translation color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ccfc2152-b510-4130-b679-c0c8cb9c88d4" SortOrder="0">accountLogin</ContentType>
    <ContentType Key="b7b72b78-4ebc-4c4e-b4c1-8b6c7dda6316" SortOrder="1">accountPasswordRequest</ContentType>
    <ContentType Key="9cbd42ec-f2ad-47f4-8f5d-76b1cbadeb6e" SortOrder="2">accountPasswordReset</ContentType>
    <ContentType Key="9b09cec5-a765-485d-9996-1afb1ddce232" SortOrder="3">accountRegistration</ContentType>
    <ContentType Key="3bda41f5-da0d-42e3-89a3-9a4800b0531e" SortOrder="4">accountSecureArea</ContentType>
    <ContentType Key="dc834560-6f85-4ff5-a451-e03fcd13119c" SortOrder="5">genericPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>