<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b698431-9ee6-4fa6-af2b-7854e013f197" Alias="ajaxPage" Level="1">
  <Info>
    <Name>Ajax Page</Name>
    <Icon>icon-lense color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>AjaxPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d72597d0-3c08-4f5e-b53f-c1a3697f04a0">AjaxPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>