<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43c435ef-7f97-4722-878d-670365d29d63" Alias="bannerImage" Level="2">
  <Info>
    <Name>_banner image</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>45578788-350b-4f56-8f6b-682ef119ba6b</Key>
      <Name>Banner Background Image</Name>
      <Alias>backImage</Alias>
      <Definition>d40c63ca-26af-4cf2-9726-4de1fc795152</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for heading background, image size 1920px X 1080px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundBannerImage">Background Banner Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Background Banner Image</Caption>
      <SortOrder>0</SortOrder>
      <Alias>backgroundBannerImage</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>