<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4977d7e-7a4c-45b7-87fb-df89c2a55fe4" Alias="companies" Level="1">
  <Info>
    <Name>Companies</Name>
    <Icon>icon-school color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c92bd6ae-4b0c-4f3e-9ec7-b940d9bec8bc" SortOrder="0">company</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>