<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc834560-6f85-4ff5-a451-e03fcd13119c" Alias="genericPage" Level="1">
  <Info>
    <Name>Generic Page</Name>
    <Icon>icon-shipping-box color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ac456759-33d3-45ed-88ae-85c9a51b8137">blogSelector</Composition>
      <Composition Key="4a93f4fd-1dfc-4162-ba1c-3f490e48272c">pageHeading</Composition>
      <Composition Key="6f67a79c-e46d-408f-b840-9ac9fea771a5">sEO</Composition>
    </Compositions>
    <DefaultTemplate>genericPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7efbce1f-eed7-4b45-a6df-88c989c1bbff">genericPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>25662830-0b97-4607-b9aa-c827201b7d5f</Key>
      <Name>Generic Content</Name>
      <Alias>genericContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>