<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3b4900e-2f4c-41b8-a44d-948f9b6d40c4" Alias="masterPage" Level="1">
  <Info>
    <Name>Master Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>MasterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fdc311af-82da-4070-87c7-1879d8e421fa">MasterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>