<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a93f4fd-1dfc-4162-ba1c-3f490e48272c" Alias="pageHeading" Level="2">
  <Info>
    <Name>_page heading</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b1002af-57ac-477b-bd29-9b76ff4195b0</Key>
      <Name>Page Heading Bottom</Name>
      <Alias>pageHeadingBottom</Alias>
      <Definition>a4a3dad2-9b4a-43fb-9795-27576438da33</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bottom bold heading]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Page Heading</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6aaed404-47dc-448b-94d8-0d163f91d98d</Key>
      <Name>Page Heading top</Name>
      <Alias>pageHeadingTop</Alias>
      <Definition>a4a3dad2-9b4a-43fb-9795-27576438da33</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Top light heading add where applicable]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Page Heading</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>48bc7e2f-fb99-4427-b456-d72a1b40ebda</Key>
      <Name>Page Icon</Name>
      <Alias>pageIcon</Alias>
      <Definition>4799fe28-2801-4817-b021-7cb45e2363c7</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add icon only if applicable]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Page Heading</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Page Heading</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>