<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cfe9aed3-7260-40ea-b3ea-c1e0db7c589e" Alias="projects" Level="1">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-projector color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ac456759-33d3-45ed-88ae-85c9a51b8137">blogSelector</Composition>
      <Composition Key="ef575b92-8109-42a1-843d-3c004c91d715">heroSection</Composition>
      <Composition Key="6f67a79c-e46d-408f-b840-9ac9fea771a5">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4291e6b-504f-4367-819e-56fac9177f3e">Projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b503e7d-ba1f-4674-8df1-1b974b4d40bd</Key>
      <Name>Project List</Name>
      <Alias>projectList</Alias>
      <Definition>d25e722b-22cc-494b-b08e-d041bc6ed68b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Projects</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>