<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f6452d1-361f-4d40-bd6a-f647e99b1f6b" Alias="accountPasswordChange" Level="2">
  <Info>
    <Name>Account Password Change</Name>
    <Icon>icon-combination-lock color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Account</Folder>
    <Compositions />
    <DefaultTemplate>AccountPasswordChange</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="81ceb1b6-17ef-44b1-b9e3-24c0eeabdb3b">AccountPasswordChange</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>