
	.btn-orange {
	background: $dark-orange;
	//background-image: linear-gradient(to right, $dark-orange, $light-orange);
	font-size: 1.3rem;
	color: $color-white;
	padding: .5rem 2rem .5rem 2rem;
	//min-width: 17rem;
	text-decoration: none;
	border-radius: 2.8rem;
	transition: transform .1s;
	
	}

	.btn-orange:hover {

	background: $light-orange;
	//background-image: linear-gradient(to right, $light-orange, $dark-orange);
	color: $dark-blue;
	text-decoration: none;
	transform: scale(1.05);
	
	}	

	.btn-orange-small {
	background: $dark-orange;
	background-image: linear-gradient(to right, $dark-orange, $light-orange);
	font-size: 1.3rem;
	color: $color-white;
	padding: .1rem 2rem .1rem 2rem;
	text-decoration: none;
	border-radius: 2.8rem;
	transition: transform .1s;
	}

	.btn-orange-small:hover {

	background: $light-orange;
	background-image: linear-gradient(to right, $light-orange, $dark-orange);
	color: $dark-blue;
	text-decoration: none;
	transform: scale(1.1);
	}	

.btn-white {
	background: $color-white;
	border: black solid .16rem;
	border-radius: 2.8rem;
	font-size: 1.3rem;
	padding: .16rem 2rem .16rem 2rem;
	text-decoration: none;
}
.btn-white:hover {
	background: $light-grey;
	text-decoration: none;
}
.btn-white-l {
	background: $color-white;
	color: $dark-orange;
	border-radius: 2.8rem;
	font-size: 2rem;
	font-weight: 500;
	padding:  .16rem 2rem .16rem 2rem;
	text-decoration: none;
}
.btn-white-l:hover {
	background: $light-grey;
	text-decoration: none;
}
.btn-blue {
	background: $dark-blue;
	background-image: linear-gradient(to right,$dark-blue, $light-blue);
	border-radius: 2.8rem;
	font-size: 2rem;
	padding: .16rem 2rem .16rem 2rem;
	text-decoration: none;
	color:$color-white;
	transition: transform .1s;
}
.btn-blue:hover {
	background: $dark-blue;
	background-image: linear-gradient(to right, $light-blue, $dark-blue);
	text-decoration: none;
	transform: scale(1.1);
}

.btn-blue__small {
	background: $dark-blue;
	background-image: linear-gradient(to right,$dark-blue, $light-blue);
	border-radius: 2.8rem;
	font-size: 1.3rem;
	padding: .2rem 2rem .2rem 2rem;
	text-decoration: none;
	color:$color-white;
	transition: transform .1s ;
}
.btn-blue__small:hover {
	background: $dark-blue;
	background-image: linear-gradient(to right, $light-blue, $dark-blue);
	text-decoration: none;
	color:$color-white;
	transform: scaleX(1.1);
}

.btn-dark {
	background: $dark-blue;
	border: white solid .16rem;
	border-radius: 2.8rem;
	font-size: 1.3rem;
	padding: .16rem 2rem .16rem 2rem;
	text-decoration: none;

	&:hover {
	
	background: $light-blue;
	text-decoration: none;

	}
}