<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="998cd87b-9730-424c-9b83-f8258ffdd7ee" Alias="aboutPage" Level="1">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-vcard color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ac456759-33d3-45ed-88ae-85c9a51b8137">blogSelector</Composition>
      <Composition Key="ef575b92-8109-42a1-843d-3c004c91d715">heroSection</Composition>
      <Composition Key="4a93f4fd-1dfc-4162-ba1c-3f490e48272c">pageHeading</Composition>
      <Composition Key="6f67a79c-e46d-408f-b840-9ac9fea771a5">sEO</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="80bfaf94-3de2-4a5d-9403-74f605853c24">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cde8c2fc-db36-4a21-a9fd-4497746183b1</Key>
      <Name>Operation Teams</Name>
      <Alias>operationTeams</Alias>
      <Definition>d5d49789-515b-4a39-a674-e11279764acc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="teamMembers">Team Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7edfba3-0a3e-490d-b11a-66bc52208aad</Key>
      <Name>Team Member</Name>
      <Alias>teamMember</Alias>
      <Definition>a37e9060-5d01-414e-9170-5b4cb9a35221</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="teamMembers">Team Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f00e6c8a-4cb1-448c-8a29-267a22727b4a</Key>
      <Caption>Team Members</Caption>
      <Alias>teamMembers</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>