<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f67a79c-e46d-408f-b840-9ac9fea771a5" Alias="sEO" Level="2">
  <Info>
    <Name>_SEO</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a522096c-5e67-41fe-b573-878ebb0fcfac</Key>
      <Name>OG Description</Name>
      <Alias>oGDescription</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A one to two sentence description of your object.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ca86a3a-a5cf-45a9-96fa-edc66817dfaf</Key>
      <Name>OG Image</Name>
      <Alias>oGImage</Alias>
      <Definition>ea32bc15-056a-4f55-9550-d4631eb5c4f5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An image URL which should represent your object within the graph. And of size 1200x627]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b93228b7-6872-48db-919b-23a1949fccfb</Key>
      <Name>OG Title</Name>
      <Alias>oGTitle</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of your object as it should appear within the graph, e.g., "The Rock".]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ced1d1b-6a83-47e7-ae04-32499b6a171e</Key>
      <Name>OG Type</Name>
      <Alias>oGType</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The type of your object, e.g., "article". Depending on the type you specify, other properties may also be required.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70caceaa-df4a-417b-b33d-9eb9d7309cf3</Key>
      <Name>OG url</Name>
      <Alias>oGUrl</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The canonical URL of your object that will be used as its permanent ID in the graph e.g. https://roadlab.co.za/services/geotechnical-road-investigations/geotechnical-road-investigations/#04]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79cfb468-ef7a-43c3-8ee1-467879eff66a</Key>
      <Name>Page Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>13904bd2-fc85-44da-86a8-c9e0bb7c7127</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a description for the page not Exceeding 160 characters.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4c969ad-7155-4649-b4a1-32e5e22add94</Key>
      <Name>Page Robots</Name>
      <Alias>pageRobots</Alias>
      <Definition>9dbca2ab-b9ad-4c0a-bb22-1e0b69225553</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49c702b2-4128-4d77-870d-07bab72eca9e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>33f00bf6-e54c-436c-acc5-1872403cc9db</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the page title not exceeding 60 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>238f8b8c-b71e-4a76-b35e-799e6c68c519</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>