.headoffice {

	&__list {
		list-style-type: none;
		font-size: 1.2rem;
		color:$medium-blue;
		line-height: 2rem;
		padding-left: 0;
		} 

	&__link a{
	color:$medium-blue;
	text-transform: none;
	margin-top: 1rem;
		}

	&__li-icon i {
	display:inline;
	height: 1rem;
	margin-right: 1rem;
	}

	&__space {
		padding-top: 2rem;
	}

	&__img {
		text-align: center;
		padding-right: 15rem;
	}

	&__text li{
	font-size: 2rem;
	margin-top: .5rem;
	}
}