<?xml version="1.0" encoding="utf-8"?>
<Media Key="21f789e5-30bd-484c-8433-0dcf07d7c5fa" Alias="10 DPSH" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/DPSH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T13:54:28</CreateDate>
    <NodeName Default="10 DPSH" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2oepoin3/10-dpsh.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>