<?xml version="1.0" encoding="utf-8"?>
<Media Key="e055c431-9abc-4285-bc6c-4bd12d57e81e" Alias="11 Rolling Straight" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/RollingStraight</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T10:14:55</CreateDate>
    <NodeName Default="11 Rolling Straight" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g5cflyf2/11-rolling-straight.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>