<?xml version="1.0" encoding="utf-8"?>
<Media Key="92917ea1-374a-4826-a38f-1f1aac8c700a" Alias="13 Collection" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/Collection</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:53:15</CreateDate>
    <NodeName Default="13 Collection" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u35jdesk/13-collection.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>