<?xml version="1.0" encoding="utf-8"?>
<Media Key="803ad692-64ec-4529-8cc1-44ce300f7321" Alias="14 Cement" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/Cement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-18T11:27:35</CreateDate>
    <NodeName Default="14 Cement" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/stldvahm/14-cement.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>