<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed87753a-f759-40fe-80be-9e97bc55c71e" Alias="4 DCP" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/DCP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T10:14:53</CreateDate>
    <NodeName Default="4 DCP" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hr0jp1kz/4-dcp.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>