<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a33fa42-85fd-4c8c-86e5-77c3eaba3eb6" Alias="Asphalt Testing Laboratory2" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/AsphaltTestingLaboratory2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T11:53:17</CreateDate>
    <NodeName Default="Asphalt Testing Laboratory2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/it3dgwx3/asphalt-testing-laboratory2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>