<?xml version="1.0" encoding="utf-8"?>
<Media Key="de37880a-dc09-4e82-8c6e-8ea192cb5863" Alias="Asphalt Testing" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/AsphaltTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:16:04</CreateDate>
    <NodeName Default="Asphalt Testing" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bsedpxqj/asphalt-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>