<?xml version="1.0" encoding="utf-8"?>
<Media Key="5751a331-ec42-4ec9-a701-590762e52881" Alias="Asphalt Testing Laboratory" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/AsphaltTestingLaboratory</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T06:48:34</CreateDate>
    <NodeName Default="Asphalt Testing Laboratory" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g4rfcv0c/asphalt-testing-laboratory.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>