<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a056716-c1d6-42ce-97b7-8c799be7f4aa" Alias="Ball Penetration And Resistance" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/BallPenetrationAndResistance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:14:16</CreateDate>
    <NodeName Default="Ball Penetration And Resistance" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cbtblcww/ball-penetration-and-resistance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>