<?xml version="1.0" encoding="utf-8"?>
<Media Key="6411dbac-ce6a-44f6-a5a9-e7f2406bd8fa" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-02-19T16:00:23</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>