<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a456ed-f801-4829-85ed-10c0a2dad737" Alias="Buffalo Projects" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/BuffaloProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T13:53:07</CreateDate>
    <NodeName Default="Buffalo Projects" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nlkjcab/buffalo-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>