<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d9b29fb-2bf4-4fbe-83ab-b7af4bbda02e" Alias="Build It" Level="3">
  <Info>
    <Parent Key="cae18f4f-f356-4501-9594-878348c455b6">January 2026</Parent>
    <Path>/Blog/January2026/BuildIt</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-26T10:35:05</CreateDate>
    <NodeName Default="Build It" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>