<?xml version="1.0" encoding="utf-8"?>
<Media Key="03aa93d9-b651-4339-9418-85445fb149a0" Alias="Centreline Investigations (1)" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/CentrelineInvestigations1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T06:48:37</CreateDate>
    <NodeName Default="Centreline Investigations (1)" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/14jlua0r/centreline-investigations.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>