<?xml version="1.0" encoding="utf-8"?>
<Media Key="a837c37b-52ec-4505-825a-5b5d5f5c6236" Alias="Centreline Investigations, Borrowpit Investigations2" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/CentrelineInvestigationsBorrowpitInvestigations2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T12:02:33</CreateDate>
    <NodeName Default="Centreline Investigations, Borrowpit Investigations2" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pxbdpkhm/centreline-investigations-borrowpit-investigations2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>