<?xml version="1.0" encoding="utf-8"?>
<Media Key="33139da7-25cb-4155-935a-0b6ee7c6e7c9" Alias="Civil Laboratory (1)" Level="5">
  <Info>
    <Parent Key="38dac006-7720-4143-9815-0b58efccad1b">Matatiela Accreditation</Parent>
    <Path>/Blog/Other/Roadlab/MatatielaAccreditation/CivilLaboratory1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-11T08:39:18</CreateDate>
    <NodeName Default="Civil Laboratory (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ugobgm4l/civil-laboratory.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>