<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d2fa51-ccae-4e8c-b7a4-1c07b44c312b" Alias="Concrete Mix Design" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteMixDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:23</CreateDate>
    <NodeName Default="Concrete Mix Design" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k53nefno/concrete-mix-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>