<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0806de1-bb2e-447b-b25e-463c8cc171d8" Alias="Concluded Projects October Blog Elements3" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/ConcludedProjectsOctoberBlogElements3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-12T12:07:50</CreateDate>
    <NodeName Default="Concluded Projects October Blog Elements3" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/23wjbubo/concluded-projects-october-blog-elements3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>