<?xml version="1.0" encoding="utf-8"?>
<Media Key="53e8099a-05f6-436a-b4a1-1c59d5899341" Alias="Concluded Projects October Blog Elements5 (1)" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/ConcludedProjectsOctoberBlogElements51</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-01T07:45:40</CreateDate>
    <NodeName Default="Concluded Projects October Blog Elements5 (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqepqu5w/concluded-projects-october-blog-elements5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>