<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b1dad44-b343-43fe-a5e1-f0f2d38c98ab" Alias="Concluded Projects October Blog Elements8" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/ConcludedProjectsOctoberBlogElements8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-12T12:07:53</CreateDate>
    <NodeName Default="Concluded Projects October Blog Elements8" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ikwb000d/concluded-projects-october-blog-elements8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>