<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab532808-ecc7-485d-8373-887b634fe7f7" Alias="Concrete Flexural Strength" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteFlexuralStrength</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:28</CreateDate>
    <NodeName Default="Concrete Flexural Strength" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/byufhk4h/concrete-flexural-strength.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>