<?xml version="1.0" encoding="utf-8"?>
<Media Key="4483bbad-178c-4874-96bd-2d4d0dd95474" Alias="Concrete Cube Testing" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteCubeTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:22</CreateDate>
    <NodeName Default="Concrete Cube Testing" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vo3jgrem/concrete-cube-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>