<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9e7f793-ddc9-4eed-949b-f5509f8091b4" Alias="Concrete Coring" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteCoring</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:25</CreateDate>
    <NodeName Default="Concrete Coring" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sx1ppkoj/concrete-coring.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>