<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b8390b6-c7c1-4a44-960c-670524fa43e3" Alias="Cradock Sampling" Level="5">
  <Info>
    <Parent Key="ce3f01fc-e49e-47d2-8776-76b0902033c0">Build It Feature</Parent>
    <Path>/Blog/October2025/BuildIt/BuildItFeature/CradockSampling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:59:09</CreateDate>
    <NodeName Default="Cradock Sampling" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wciigk4b/cradock-sampling.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>