<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2f8cd24-534f-43bb-bcbb-6271439d3d3a" Alias="Deon Juckers (1)" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/DeonJuckers1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-26T05:51:26</CreateDate>
    <NodeName Default="Deon Juckers (1)" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/elgprmsp/deon-juckers.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>