<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11" Alias="Eastern Cape Services" Level="4">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-25T10:26:48</CreateDate>
    <NodeName Default="Eastern Cape Services" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties />
</Media>