<?xml version="1.0" encoding="utf-8"?>
<Media Key="631b8dcd-b37c-4c14-bd8c-c35f4f0f9c8c" Alias="East London Branch" Level="3">
  <Info>
    <Parent Key="322dc47d-a975-4ec6-b5c5-3c81431cbbee">February 2026</Parent>
    <Path>/Blog/February2026/EastLondonBranch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-11T09:42:43</CreateDate>
    <NodeName Default="East London Branch" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zogbwy12/east-london-branch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>