<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b59e7de-dda2-4051-9f12-f841400d6eea" Alias="Eastern Cape" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/EasternCape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T09:56:57</CreateDate>
    <NodeName Default="Eastern Cape" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1dtftg3c/eastern-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>