<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa7d07ac-ed8e-4bcc-931d-1dd43f008837" Alias="Excavator Test Pit" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/ExcavatorTestPit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:00:33</CreateDate>
    <NodeName Default="Excavator Test Pit" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vidh1kuo/excavator-test-pit.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>