<?xml version="1.0" encoding="utf-8"?>
<Media Key="a331ecce-d042-4b6f-912c-c44c62c06225" Alias="Free State Projects (2)" Level="5">
  <Info>
    <Parent Key="300f606f-e7c6-41ef-b5d3-9fa4038f5eb2">Free State Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/FreeStateBlog/FreeStateProjects2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T15:05:20</CreateDate>
    <NodeName Default="Free State Projects (2)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zdwddi0c/free-state-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>