<?xml version="1.0" encoding="utf-8"?>
<Media Key="46e30d2a-1458-4d1b-ab75-a29fbf7caf23" Alias="Free State Area" Level="4">
  <Info>
    <Parent Key="55dbffa4-98be-4bfa-8290-4e518ae6475e">QR Code</Parent>
    <Path>/Blog/Other/QRCode/FreeStateArea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T10:44:10</CreateDate>
    <NodeName Default="Free State Area" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fqgpgrsy/free-state-area.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>