<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e05f563-7d9f-449c-8edc-2d23b0514139" Alias="Free State Infrastructure Projects Near Bloemfontein" Level="5">
  <Info>
    <Parent Key="300f606f-e7c6-41ef-b5d3-9fa4038f5eb2">Free State Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/FreeStateBlog/FreeStateInfrastructureProjectsNearBloemfontein</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T14:25:58</CreateDate>
    <NodeName Default="Free State Infrastructure Projects Near Bloemfontein" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mx0bktu5/free-state-infrastructure-projects-near-bloemfontein.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>