<?xml version="1.0" encoding="utf-8"?>
<Media Key="0459c329-55f3-4a0b-b72a-d68b60be9d9e" Alias="GCIS Eastern Cape GCIS Ecape 2" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/GCISEasternCapeGCISEcape2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T13:53:23</CreateDate>
    <NodeName Default="GCIS Eastern Cape GCIS Ecape 2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f5bfsbht/gcis-eastern-cape-gcis_ecape-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>