<?xml version="1.0" encoding="utf-8"?>
<Media Key="be76f814-e3f5-49f4-a9d8-2a30977fa017" Alias="Geotechnical Test Pits" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/GeotechnicalTestPits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:43:05</CreateDate>
    <NodeName Default="Geotechnical Test Pits" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cl2hnpxv/geotechnical-test-pits.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>