<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4a34c70-6063-4472-a44f-82f127ba78f9" Alias="Home" Level="3">
  <Info>
    <Parent Key="9a39df6e-4ed4-4280-8f74-ca0e10d024b3">Other</Parent>
    <Path>/Blog/Other/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-04-28T11:47:21</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>