<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef89f5a4-695d-464e-a8dd-4797ebb6aee5" Alias="Jakes Gerwal Test Pits" Level="5">
  <Info>
    <Parent Key="dcff2378-e239-4780-9cca-fc3a30a59b41">Jakes Gerwal Drive</Parent>
    <Path>/Blog/October2025/BuildIt/JakesGerwalDrive/JakesGerwalTestPits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T06:51:46</CreateDate>
    <NodeName Default="Jakes Gerwal Test Pits" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ul0jt103/jakes-gerwal-test-pits.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>