<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcff2378-e239-4780-9cca-fc3a30a59b41" Alias="Jakes Gerwal Drive" Level="4">
  <Info>
    <Parent Key="5e45d501-2f23-4194-9289-30eaccb7952f">Build It</Parent>
    <Path>/Blog/October2025/BuildIt/JakesGerwalDrive</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T06:45:04</CreateDate>
    <NodeName Default="Jakes Gerwal Drive" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>