<?xml version="1.0" encoding="utf-8"?>
<Media Key="69ced638-b375-437c-80ad-5c7169282de4" Alias="Jakes Gerwal Drive Roadworks" Level="5">
  <Info>
    <Parent Key="dcff2378-e239-4780-9cca-fc3a30a59b41">Jakes Gerwal Drive</Parent>
    <Path>/Blog/October2025/BuildIt/JakesGerwalDrive/JakesGerwalDriveRoadworks</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T06:51:44</CreateDate>
    <NodeName Default="Jakes Gerwal Drive Roadworks" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h1lm20lv/jakes-gerwal-drive-roadworks.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>