<?xml version="1.0" encoding="utf-8"?>
<Media Key="cae18f4f-f356-4501-9594-878348c455b6" Alias="January 2026" Level="2">
  <Info>
    <Parent Key="6411dbac-ce6a-44f6-a5a9-e7f2406bd8fa">Blog</Parent>
    <Path>/Blog/January2026</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-12T06:37:28</CreateDate>
    <NodeName Default="January 2026" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties />
</Media>