<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2aa601b-bffc-4c03-8687-19a9174c8509" Alias="Kusile Power Station" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/KusilePowerStation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-01T07:51:09</CreateDate>
    <NodeName Default="Kusile Power Station" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dvqkvux2/kusile-power-station.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>