<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7887ce2-581b-47f3-b415-32e73ae02782" Alias="Large Quarry" Level="4">
  <Info>
    <Parent Key="26c1bf84-82c9-4b45-876d-625b1b2d5d97">Quarries and Aggregates</Parent>
    <Path>/Blog/Other/QuarriesAndAggregates/LargeQuarry</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-20T06:06:07</CreateDate>
    <NodeName Default="Large Quarry" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2r4irjy1/large-quarry.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>