<?xml version="1.0" encoding="utf-8"?>
<Media Key="da63e270-929b-4b59-bb63-2d6afed3d59d" Alias="Lesotho Highlands Water Project Locations" Level="5">
  <Info>
    <Parent Key="ab6d6e38-7688-47a2-ab08-37741fb74608">Senqu Briges</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/SenquBriges/LesothoHighlandsWaterProjectLocations</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-13T14:26:13</CreateDate>
    <NodeName Default="Lesotho Highlands Water Project Locations" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o1rghwu1/lesotho-highlands-water-project-locations.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>