<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e829f3f-5c00-4ed9-bfcc-b51c0f614970" Alias="Lwazi In East London" Level="3">
  <Info>
    <Parent Key="322dc47d-a975-4ec6-b5c5-3c81431cbbee">February 2026</Parent>
    <Path>/Blog/February2026/LwaziInEastLondon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-11T09:42:37</CreateDate>
    <NodeName Default="Lwazi In East London" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hgpjedqa/lwazi-in-east-london.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>