<?xml version="1.0" encoding="utf-8"?>
<Media Key="849d245a-eaef-4bac-acc5-7b1f9cc9b94d" Alias="Marvil Permeability" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/MarvilPermeability</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:32</CreateDate>
    <NodeName Default="Marvil Permeability" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lqsj1bhp/marvil-permeability.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>