<?xml version="1.0" encoding="utf-8"?>
<Media Key="78794239-78fd-498b-9e29-28dd1c00cbb6" Alias="Mastersizer OG Image" Level="5">
  <Info>
    <Parent Key="5ccf1e91-e1db-4302-9736-bf2b59bc0bd9">Mastersizer (1)</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/Mastersizer1/MastersizerOGImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-22T12:46:18</CreateDate>
    <NodeName Default="Mastersizer OG Image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h3bhs4h3/mastersizer-og-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>