<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ba3a523-650c-41e6-960d-58cd92ba29d2" Alias="Maximum Theoretical Relative Density" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/MaximumTheoreticalRelativeDensity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:50</CreateDate>
    <NodeName Default="Maximum Theoretical Relative Density" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ewslggym/maximum-theoretical-relative-density.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>