<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea691541-58f1-4776-859f-c63f82226f68" Alias="Motherwell" Level="4">
  <Info>
    <Parent Key="68cdfda5-c00e-4d31-9af1-df28b0fe9c91">Projects</Parent>
    <Path>/Blog/Other/Projects/Motherwell</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:16:51</CreateDate>
    <NodeName Default="Motherwell" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i2kht0xr/motherwell.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>