<?xml version="1.0" encoding="utf-8"?>
<Media Key="b32ec116-4ae5-45e0-a7db-e8410e441319" Alias="N2 Team 2" Level="5">
  <Info>
    <Parent Key="e4e7f7a0-26b7-45a1-a649-01174b52cb6f">N2 Accreditation</Parent>
    <Path>/Blog/Other/Roadlab/N2Accreditation/N2Team2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-31T08:50:44</CreateDate>
    <NodeName Default="N2 Team 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdad3m5f/n2-team-2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>