<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a366709-4a4d-4185-9234-d8f0ec8f8966" Alias="NME Testing (1)" Level="5">
  <Info>
    <Parent Key="f74ea0e6-1e04-455d-a421-51bcbc6186be">October 2025</Parent>
    <Path>/Blog/October2025/TestIt/October2025/NMETesting1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T05:26:16</CreateDate>
    <NodeName Default="NME Testing (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b3tdmwsn/nme-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>