<?xml version="1.0" encoding="utf-8"?>
<Media Key="55c33e01-ccc8-49f3-a44a-2289475d8bd1" Alias="NME Testing" Level="5">
  <Info>
    <Parent Key="f74ea0e6-1e04-455d-a421-51bcbc6186be">October 2025</Parent>
    <Path>/Blog/October2025/TestIt/October2025/NMETesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T12:33:32</CreateDate>
    <NodeName Default="NME Testing" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a25mgvoi/nme-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>