<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5539c74-4f2c-46a5-aa51-4fe6a003b110" Alias="Northern Cape Mining (1)" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/NorthernCapeMining1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T09:31:12</CreateDate>
    <NodeName Default="Northern Cape Mining (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/okofhnjm/northern-cape-mining.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>