<?xml version="1.0" encoding="utf-8"?>
<Media Key="52d41b9a-eefa-4396-934d-5e7c1d7ba061" Alias="NWU Mahikeng" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/NWUMahikeng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:46:14</CreateDate>
    <NodeName Default="NWU Mahikeng" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqnniux0/nwu-mahikeng.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>