<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1d1ceb0-d87a-4207-9c1f-950d97b75761" Alias="On Site Density Testing" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/OnSiteDensityTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T11:45:57</CreateDate>
    <NodeName Default="On Site Density Testing" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1hndul0/on-site-density-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>