<?xml version="1.0" encoding="utf-8"?>
<Media Key="be3ee2cb-5bbd-41b7-8e1e-b42d22d0f932" Alias="OTMS 5" Level="5">
  <Info>
    <Parent Key="0fb9209c-661d-4614-9bcc-4f7d0530fb1c">Matthew Interview</Parent>
    <Path>/Blog/Other/Roadlab/MatthewInterview/OTMS5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-03T09:43:13</CreateDate>
    <NodeName Default="OTMS 5" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zxrd3pv3/otms-5.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>