<?xml version="1.0" encoding="utf-8"?>
<Media Key="5585176e-835d-4e30-bd21-67bcbd9e18f5" Alias="OTMS 6" Level="5">
  <Info>
    <Parent Key="4370ee3b-26b5-4205-a76a-202f6ba4d751">OTMS</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/OTMS/OTMS6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T10:22:43</CreateDate>
    <NodeName Default="OTMS 6" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/naljkvk3/otms-6.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>