<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6aed6f2-e2e1-422e-ba6a-cdbfae3b9e9c" Alias="OTMS 10" Level="5">
  <Info>
    <Parent Key="4370ee3b-26b5-4205-a76a-202f6ba4d751">OTMS</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/OTMS/OTMS10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T10:22:58</CreateDate>
    <NodeName Default="OTMS 10" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4tlk33xb/otms-10.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>