<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb6f678f-e59a-432e-b7d9-f097319f1f34" Alias="Pnp 3" Level="2">
  <Info>
    <Parent Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba">Projects</Parent>
    <Path>/Projects/Pnp3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-20T05:51:19</CreateDate>
    <NodeName Default="Pnp 3" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rfth5o20/pnp-3.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>