<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a3a5247-717e-4d1b-9070-4ee2c6391f0a" Alias="Polokwane 1" Level="3">
  <Info>
    <Parent Key="9a39df6e-4ed4-4280-8f74-ca0e10d024b3">Other</Parent>
    <Path>/Blog/Other/Polokwane1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-07T07:02:23</CreateDate>
    <NodeName Default="Polokwane 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ifjdu4t4/polokwane-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>