<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ae9998d-1e2a-4f85-9d41-a94599a4e9c0" Alias="R27 Calvinia" Level="5">
  <Info>
    <Parent Key="ce3f01fc-e49e-47d2-8776-76b0902033c0">Build It Feature</Parent>
    <Path>/Blog/October2025/BuildIt/BuildItFeature/R27Calvinia</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T13:02:04</CreateDate>
    <NodeName Default="R27 Calvinia" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/romptgrk/r27-calvinia.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>