<?xml version="1.0" encoding="utf-8"?>
<Media Key="286818c8-7dec-404a-8bf6-1019ba886d8f" Alias="Roadlab Rock Mechanics XRD Sample.Jpg" Level="5">
  <Info>
    <Parent Key="f74ea0e6-1e04-455d-a421-51bcbc6186be">October 2025</Parent>
    <Path>/Blog/October2025/TestIt/October2025/RoadlabRockMechanicsXRDSampleJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T09:31:06</CreateDate>
    <NodeName Default="Roadlab Rock Mechanics XRD Sample.Jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zymgqkhm/roadlab-rock-mechanics-xrd-samplejpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>