<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5b73052-65a2-41fb-8ee3-65ae94ce6a8e" Alias="Roadlab East London Projects" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/RoadlabEastLondonProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-27T17:42:44</CreateDate>
    <NodeName Default="Roadlab East London Projects" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kqylpznc/roadlab-east-london-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>