<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab3fad9f-51a9-4688-b130-a8550a095709" Alias="Roadlab Branches In Northern Cape (2)" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/RoadlabBranchesInNorthernCape2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T13:43:52</CreateDate>
    <NodeName Default="Roadlab Branches In Northern Cape (2)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgwd5k3j/roadlab-branches-in-northern-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>