<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa622ed2-e9b2-487c-9b9a-40f12fe6ca5a" Alias="Roadlab Projects WC" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/RoadlabProjectsWC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:14</CreateDate>
    <NodeName Default="Roadlab Projects WC" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0qxgf4vs/roadlab-projects-wc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>