<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa06e805-6004-4b1d-a475-d82423596a9e" Alias="Roadlab Northern Cape Testing Teams" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/RoadlabNorthernCapeTestingTeams</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T09:01:08</CreateDate>
    <NodeName Default="Roadlab Northern Cape Testing Teams" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/apuan4qe/roadlab-northern-cape-testing-teams.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>