<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f0abfb7-5afd-49c5-a70b-2a9f3f5f3822" Alias="Roadlab Directors" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/RoadlabDirectors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T06:48:07</CreateDate>
    <NodeName Default="Roadlab Directors" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wg5bu153/roadlab-directors.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>