<?xml version="1.0" encoding="utf-8"?>
<Media Key="023f5a42-e689-4d47-813d-44d972537586" Alias="Roadlab Rock Mechanics" Level="5">
  <Info>
    <Parent Key="f74ea0e6-1e04-455d-a421-51bcbc6186be">October 2025</Parent>
    <Path>/Blog/October2025/TestIt/October2025/RoadlabRockMechanics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T08:48:31</CreateDate>
    <NodeName Default="Roadlab Rock Mechanics" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/irnd4auj/roadlab-rock-mechanics.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>