<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b1edaf2-6097-4618-91b1-5718578bd9f4" Alias="Rock Laboratory New Era (1)" Level="4">
  <Info>
    <Parent Key="e3cdb4d8-5b6e-4a92-938b-c76f163668ad">Test It</Parent>
    <Path>/Blog/January2026/TestIt/RockLaboratoryNewEra1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-14T07:06:58</CreateDate>
    <NodeName Default="Rock Laboratory New Era (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4tnb2k2x/rock-laboratory-new-era.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>