<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a36b446-3fb9-4387-a49f-ada13307a9d5" Alias="Scatec 1" Level="5">
  <Info>
    <Parent Key="487cdfc0-7cc0-4863-b850-b679662c59fd">Kernhardt</Parent>
    <Path>/Blog/Other/WindPowerAndRenewables/Kernhardt/Scatec1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-04T08:55:27</CreateDate>
    <NodeName Default="Scatec 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ic0dncvz/scatec-1.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>