<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dcf7bfc-bf13-4c3a-a736-0e65103a36ba" Alias="Scatec 2" Level="5">
  <Info>
    <Parent Key="487cdfc0-7cc0-4863-b850-b679662c59fd">Kernhardt</Parent>
    <Path>/Blog/Other/WindPowerAndRenewables/Kernhardt/Scatec2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-04T08:55:30</CreateDate>
    <NodeName Default="Scatec 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5j3n5hit/scatec-2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>