<?xml version="1.0" encoding="utf-8"?>
<Media Key="684779ab-a0f3-4a71-867a-9930727c76c7" Alias="Six (1)" Level="5">
  <Info>
    <Parent Key="deed6121-da6e-416b-a8c5-d45328404d05">Blog</Parent>
    <Path>/Blog/Other/PowerStations/Blog/Six1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-18T12:51:48</CreateDate>
    <NodeName Default="Six (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vv2fo0ht/six.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>