<?xml version="1.0" encoding="utf-8"?>
<Media Key="c503c4d3-2777-46a2-aa15-ff0e6b71d374" Alias="Softening Point" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/SofteningPoint</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:14:13</CreateDate>
    <NodeName Default="Softening Point" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0xcahrlx/softening-point.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>