<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ac801ac-2968-4f0d-9c45-3e683f68c282" Alias="Soils Laboratory" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/SoilsLaboratory</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T06:48:32</CreateDate>
    <NodeName Default="Soils Laboratory" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vianqkti/soils-laboratory.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>