<?xml version="1.0" encoding="utf-8"?>
<Media Key="30cd2dd2-aee5-41a5-80fb-06edd30c4aa5" Alias="Soil Profiling8" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/SoilProfiling8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T13:45:29</CreateDate>
    <NodeName Default="Soil Profiling8" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0qwn0mhf/soil-profiling8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>