<?xml version="1.0" encoding="utf-8"?>
<Media Key="236a6c81-c5c0-403e-be7e-33d75e72e93a" Alias="Soil Behaviour" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/SoilBehaviour</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:53:31</CreateDate>
    <NodeName Default="Soil Behaviour" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q3wgui4a/soil-behaviour.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>