<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad933245-9f77-4ac7-bda7-848c8def53cb" Alias="Soluble Binder Content" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/SolubleBinderContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:52</CreateDate>
    <NodeName Default="Soluble Binder Content" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imzjhllx/soluble-binder-content.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>