<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e78a361-6c20-432a-83bf-538e73ded91d" Alias="TEST PDF" Level="2">
  <Info>
    <Parent Key="b2098984-c64a-4dbf-a9e2-6ea74e21f489">PDF's</Parent>
    <Path>/PDFs/TESTPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-09-17T12:48:00</CreateDate>
    <NodeName Default="TEST PDF" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pgrhqxra/germiston-t0296-issue-18-soa.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>