<?xml version="1.0" encoding="utf-8"?>
<Media Key="88914620-b6ad-4ccd-ab05-1efe93fc0401" Alias="TEST2" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/TEST2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T14:14:15</CreateDate>
    <NodeName Default="TEST2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ezdjdcfn/test2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>