<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5a45c98-dc43-43c6-8262-f17b842d18ca" Alias="Theoretical Mix Design" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/TheoreticalMixDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:24</CreateDate>
    <NodeName Default="Theoretical Mix Design" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tzokjvkd/theoretical-mix-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>