<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f6e6a90-6a60-423e-81c1-18612c9f6e71" Alias="T&amp;M Conference (2)" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/TMConference2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T05:12:06</CreateDate>
    <NodeName Default="T&amp;M Conference (2)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/szvg2x1a/tm-conference.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>