<?xml version="1.0" encoding="utf-8"?>
<Media Key="e49b2400-ab34-402c-8ff0-4c4fe2f87a5b" Alias="T&amp;M Conference (1)" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/TMConference1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:15:27</CreateDate>
    <NodeName Default="T&amp;M Conference (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aysjxzbu/tm-conference.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>