<?xml version="1.0" encoding="utf-8"?>
<Media Key="759d1dc5-ab1d-4e12-b2ca-728911977e67" Alias="Travel To Work Site" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/TravelToWorkSite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:37</CreateDate>
    <NodeName Default="Travel To Work Site" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ymoj03i3/travel-to-work-site.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>