<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8756f72-4d63-4f4e-a93c-b52b2b33eed6" Alias="Triaxial Testing" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/TriaxialTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T07:06:12</CreateDate>
    <NodeName Default="Triaxial Testing" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/orxhl0dd/triaxial-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>