<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c6ad40b-3956-409d-bec8-32f420f272ea" Alias="Trust It October 2025 Elements2" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/TrustItOctober2025Elements2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T05:13:26</CreateDate>
    <NodeName Default="Trust It October 2025 Elements2" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bxkgu5cw/trust-it-october-2025-elements2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>