<?xml version="1.0" encoding="utf-8"?>
<Media Key="adc0da96-71f3-4c9b-ae27-417400521158" Alias="Vlakfontein" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/Vlakfontein</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T10:35:07</CreateDate>
    <NodeName Default="Vlakfontein" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sdnmblpt/vlakfontein.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>