<?xml version="1.0" encoding="utf-8"?>
<Media Key="6867cf48-b39c-433d-9127-8d7193a0c9a8" Alias="Vlcsnap 2020 02 13 16H17m29s208" Level="3">
  <Info>
    <Parent Key="12024fa3-060b-4ec9-8890-c67c4e32e4d5">East London</Parent>
    <Path>/Branches/EastLondon/Vlcsnap2020021316H17m29s208</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-17T12:41:30</CreateDate>
    <NodeName Default="Vlcsnap 2020 02 13 16H17m29s208" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j1hho0e2/vlcsnap-2020-02-13-16h17m29s208.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>