<?xml version="1.0" encoding="utf-8"?>
<Media Key="0577df2d-a7b7-4fa9-99bb-67f867db189b" Alias="Walking Profilometer" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/WalkingProfilometer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:36</CreateDate>
    <NodeName Default="Walking Profilometer" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fpphobnx/walking-profilometer.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>