<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbad81c0-13aa-4639-ad01-274907a4d0ca" Alias="Water Projects Western Cape" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/WaterProjectsWesternCape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:51</CreateDate>
    <NodeName Default="Water Projects Western Cape" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0al1w3k/water-projects-western-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>