<?xml version="1.0" encoding="utf-8"?>
<Media Key="deb24b89-103a-4793-a680-f59d74fb6963" Alias="Western Cape Services" Level="4">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-19T07:02:03</CreateDate>
    <NodeName Default="Western Cape Services" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties />
</Media>