<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f032732-a098-4b39-a188-a66e93776830" Alias="All Branches Page - Provinces - Block List" Level="1">
  <Info>
    <Name>All Branches Page - Provinces - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0e4eb891-be35-4e22-8a02-79eb6d0df011",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 0
  }
}]]></Config>
</DataType>