<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72505e79-d3d6-4b4a-aafc-b63b570a30fa" Alias="Branch - Branch Accreditation link - Media Picker" Level="1">
  <Info>
    <Name>Branch - Branch Accreditation link - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": "b2098984-c64a-4dbf-a9e2-6ea74e21f489",
  "umbMigrationV14": "2026-05-20T10:23:04.0054641\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>