<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb184dc9-1bae-4a5b-a666-bcdfe3bb19bc" Alias="Branch - Banner type - Dropdown" Level="1">
  <Info>
    <Name>Branch - Banner type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "class1",
    "class2"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-05-20T10:23:04.005132\u002B00:00"
}]]></Config>
</DataType>