<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59c493a5-9e92-436f-b87f-2d72852c496c" Alias="_Label" Level="1">
  <Info>
    <Name>_Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING"
}]]></Config>
</DataType>