<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91e27565-3b77-4497-b8f7-8895eb37adc2" Alias="List View - branches" Level="1">
  <Info>
    <Name>List View - branches</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-badge color-black",
  "includeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "branchCellNumber",
      "header": "Cell",
      "nameTemplate": null,
      "isSystem": false
    },
    {
      "alias": "branchTelephoneNumber",
      "header": "LandLine",
      "nameTemplate": null,
      "isSystem": false
    },
    {
      "alias": "branchEmail",
      "header": "Email",
      "nameTemplate": null,
      "isSystem": false
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": false,
  "umbMigrationV14": "2026-05-20T10:23:04.0113304\u002B00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>