<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9f987f2-8624-4002-88d8-6e8926dd675f" Alias="Member - Notification Sender - Roadlab NotificationSender" Level="1">
  <Info>
    <Name>Member - Notification Sender - Roadlab NotificationSender</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING"
}]]></Config>
</DataType>