<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5f2a503-a637-4a87-b2a6-97ccb87a563b" Alias="Team Member - Nested Content (1)" Level="1">
  <Info>
    <Name>Team Member - Nested Content (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e3e93d20-fff1-4d7a-8102-8e13aa52c170",
      "label": "{{aboutPage}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>