<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dbca2ab-b9ad-4c0a-bb22-1e0b69225553" Alias="_Textbox" Level="1">
  <Info>
    <Name>_Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>