<?xml version="1.0" encoding="utf-8"?>
<DataType Key="165b21be-a45e-4882-bf59-fa205671185f" Alias="Blog Article - Article Intersect Description - Textarea" Level="1">
  <Info>
    <Name>Blog Article - Article Intersect Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>