<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b52d409b-832f-40e4-a03f-e48669581ee0" Alias="Blog Article - Industry List - Nested Content" Level="1">
  <Info>
    <Name>Blog Article - Industry List - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{stringItemText}}",
      "ncAlias": "stringItem",
      "ncTabAlias": "String Item"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>