<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83ca4c23-cff5-401d-a99b-953430edaa75" Alias="_Blog Selector - Method - Dropdown" Level="1">
  <Info>
    <Name>_Blog Selector - Method - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "date"
    },
    {
      "id": 2,
      "value": "random"
    },
    {
      "id": 3,
      "value": "picker"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>