<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10637749-5dbe-4c61-8eef-b3ed4e2c5770" Alias="Branch - Branch Accreditation link - Media Picker (1)" Level="1">
  <Info>
    <Name>Branch - Branch Accreditation link - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>