<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb184dc9-1bae-4a5b-a666-bcdfe3bb19bc" Alias="Branch - Banner type - Dropdown" Level="1">
  <Info>
    <Name>Branch - Banner type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "class1"
    },
    {
      "id": 2,
      "value": "class2"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>