<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c0dc61-96fe-469d-ab2c-bfc8e4b2650d" Alias="Key Value List" Level="1">
  <Info>
    <Name>Key Value List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3609338b-cd98-4e99-a036-2ec49e77e613",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{limasClientAccountNumber}}-{{limsClientName}}-{{limsClientId}}-{{limsContactId}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>