<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9269cb1-1cc6-4480-aeac-16527955854f" Alias="Member - Communication DateTime - DateTime" Level="1">
  <Info>
    <Name>Member - Communication DateTime - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>