<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8728ff6-1fa3-4a57-9336-2c4a3ed11c9b" Alias="Member - Device Type - Textbox" Level="1">
  <Info>
    <Name>Member - Device Type - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>