<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f2646d1-1fc3-4eba-9b90-2e512458f4f0" Alias="Page Description - Textbox (1)" Level="1">
  <Info>
    <Name>Page Description - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160
}]]></Config>
</DataType>