<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34e11bdf-7683-4f94-a8b7-555850b94e39" Alias="Products - Category Number - Textbox (1)" Level="1">
  <Info>
    <Name>Products - Category Number - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 3
}]]></Config>
</DataType>