<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b24c8c8-ac9e-4870-9d02-abf766b9d040" Alias="Products - Service Categories - Nested Content" Level="1">
  <Info>
    <Name>Products - Service Categories - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{products}}",
      "ncAlias": "products",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>