<?xml version="1.0" encoding="utf-8"?>
<DataType Key="328119f1-9042-4bec-a219-0c50d2ea8baf" Alias="Project Image" Level="1">
  <Info>
    <Name>Project Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaImage",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/05efcd7916a04ea9ac942349d582b6ba",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>