<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e365958-2a90-4adf-9d07-ba39b88335cd" Alias="Quote Request - Quote Request Line Items - Nested Content" Level="1">
  <Info>
    <Name>Quote Request - Quote Request Line Items - Nested Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e4ed7bf8-9a10-43d8-8292-5e9c15c667c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{quoteRequestLineItemTestType}} - {{quoteRequestLineItemQuantity}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>