<?xml version="1.0" encoding="utf-8"?>
<DataType Key="549b4804-298a-4882-807f-4bb0ef6e1cbc" Alias="Quote Request - Quote Request Line Items - Nested Content (1)" Level="1">
  <Info>
    <Name>Quote Request - Quote Request Line Items - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{quoteRequestLineItemTestType}} - {{quoteRequestLineItemQuantity}}",
      "ncAlias": "elementQuoteRequestLineItem",
      "ncTabAlias": "Line Item"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": 1,
  "ShowIcons": true
}]]></Config>
</DataType>