<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5653fd5-232c-463d-b51b-04ded880028c" Alias="Services Media" Level="1">
  <Info>
    <Name>Services Media</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>