<?xml version="1.0" encoding="utf-8"?>
<Content Key="191dc650-df63-4578-b1f1-2512bb08500e" Alias="A New Era for Material Analysis in Africa" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">TEST IT</Parent>
    <Path>/WHATWEDO/TESTIT/ANewEraForMaterialAnalysisInAfrica</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2025-10-21T07:31:14</CreateDate>
    <NodeName Default="A New Era for Material Analysis in Africa" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-10-01T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab enters a new phase with the installation of Africa’s first Anton Paar X-Ray Diffractometer and continued NME design work across key projects.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"cebb1e4f-5025-4842-960b-7de8c9670d39","mediaKey":"10c9f0a2-371b-4284-8e37-81bd34675df5"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"cfd66713-78b0-4872-b0bf-8f40406b7fbd","mediaKey":"023f5a42-e689-4d47-813d-44d972537586"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[A New Era for Material Analysis in Africa]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/c610b0a3645543d08c588ea50601ce51"},{"contentUdi":"umb://element/f126cfd5d7b349ada9d141997be2ec09"},{"contentUdi":"umb://element/094acfbe3a1044c899ab52efaa38ea40"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/c610b0a3645543d08c588ea50601ce51","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f126cfd5d7b349ada9d141997be2ec09","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/094acfbe3a1044c899ab52efaa38ea40","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab has entered a new phase of analytical capability with the installation of Africa’s first X-Ray Diffractometer and continued NME design work across key projects — strengthening our role in delivering data-driven confidence nationwide.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[THE FUTURE OF MATERIAL TESTING ]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[YOU ARE ENTERING]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/9d97469564444f3ab661d996862f7ede"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9d97469564444f3ab661d996862f7ede","PropType":null,"stringItemText":"Test It."}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/c6e49975b3a546efbd2dccdea2f7978f"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/c6e49975b3a546efbd2dccdea2f7978f","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[A New Era for Material Analysis in Africa]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"0a363449-34c8-4808-9bba-7ca9459160bf","mediaKey":"a85a94da-a0b5-4bf7-a729-e497b8cc9e28"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[A New Era for Material Analysis in Africa]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab enters a new phase with the installation of Africa’s first Anton Paar X-Ray Diffractometer and continued NME design work across key projects.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[NEXT-LEVEL MATERIAL SCIENCE]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[TEST IT.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[A New Era for Material Analysis in Africa]]></Value>
    </pageTitle>
  </Properties>
</Content>