<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbdc1748-f645-4866-bb3b-eeab39a19009" Alias="Bridge investigations in Makhado Local Municipality" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/BridgeInvestigationsInMakhadoLocalMunicipality</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-04-23T09:07:19</CreateDate>
    <NodeName Default="Bridge investigations in Makhado Local Municipality" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2020-12-01T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Our teams conducting important bridge investigations around the Letaba, Xilovolo and Makhuvule rivers in Limpopo.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"9f1491b1-1853-464a-9da6-69941e830e5e","mediaKey":"2d12a792-41b2-43f9-a014-6d36dc7f2381"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"c008c140-5bb1-492e-94f7-761b853c4db0","mediaKey":"31846790-f0de-405c-822a-73ae24ed1b3a"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Bridge Investigations In Makhado Local Municipality]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/a2d3edb2a5c4474aaa7bf4235cd198b8"},{"contentUdi":"umb://element/33ab1bbe425c44b9bd1278db8f58bb22"},{"contentUdi":"umb://element/8a82e3e7b3f84318a43bbf4aadd96daf"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/a2d3edb2a5c4474aaa7bf4235cd198b8","stringItemText":"Non-invasive and non-destructive technology"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/33ab1bbe425c44b9bd1278db8f58bb22","stringItemText":"Concrete integrity testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8a82e3e7b3f84318a43bbf4aadd96daf","stringItemText":"Rebar mapping"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab is an accomplished supporter of South Africa’s state enterprises, over 400 construction companies and more than 60 consulting firms.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/1aa5384f4cd5433f87b71f2f1a072cfb"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/1aa5384f4cd5433f87b71f2f1a072cfb","stringItemText":"Construction and Civil Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/1dda5facd3954b6b8d7422ea02984414"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/1dda5facd3954b6b8d7422ea02984414","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"c6e93e5c-65e2-4cc1-85f8-8117674f66b4","mediaKey":"fea179c4-0a7c-4358-8ae9-e9d830fe09eb"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our teams conducting important bridge investigations around the Letaba, Xilovolo and Makhuvule rivers in Limpopo.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Bridge Investigations]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Makhado Local Municipality]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Bridge investigations in Makhado Local Municipality]]></Value>
    </pageTitle>
  </Properties>
</Content>