<?xml version="1.0" encoding="utf-8"?>
<Content Key="12adf76d-d3ba-4e23-a78b-de78a4bb8572" Alias="Building Gauteng: Our 5 Decades In Civil Engineering" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">Our World</Parent>
    <Path>/Industries/OurWorld/BuildingGautengOur5DecadesInCivilEngineering</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-11-24T12:56:26</CreateDate>
    <NodeName Default="Building Gauteng: Our 5 Decades In Civil Engineering" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab's Northern Cape branches have worked on some of SA's longest-running and most innovative energy projects.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"7be3dfdc-8781-4e67-9c43-35de9830c8af","mediaKey":"8a5f94cd-1dd4-443e-8604-c5341fdc731e"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"96f86df5-2bcd-433e-91b5-25555378bab9","mediaKey":"8a5f94cd-1dd4-443e-8604-c5341fdc731e"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Building Gauteng: Our 5 Decades In Civil Engineering]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/d6f12008ec6a4879a6bdc00ae6d0e278"},{"contentUdi":"umb://element/0ca142ac061843cc8304113325afdb04"},{"contentUdi":"umb://element/e17fc09b662b458b914b292a1bfe0ee9"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/d6f12008ec6a4879a6bdc00ae6d0e278","stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/0ca142ac061843cc8304113325afdb04","stringItemText":"Concrete Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e17fc09b662b458b914b292a1bfe0ee9","stringItemText":"Soil Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>From new projects and business developments to safety and accreditation news, here's the latest from Roadlab.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[OUR WORLD]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[THE LATEST NEWS FROM]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/b1ca64cc94bf481f9a7622244b340d4f"},{"contentUdi":"umb://element/4041b1fbc5ae416b989446582f161246"},{"contentUdi":"umb://element/2013dbfc379c4c31af04b09202aeb92d"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b1ca64cc94bf481f9a7622244b340d4f","stringItemText":"Mining"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/4041b1fbc5ae416b989446582f161246","stringItemText":"Wind Farms and Renewables"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2013dbfc379c4c31af04b09202aeb92d","stringItemText":"Construction Companies"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/5e04778323774e02a07737cf3f72ca18"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/5e04778323774e02a07737cf3f72ca18","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab's Northern Cape branches have worked on some of SA's longest-running and most innovative energy projects.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[The Northern Cape]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Kathu, Upington]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Building Gauteng: Our 5 Decades In Civil Engineering]]></Value>
    </pageTitle>
  </Properties>
</Content>