<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fa1364d-d1bb-4baa-8701-e1f8c86c49a6" Alias="Delivered Projects in September 2025" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/DeliveredProjectsInSeptember2025</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2025-09-12T12:00:14</CreateDate>
    <NodeName Default="Delivered Projects in September 2025" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-10-01T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Two Major Roadlab site laboratories completed their work this month — South Africa’s largest coal-fired power station and a vital regional corridor in the North-West.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"a779cfd5-717e-4032-a6f6-de6222f99623","mediaKey":"1a6a433a-286c-4a56-a12a-f93a41f717cb"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"486c6944-424c-4f11-b649-fb6786c68fa4","mediaKey":"1a6a433a-286c-4a56-a12a-f93a41f717cb"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Delivered Projects in September 2025]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e935d324656e44e29baacfdb2a1c2f85"},{"contentUdi":"umb://element/8a325ded94954f778a271abad70be344"},{"contentUdi":"umb://element/42fd6cb4bd094a1baac98d798ea9e5cb"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e935d324656e44e29baacfdb2a1c2f85","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8a325ded94954f778a271abad70be344","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/42fd6cb4bd094a1baac98d798ea9e5cb","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>October saw the conclusion of the Mabunyaneng and Khubelu Bridges in the Lesotho Highlands, the 14-year Kusile Power Station programme in Mpumalanga and vital national and regional corridors in the North-West and Free State — each strengthened by Roadlab’s accredited testing.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Concluded Projects in October 2025]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[Water, Power, Transport]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6eb4a2c7064d491d84463b3b7bb9af3d"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6eb4a2c7064d491d84463b3b7bb9af3d","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/1251ced6379c4d1e8e77ea98b26d5281"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/1251ced6379c4d1e8e77ea98b26d5281","PropType":null,"stringItemText":"Western Cape"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Four Roadlab site laboratories completed their work this month — from Lesotho’s mountainous bridge crossings to South Africa’s largest coal-fired power station.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"67412f85-d526-4e6c-9d06-6a6015fee519","mediaKey":"a85a94da-a0b5-4bf7-a729-e497b8cc9e28"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Delivered Projects in September 2025]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Four Roadlab site laboratories completed their work this month — from Lesotho’s mountainous bridge crossings to South Africa’s largest coal-fired power station.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[PROJECTS DELIVERED.]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[TESTING CONCLUDED.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Delivered Projects in September 2025]]></Value>
    </pageTitle>
  </Properties>
</Content>