<?xml version="1.0" encoding="utf-8"?>
<Content Key="68ef0064-8e43-40e9-aee5-b364fce8ba61" Alias="Delivered Projects - October 2025" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/DeliveredProjectsOctober2025</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2025-09-19T07:06:41</CreateDate>
    <NodeName Default="Delivered Projects - October 2025" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-11-01T13:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Both the R27 Calvinia Special Maintenance Project in the Northern Cape and the R61 Cradock Upgrade in the Eastern Cape have concluded.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"9ed6b9f9-4839-4366-ba28-e44c5888b9b6","mediaKey":"267a39a6-10f3-40ce-9165-3c324cfb3b59"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"90e9095a-1d55-4ced-ba1d-e8f4718199ed","mediaKey":"267a39a6-10f3-40ce-9165-3c324cfb3b59"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Delivered Projects - October 2025]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6cf87a284fd6464aa19f5428c761ec3d"},{"contentUdi":"umb://element/9d02e98aef7241c7b3dfd8941b205b21"},{"contentUdi":"umb://element/2be524fcaf1c4aaebc2225e2b1dd2b9c"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6cf87a284fd6464aa19f5428c761ec3d","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9d02e98aef7241c7b3dfd8941b205b21","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2be524fcaf1c4aaebc2225e2b1dd2b9c","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>This month, our site-laboratories have wrapped up two major infrastructure assignments in the North West and the Eastern Cape —each underscoring how accredited testing, on-site expertise and strategic partnerships deliver lasting impact.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[BUILDING CONFIDENCE, ONE PROJECT AT A TIME]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[ROADLAB IS]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/712b195414ea43ca8facdda6e8b61aa7"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/712b195414ea43ca8facdda6e8b61aa7","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/9548e4c81d9c4655aab121b5184a5cb4"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9548e4c81d9c4655aab121b5184a5cb4","PropType":null,"stringItemText":"Western Cape"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Both the R27 Calvinia Special Maintenance Project in the Northern Cape and the R61 Cradock Upgrade in the Eastern Cape have concluded, thanks to accredited testing, on-site expertise, and close client partnerships.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"258fceb2-a524-4ede-9f58-2be81ce6f683","mediaKey":"a85a94da-a0b5-4bf7-a729-e497b8cc9e28"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Delivered Projects - October 2025]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Four Roadlab site laboratories completed their work this month — from Lesotho’s mountainous bridge crossings to South Africa’s largest coal-fired power station.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[DELIVERED PROJECTS]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[BUILD IT.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Delivered Projects - October 2025]]></Value>
    </pageTitle>
  </Properties>
</Content>