<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8179f3e-d567-4fb6-ba5a-0cbb5539d777" Alias="Delivered Project: Koruson 1 Renewable Energy Wind Farm" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/DeliveredProjectKoruson1RenewableEnergyWindFarm</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2026-01-26T09:04:02</CreateDate>
    <NodeName Default="Delivered Project: Koruson 1 Renewable Energy Wind Farm" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-23T13:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab Bloemfontein is proud to have supported the Koruson 1 Renewable Energy Project, a landmark development forming part of South Africa’s REIPPPP Round 5.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"8ffb0c8d-14e0-4738-8adb-b25ba92e58bc","mediaKey":"f800c993-fd81-4643-a5bf-40e422ddb2ab"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"63eb5d02-afd5-4e74-8a5d-23b973fdd2f4","mediaKey":"f800c993-fd81-4643-a5bf-40e422ddb2ab"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Delivered Project: Koruson 1 Renewable Energy Wind Farm]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/9f1c16a7b41a4631aeab147f067ad28c"},{"contentUdi":"umb://element/06a7374737c9435ca2cb3eb963cede32"},{"contentUdi":"umb://element/254977986cc446c18ba3c844792246bd"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9f1c16a7b41a4631aeab147f067ad28c","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/06a7374737c9435ca2cb3eb963cede32","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/254977986cc446c18ba3c844792246bd","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab Bloemfontein is proud to have supported the Koruson 1 Renewable Energy Project, a landmark development forming part of South Africa’s REIPPPP Round 5.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[BUILDING CONFIDENCE, ONE PROJECT AT A TIME]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[ROADLAB IS]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e6cba53005d8455f97ef97feca434a53"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e6cba53005d8455f97ef97feca434a53","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6f6dcc8e57874833a436df68510bd3e0"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6f6dcc8e57874833a436df68510bd3e0","PropType":null,"stringItemText":"Western Cape"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Roadlab Bloemfontein is proud to have supported the Koruson 1 Renewable Energy Project, a landmark development forming part of South Africa’s REIPPPP Round 5.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"14cce59f-55f9-410a-b44d-26d5871db4c2","mediaKey":"27442573-a055-447e-8cca-bcb16a1ac6cf"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Delivered Project: Koruson 1 Renewable Energy Wind Farm]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab Bloemfontein is proud to have supported the Koruson 1 Renewable Energy Project, a landmark development forming part of South Africa’s REIPPPP Round 5.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[RENEWABLE INFRASTRUCTURE]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[BUILD IT.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Delivered Project: Koruson 1 Renewable Energy Wind Farm]]></Value>
    </pageTitle>
  </Properties>
</Content>