<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc5f268f-653a-4de6-99f2-21f950055718" Alias="home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-05-20T09:35:20</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8198b618-ae8f-4fc2-a5b3-5e6112a58ca0">HomePage</Template>
  </Info>
  <Properties>
    <desktopImage>
      <Value><![CDATA[[
  {
    "key": "285842cf-e126-4457-9500-2703a3af41a0",
    "mediaKey": "527df05f-3e8e-44d2-9081-a793372f20b9"
  }
]]]></Value>
    </desktopImage>
    <footerAccreditation>
      <Value><![CDATA[[]]]></Value>
    </footerAccreditation>
    <footerBee>
      <Value><![CDATA[[]]]></Value>
    </footerBee>
    <method>
      <Value><![CDATA[]]></Value>
    </method>
    <mobileImage>
      <Value><![CDATA[[
  {
    "key": "6d5fded0-4b79-4f36-a802-c4504593b295",
    "mediaKey": "333cae19-01a2-44d6-ab3d-a5f84163c11a"
  }
]]]></Value>
    </mobileImage>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[[]]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <recentArticlesPicker>
      <Value><![CDATA[]]></Value>
    </recentArticlesPicker>
  </Properties>
</Content>