<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2297fcf-60fb-410e-bfab-52971b5c85bb" Alias="Inside Roadlab’s Rock Mechanics Laboratory" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">TEST IT</Parent>
    <Path>/WHATWEDO/TESTIT/InsideRoadlabSRockMechanicsLaboratory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2026-01-12T06:34:56</CreateDate>
    <NodeName Default="Inside Roadlab’s Rock Mechanics Laboratory" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-01-09T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab’s Rock Mechanics Laboratory enters operational readiness, focusing on verification testing and controlled sample preparation to ensure reliable results.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"a59edf8a-a9c5-4e08-b5d5-808cb6aaf493","mediaKey":"3d2e9de1-fa74-4ccd-86e8-3d90c87b2869"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"e6cbb9c5-c605-4fd5-b57f-64e6b4768709","mediaKey":"3d2e9de1-fa74-4ccd-86e8-3d90c87b2869"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Inside Roadlab’s Rock Mechanics Laboratory]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/b2a3edc0320545289b8308b47e659819"},{"contentUdi":"umb://element/690bbe705c024c9194a1957d1fa8e68e"},{"contentUdi":"umb://element/e5c3cd0014b741589806c3ce5728895a"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b2a3edc0320545289b8308b47e659819","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/690bbe705c024c9194a1957d1fa8e68e","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e5c3cd0014b741589806c3ce5728895a","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab’s Rock Mechanics Laboratory has entered operational readiness and is now focused on verification testing to ensure reliable results once we go to market.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[MEETS GOOD SCIENCE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[WHERE ADVANCED TESTING]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/30fcded574884301b595453e8b0d0a21"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/30fcded574884301b595453e8b0d0a21","PropType":null,"stringItemText":"Test It."}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/a140fed28ec544cfaf3a16ae37418e63"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/a140fed28ec544cfaf3a16ae37418e63","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Inside Roadlab’s Rock Mechanics Laboratory]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"879dc6b5-1f91-42c8-a8cf-5590edbe5760","mediaKey":"a85a94da-a0b5-4bf7-a729-e497b8cc9e28"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Inside Roadlab’s Rock Mechanics Laboratory]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab’s Rock Mechanics Laboratory enters operational readiness, focusing on verification testing and controlled sample preparation to ensure reliable results.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[NEXT-LEVEL MATERIAL SCIENCE]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[TEST IT.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Inside Roadlab’s Rock Mechanics Laboratory]]></Value>
    </pageTitle>
  </Properties>
</Content>