<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c013d80-4018-4076-b943-8afa3fa8540d" Alias="Leading Quality Assurance in the Eastern Cape" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">TEST IT</Parent>
    <Path>/WHATWEDO/TESTIT/LeadingQualityAssuranceInTheEasternCape</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-02-17T08:03:08</CreateDate>
    <NodeName Default="Leading Quality Assurance in the Eastern Cape" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-10-28T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Take a closer look at our Eastern Cape branches and the full scope of our  quality assurance services in the regions.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"af5cb300-56ff-4b2b-af0f-45f0fb510102","mediaKey":"9b59e7de-dda2-4051-9f12-f841400d6eea"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"3cd0ea9f-5f39-468e-b5ea-f19623986959","mediaKey":"9b59e7de-dda2-4051-9f12-f841400d6eea"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Leading Quality Assurance in the Eastern Cape]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/94f854dcff40439c96a301f97016eb45"},{"contentUdi":"umb://element/8d65a12dc9e44695a0250ba51ba6596c"},{"contentUdi":"umb://element/030382f9548d446e9b3972050ff3e77d"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/94f854dcff40439c96a301f97016eb45","PropType":null,"stringItemText":"Concrete Durability Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8d65a12dc9e44695a0250ba51ba6596c","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/030382f9548d446e9b3972050ff3e77d","PropType":null,"stringItemText":"Concrete Mix Designs"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>A trusted laboratory offering the Eastern Cape's broadest range of testing services, our accredited facilities are equipped to perform all your quality assurance testing.&nbsp;&nbsp;<br><br><strong>YOU CAN REACH OUT TO OUR EASTERN CAPE TEAM TODAY AT 010 021 0570.</strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[THE EASTERN CAPE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/d46e17729ad743b9b94bcbcfc36e5399"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/d46e17729ad743b9b94bcbcfc36e5399","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/ae5e0ec542744bb895915565cca653f7"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/ae5e0ec542744bb895915565cca653f7","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Take a closer look at our Eastern Cape branches and the full scope of our  quality assurance services in the regions.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"c4183541-3bf1-4fb8-ac43-8c7a5d709765","mediaKey":"4b2049d9-66b2-47ab-9e3d-5f258663688b"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Leading Quality Assurance in the Eastern Cape]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Take a closer look at our Eastern Cape branches and the full scope of our  quality assurance services in the regions.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[ON-SITE AND LABORATORY TESTING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Supporting the Eastern Cape Construction Industry]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Leading Quality Assurance in the Eastern Cape]]></Value>
    </pageTitle>
  </Properties>
</Content>