<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c693bf1-dabe-4227-a22b-d1e6e95b65af" Alias="Lifting Limpopo - Working Close to Home (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000">
    </Parent>
    <Path>/[-20]/LiftingLimpopoWorkingCloseToHome</Path>
    <Trashed Parent="96f36e04-7ec4-43e3-964e-d4e722578baa">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-07T07:47:06</CreateDate>
    <NodeName Default="Lifting Limpopo - Working Close to Home (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-03-25T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Lifting Limpopo]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"d334abf0-5bb6-402e-a1e9-52824eb11b03","mediaKey":"7a3a5247-717e-4d1b-9070-4ee2c6391f0a"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"0e7b43f2-86ae-4ca0-b074-e5fe1ec9dba7","mediaKey":"1d4a1ff0-ca66-40bc-aa5a-df0b27f8c5d6"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Lifting Limpopo - Working Close o]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/d4cf7b07615d4be5afa0a1376da680fc"},{"contentUdi":"umb://element/0ec93fdb7a1742fc8131c29295af593e"},{"contentUdi":"umb://element/6c0755090e7c45ea8fcdee098961a547"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/d4cf7b07615d4be5afa0a1376da680fc","PropType":null,"stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/0ec93fdb7a1742fc8131c29295af593e","PropType":null,"stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6c0755090e7c45ea8fcdee098961a547","PropType":null,"stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of over 400 construction companies and 60 consulting firms. Our particle size analysis capabilities enable us to support their aggregate, soils and quality control needs.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/4c6982d70c6744809c61497986d2e04c"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/4c6982d70c6744809c61497986d2e04c","PropType":null,"stringItemText":"Wind Power and Renewables"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f65e56b68c074bbda8fd4de53ce33963"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f65e56b68c074bbda8fd4de53ce33963","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Introducing the latest addition to our laboratory equipment lineup: the Mastersizer 3000E from Malvern Panalytical. ]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"f89c9e75-3eda-497c-bfb2-aa358ea4b1e7","mediaKey":"7a3a5247-717e-4d1b-9070-4ee2c6391f0a"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Lifting Limpopo - Working Close to Home]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[The latest addition to our laboratory equipment is the Mastersizer 3000E. This describes it's use and value for our clients in the construction industry.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Lifting Limpopo]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Seshego, Polokwane]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Lifting Limpopo - Working Close to Home]]></Value>
    </pageTitle>
  </Properties>
</Content>