<?xml version="1.0" encoding="utf-8"?>
<Content Key="73306cfe-a309-4039-96ec-83ae310b25fc" Alias="Lifting  Limpopo - Working Close to Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000">
    </Parent>
    <Path>/[-20]/LiftingLimpopoWorkingCloseToHome</Path>
    <Trashed Parent="96f36e04-7ec4-43e3-964e-d4e722578baa">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-07T07:05:31</CreateDate>
    <NodeName Default="Lifting  Limpopo - Working Close to Home" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-03-25T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Introducing the latest addition to our laboratory equipment lineup: the Mastersizer 3000E from Malvern Panalytical. ]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"2bf6bc3d-62d5-48d1-b2ca-81b55100f275","mediaKey":"78794239-78fd-498b-9e29-28dd1c00cbb6"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"b8b202c5-b888-435c-b5b4-2bb791d0db4e","mediaKey":"1d4a1ff0-ca66-40bc-aa5a-df0b27f8c5d6"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Particle Size Analysis: Introducing Our Mastersizer]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/2fd6c824c6774465bde3c38988825648"},{"contentUdi":"umb://element/7c559ecef28f4dacade79bdf7eb54782"},{"contentUdi":"umb://element/4ebf57d8f29a4479ab12e0cf566ce62c"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2fd6c824c6774465bde3c38988825648","PropType":null,"stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/7c559ecef28f4dacade79bdf7eb54782","PropType":null,"stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/4ebf57d8f29a4479ab12e0cf566ce62c","PropType":null,"stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of over 400 construction companies and 60 consulting firms. Our particle size analysis capabilities enable us to support their aggregate, soils and quality control needs.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e0580194657347758c2c72e473c28be2"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e0580194657347758c2c72e473c28be2","PropType":null,"stringItemText":"Wind Power and Renewables"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/c613648f47984707aac3acc5f949d12d"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/c613648f47984707aac3acc5f949d12d","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Introducing the latest addition to our laboratory equipment lineup: the Mastersizer 3000E from Malvern Panalytical. ]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"7fe1c76f-15da-4dc7-b70c-5502994ecbf1","mediaKey":"78794239-78fd-498b-9e29-28dd1c00cbb6"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Particle Size Analysis: Introducing our Mastersizer]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[The latest addition to our laboratory equipment is the Mastersizer 3000E. This describes it's use and value for our clients in the construction industry.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Lifting Lom]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Seshego, Polokwane]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Lifting Limpopo - Working Close to Home]]></Value>
    </pageTitle>
  </Properties>
</Content>