<?xml version="1.0" encoding="utf-8"?>
<Content Key="012dfb01-f7fb-4ae2-95fb-1f362c18c1ec" Alias="LUSIPII: 3 New Mega-Bridges in Lesotho" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/LUSIPII3NewMegaBridgesInLesotho</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2025-02-13T05:23:48</CreateDate>
    <NodeName Default="LUSIPII: 3 New Mega-Bridges in Lesotho" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-10-28T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Lesotho’s Highlands Water Project Phase II includes the construction of three major bridges—Senqu, Mabunyane, and Khubelu - in high-altitude, challenging terrain.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"92c79ff0-c0a5-4eb4-98c0-7d3c04686444","mediaKey":"c7c923c7-7a25-41d5-8767-a1e659b7fc8c"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"0b7912f2-3c24-4aea-ab86-d8fe0a361638","mediaKey":"c7c923c7-7a25-41d5-8767-a1e659b7fc8c"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[LUSIPII: 3 New Mega-Bridges in Lesotho]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6f95dce792ac48b595db4aea174e4171"},{"contentUdi":"umb://element/d603144bf7d2477da99d22e0c05c462b"},{"contentUdi":"umb://element/649529c0c7a84ab19ebd9d1231d55d7e"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6f95dce792ac48b595db4aea174e4171","PropType":null,"stringItemText":"Concrete Durability Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/d603144bf7d2477da99d22e0c05c462b","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/649529c0c7a84ab19ebd9d1231d55d7e","PropType":null,"stringItemText":"Concrete Mix Designs"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>A trusted laboratory active on Lesotho's largest projects, offering the broadest range of testing services for geotechnical and soil investigations, concrete and asphalt evaluations and more quality assurance testing.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[LESOTHO’S LANDMARK PROJECTS]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR ROLE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/38b8c130682d4c6cb254eecc92637196"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/38b8c130682d4c6cb254eecc92637196","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/5091992de04249a4bfef376a5a9675b5"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/5091992de04249a4bfef376a5a9675b5","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Ensuring the quality of Lesotho’s Senqu, Mabunyane, and Khubelu Bridges with advanced geotechnical and materials testing.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"564a5724-8ef9-4503-ac3f-9299e9dc0b81","mediaKey":"221ed0a1-ace1-461c-a871-da8d668f9a9d"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[LUSIPII: 3 New Mega-Bridges in Lesotho]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Testing for Lesotho’s largest bridges—Senqu, Mabunyane, and Khubelu. Ensuring durability through geotechnical, concrete, and asphalt evaluations.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[ON-SITE AND LABORATORY TESTING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Supporting the Lesotho Construction Industry]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[LUSIPII: 3 New Mega-Bridges in Lesotho]]></Value>
    </pageTitle>
  </Properties>
</Content>