<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad004a96-3ca2-4b33-b76b-a71a07ccb83d" Alias="Modernising Southern Africa's Busiest Land Border" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/ModernisingSouthernAfricasBusiestLandBorder</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-04-04T08:12:52</CreateDate>
    <NodeName Default="Modernising Southern Africa's Busiest Land Border" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-04-04T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"44dca916-f8ed-4161-a051-97a3b29f32db","mediaKey":"52100b06-5bc2-4e39-967d-e25508eff42f"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"71f3bf55-d340-47d2-b54f-aaebfc2a2bc8","mediaKey":"52100b06-5bc2-4e39-967d-e25508eff42f"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f722a4b65aa34eaea68d0dc8f25fc288"},{"contentUdi":"umb://element/83fd0565e04143c98333e81bc93acf39"},{"contentUdi":"umb://element/5d2cfc10fbae4ddaae18a1f323d42a5c"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f722a4b65aa34eaea68d0dc8f25fc288","stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/83fd0565e04143c98333e81bc93acf39","stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/5d2cfc10fbae4ddaae18a1f323d42a5c","stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab is a trusted supporter of state enterprises across Africa as well as over 400 construction companies and more than 60 consulting firms. </p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e5f8544c302e43deb312f7a3aed11b0b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e5f8544c302e43deb312f7a3aed11b0b","stringItemText":"Civil Construction"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/2124068dfc464c558b646c62f183c40b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2124068dfc464c558b646c62f183c40b","stringItemText":"Zimbabwe"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"3db45976-5e5a-4c93-b397-58d5e373394c","mediaKey":"1556e35a-a250-44fe-bb45-d28f8c8015f7"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Zimbabwe, South Africa]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Beitbridge]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </pageTitle>
  </Properties>
</Content>