<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4b4ca97-1b93-4646-b7e7-1f6be4152de1" Alias="Modernising Southern Africa's Busiest Land Border (1)" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">Civil Construction</Parent>
    <Path>/Industries/CivilConstruction/ModernisingSouthernAfricasBusiestLandBorder1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-07-10T06:35:24</CreateDate>
    <NodeName Default="Modernising Southern Africa's Busiest Land Border (1)" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-04-04T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"997f8246-ab57-4e2e-bf43-e4b344b7a7e9","mediaKey":"52100b06-5bc2-4e39-967d-e25508eff42f"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"e05ab8a4-c728-46fb-89a9-9893ea1bc311","mediaKey":"52100b06-5bc2-4e39-967d-e25508eff42f"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/274db6c020b9407e8fe8b6213054815d"},{"contentUdi":"umb://element/2e00fc9b6e3949d2ac37f57f679ae9d4"},{"contentUdi":"umb://element/b7b2e09c28a04b0092099e7d030e9dfa"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/274db6c020b9407e8fe8b6213054815d","stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2e00fc9b6e3949d2ac37f57f679ae9d4","stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b7b2e09c28a04b0092099e7d030e9dfa","stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab is a trusted supporter of state enterprises across Africa as well as over 400 construction companies and more than 60 consulting firms. </p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/9e76ebbbb0664ab5b9c808977b1977f8"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9e76ebbbb0664ab5b9c808977b1977f8","stringItemText":"Civil Construction"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/1b105c2caf12443f85b54432bc35fcea"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/1b105c2caf12443f85b54432bc35fcea","stringItemText":"Zimbabwe"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"08fcaf30-2dbd-4e77-b09d-b94fc1c77df9","mediaKey":"1556e35a-a250-44fe-bb45-d28f8c8015f7"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Here's how we contributed to the modernisation of the R1.2 billion Beitbridge Border Post, a critical access point for Southern African trade.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Zimbabwe, South Africa]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Beitbridge]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Modernising Southern Africa's Busiest Land Border]]></Value>
    </pageTitle>
  </Properties>
</Content>