<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1535b15-b559-4df2-bd80-f3684f23c2ee" Alias="Northern Cape Mines, Minerals and Material Assurance" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000">
    </Parent>
    <Path>/[-20]/NorthernCapeMinesMineralsAndMaterialAssurance</Path>
    <Trashed Parent="96f36e04-7ec4-43e3-964e-d4e722578baa">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-25T10:14:44</CreateDate>
    <NodeName Default="Northern Cape Mines, Minerals and Material Assurance" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-10-21T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[The rich ore deposits of the Northern Cape fuel some of South Africa's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"f234f503-69b9-4771-bf73-b920c4186688","mediaKey":"412750f1-ca8e-4b31-84a6-8c5cd071f0e9"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"477e13fa-11ab-4f12-9294-8144f88063cd","mediaKey":"412750f1-ca8e-4b31-84a6-8c5cd071f0e9"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/8350d0fc3f184eacaab4684fbddf5bbc"},{"contentUdi":"umb://element/e9154552f25741659402b9d069318070"},{"contentUdi":"umb://element/38eecaab348b42808f91f27a4c30f199"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8350d0fc3f184eacaab4684fbddf5bbc","PropType":null,"stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e9154552f25741659402b9d069318070","PropType":null,"stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/38eecaab348b42808f91f27a4c30f199","PropType":null,"stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of South Africa’s largest mining operations,&nbsp;<br>over 400 construction companies and more than 60 consulting firms.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[MINING AND QUARRYING]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/0ffa7b89c79843fa898b210fbcc5f952"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/0ffa7b89c79843fa898b210fbcc5f952","PropType":null,"stringItemText":"Mining"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/25c4f08732194bddb9b2aa47de4e1545"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/25c4f08732194bddb9b2aa47de4e1545","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[The rich ore deposits of the Northern Cape fuel some of South Africa's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"18fdb7fd-435c-42ea-bfd3-d0b189b7214d","mediaKey":"7bd25273-0c61-4921-9d06-1426c6f41005"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[The rich deposits of the Northern Cape fuel some of SA's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Northern Cape Mines]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Mamatwan, Wessels, Khumani, Sishen]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </pageTitle>
  </Properties>
</Content>