<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4e962c1-38fc-4cdb-9ec1-6cf3fb2a1bfc" Alias="Northern Cape Mines, Minerals and Material Assurance" Level="3">
  <Info>
    <Parent Key="adaf1926-7501-4144-b9cf-810f8a2d9b34">TRUST IT</Parent>
    <Path>/WHATWEDO/TRUSTIT/NorthernCapeMinesMineralsAndMaterialAssurance</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-18T10:12:36</CreateDate>
    <NodeName Default="Northern Cape Mines, Minerals and Material Assurance" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-10-21T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[The rich ore deposits of the Northern Cape fuel some of South Africa's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"644f8756-5400-4f3c-85a7-41bb6bf2cb1b","mediaKey":"412750f1-ca8e-4b31-84a6-8c5cd071f0e9"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"0277b9bd-3d1e-4882-9ea0-5ee45d54ef24","mediaKey":"412750f1-ca8e-4b31-84a6-8c5cd071f0e9"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6482b1b69d854090933a9721400e752d"},{"contentUdi":"umb://element/2d9248afab564eea863a3843174eb19f"},{"contentUdi":"umb://element/5e1895e4b18048dbb5bf4e6eeb8fe001"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6482b1b69d854090933a9721400e752d","PropType":null,"stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2d9248afab564eea863a3843174eb19f","PropType":null,"stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/5e1895e4b18048dbb5bf4e6eeb8fe001","PropType":null,"stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of South Africa’s largest mining operations,&nbsp;<br>over 400 construction companies and more than 60 consulting firms.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[MINING AND QUARRYING]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/4d4ea195ccff42c187c7b5d397b9e5e8"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/4d4ea195ccff42c187c7b5d397b9e5e8","PropType":null,"stringItemText":"Mining"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f4bf5de9f95d4460bb1ea479a43e65ba"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f4bf5de9f95d4460bb1ea479a43e65ba","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[The rich ore deposits of the Northern Cape fuel some of South Africa's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"1d086ba5-9008-4a26-a6a3-cb645246b468","mediaKey":"7bd25273-0c61-4921-9d06-1426c6f41005"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[The rich deposits of the Northern Cape fuel some of SA's largest mining operations, with local minerals making the journey from mines to global markets.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Northern Cape Mines]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Mamatwan, Wessels, Khumani, Sishen]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Northern Cape Mines, Minerals and Material Assurance]]></Value>
    </pageTitle>
  </Properties>
</Content>