<?xml version="1.0" encoding="utf-8"?>
<Content Key="23fff966-b716-4237-aaa5-f0f641fd26c4" Alias="Our 14 Industry-Leading Renewable Energy Projects" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/Our14IndustryLeadingRenewableEnergyProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-06-15T05:42:26</CreateDate>
    <NodeName Default="Our 14 Industry-Leading Renewable Energy Projects" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-04-08T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[We've performed concrete quality assurance and foundation investigations for South Africa's most significant renewable energy projects.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"c45e9105-d9b4-4ee2-8c3b-311e23e0de15","mediaKey":"aa38ff6f-9e30-4d5d-89b1-2f0eb968b57d"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"b6ee7ef5-ff4d-4b84-98f9-5cdd6e05b5c1","mediaKey":"e8321257-00c8-4e0d-a2e3-a892d2c98561"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Our 14 Industry-Leading Renewable Energy Projects]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/4afe84c8a23949e991f43807cd991ba1"},{"contentUdi":"umb://element/39460fef79f34caaafbfa45f03c2b747"},{"contentUdi":"umb://element/602d7a91e1f34deeb841d769a25ca599"},{"contentUdi":"umb://element/96e18fe4a9d54ad1a4fdd1d59a520442"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/4afe84c8a23949e991f43807cd991ba1","stringItemText":"Concrete Laboratory Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/39460fef79f34caaafbfa45f03c2b747","stringItemText":"Soil Laboratory Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/602d7a91e1f34deeb841d769a25ca599","stringItemText":"Asphalt Laboratory Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/96e18fe4a9d54ad1a4fdd1d59a520442","stringItemText":"Geotechnical Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab has been trusted with the material success of South Africa's largest energy projects (Kusile, Medupi, Kendel and Matla Power Stations) as well as dozens of large-scale solar and wind farms nationwide.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[INDEPENDENT ENERGY]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/cbd29e983c1c4ee2a76a987a23b92cbc"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/cbd29e983c1c4ee2a76a987a23b92cbc","stringItemText":"Power Stations"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/2b76e58746ac4ed99da1f9bd16035cd9"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2b76e58746ac4ed99da1f9bd16035cd9","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Here are some of the record-breaking and award-winning projects we have made possible.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"501c4146-51aa-4f11-8aaf-34ee3a0826d7","mediaKey":"980e16fd-8b10-450c-9128-4ab67ee8fddd"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Our 14 Industry-Leading Renewable Energy Projects]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[South African companies can now power their operations with up to 100MW generated by their very own solar farms without a license.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Renewable Energy Projects]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Wind Farms, Solar Parks]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Our 14 Industry-Leading Renewable Energy Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>