<?xml version="1.0" encoding="utf-8"?>
<Content Key="88894b00-16d3-4b9b-9efc-190ffffe96ed" Alias="Our 2024 Gauteng Capacity" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">Civil Construction</Parent>
    <Path>/Industries/CivilConstruction/Our2024GautengCapacity</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-21T07:05:10</CreateDate>
    <NodeName Default="Our 2024 Gauteng Capacity" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-10-25T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Our journey with Vedanta's Gamsberg Mine, from the construction of the crushing plant in 2018 to their current  Phase 2 expansion.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"cb0bd13e-ed8f-4202-8779-22f840dfaff6","mediaKey":"182b3e79-0ded-4452-beba-270d08c37c09"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"d1bd9e0f-9026-4b2a-8ce1-d8086bb19b2f","mediaKey":"407c339c-cded-4e26-95db-86276f456411"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[How We're Helping Create Africa's Largest Zinc Producer]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/fb9da8f6d4a54eacab2ee32bc437b042"},{"contentUdi":"umb://element/b8166af5c6a5468db3ff7cadc836eb61"},{"contentUdi":"umb://element/da11f18d4aee4bc489a02f7dc354b64b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/fb9da8f6d4a54eacab2ee32bc437b042","stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b8166af5c6a5468db3ff7cadc836eb61","stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/da11f18d4aee4bc489a02f7dc354b64b","stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab has been trusted with the success of South Africa's largest and most innovative renewable energy projects and large-scale solar and wind farms nationwide.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[INDEPENDENT ENERGY]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/bfa15d8d59f145c382c08e0f53288484"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/bfa15d8d59f145c382c08e0f53288484","stringItemText":"Wind Power and Renewables"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/74ab5e0651d649ed89b71f3c0752efa0"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/74ab5e0651d649ed89b71f3c0752efa0","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Our journey with Vedanta's Gamsberg Mine, from the construction of the crushing plant in 2018 to their current  Phase 2 expansion.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"4d178f97-68cd-48c5-b377-a57b62716654","mediaKey":"6ee588db-4940-4c81-993e-aa721bbe6399"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[How We're Helping Create Africa's Largest Zinc Producer]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our journey with Vedanta's Gamsberg Mine, from the construction of the crushing plant in 2018 to their current  Phase 2 expansion.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Vedanta's Gamsberg Mine]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Aggeneys, Northern Cape]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[How We're Helping Create Africa's Largest Zinc Producer]]></Value>
    </pageTitle>
  </Properties>
</Content>