<?xml version="1.0" encoding="utf-8"?>
<Content Key="80448641-da90-4926-8fe1-fa4d84521dcc" Alias="Particle Size Analysis: Introducing the Mastersizer 3000E" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">TEST IT</Parent>
    <Path>/WHATWEDO/TESTIT/ParticleSizeAnalysisIntroducingTheMastersizer3000E</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-03-22T12:21:04</CreateDate>
    <NodeName Default="Particle Size Analysis: Introducing the Mastersizer 3000E" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-03-25T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Introducing the latest addition to our laboratory equipment lineup: the Mastersizer 3000E from Malvern Panalytical. ]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"2498fea5-9acd-4975-be6b-f613edd4e6ee","mediaKey":"78794239-78fd-498b-9e29-28dd1c00cbb6"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"1aef0447-c53d-4f8d-960a-8606409d102a","mediaKey":"1d4a1ff0-ca66-40bc-aa5a-df0b27f8c5d6"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Particle Size Analysis: Introducing Our Mastersizer]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/a489b747addc4680a6079c66d752b496"},{"contentUdi":"umb://element/b39214284f974303b211d7aa0ac55985"},{"contentUdi":"umb://element/5b8d72010d484a5a87e3ffbe3d46175b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/a489b747addc4680a6079c66d752b496","PropType":null,"stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b39214284f974303b211d7aa0ac55985","PropType":null,"stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/5b8d72010d484a5a87e3ffbe3d46175b","PropType":null,"stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of over 400 construction companies and 60 consulting firms. Our particle size analysis capabilities enable us to support their aggregate, soils and quality control needs.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/da00c5ce0e20406084a44b9a8829fd73"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/da00c5ce0e20406084a44b9a8829fd73","PropType":null,"stringItemText":"Wind Power and Renewables"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/67874927635b44089c29331b41d687ad"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/67874927635b44089c29331b41d687ad","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Introducing the latest addition to our laboratory equipment lineup: the Mastersizer 3000E from Malvern Panalytical. ]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"b9e33b18-b82b-4a4a-8c5e-0976f90877ca","mediaKey":"78794239-78fd-498b-9e29-28dd1c00cbb6"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Particle Size Analysis: Introducing our Mastersizer]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[The latest addition to our laboratory equipment is the Mastersizer 3000E. This describes it's use and value for our clients in the construction industry.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[The Mastersizer 3000E]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Johannesburg, Gauteng]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab's new particle size analysis equipment and capacity]]></Value>
    </pageTitle>
  </Properties>
</Content>