<?xml version="1.0" encoding="utf-8"?>
<Content Key="55441678-ed00-45d8-bb37-bc9b2c505d43" Alias="Roadlab's Accredited Facilities and SANAS Certificates" Level="3">
  <Info>
    <Parent Key="adaf1926-7501-4144-b9cf-810f8a2d9b34">TRUST IT</Parent>
    <Path>/WHATWEDO/TRUSTIT/RoadlabsAccreditedFacilitiesAndSANASCertificates</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-02-11T06:53:02</CreateDate>
    <NodeName Default="Roadlab's Accredited Facilities and SANAS Certificates" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"68d23a2b-f7fa-4d8f-abfa-5597925f58cb","mediaKey":"6f287c8d-fef1-4141-ae77-a23617e1fb7d"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"5aba67ea-640b-4b1b-a3da-43ab2b288b73","mediaKey":"6f287c8d-fef1-4141-ae77-a23617e1fb7d"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Roadlab's Accredited Facilities and SANAS Certificates]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[]]></Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards of verification for your materials and projects.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[SANAS ACCREDITATIONS]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/dd6a0272e75f4015a134c4c833ec60f4"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/dd6a0272e75f4015a134c4c833ec60f4","stringItemText":"SANAS Accreditation"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/fbc899aa688a4730b59f4851fd5602f9"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/fbc899aa688a4730b59f4851fd5602f9","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"97b35b09-3f01-4fe2-a639-53c9fd93bb21","mediaKey":"c2fca68f-f74c-409d-83b0-5b953e9d8ddb"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Nationwide]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[7 Accredited Facilities]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value>[{"key":"0b02d335-2658-4190-bd99-bc5424ab91d6","mediaKey":"8909f276-69a3-465b-9a38-26960c100e10"}]</Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab's Accredited Facilities and SANAS Certificates]]></Value>
    </pageTitle>
  </Properties>
</Content>