<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6462fca-17a4-4895-9a61-8133febd643a" Alias="SANRAL's R30 billion upgrade to N2 and N3" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/SANRALsR30BillionUpgradeToN2AndN3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-05-28T08:28:58</CreateDate>
    <NodeName Default="SANRAL's R30 billion upgrade to N2 and N3" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-08-04T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[SANRAL begins major roadworks by upgrading a 6.4km stretch between Cato Ridge and Pietermaritzburg. ]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"c287b9b6-188e-4628-aa6a-3f1325ba148f","mediaKey":"ff9589d3-7735-4f6d-b091-81fd7870251e"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"ba08306c-27f8-48ac-901a-00e88c4895f9","mediaKey":"5f8a7faa-314c-4bd1-9ff6-4e9300d2ae71"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[SANRAL's R30 billion upgrade to N2 and N3]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e5c0805268ed469d8a5de7f4513a9fd1"},{"contentUdi":"umb://element/b18054d9b7664004a97b41bc46cde492"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e5c0805268ed469d8a5de7f4513a9fd1","PropType":null,"stringItemText":"Concrete laboratory testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b18054d9b7664004a97b41bc46cde492","PropType":null,"stringItemText":"Soil laboratory testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Our fingerprints wind through the entire country. Our asphalt testing and roadwork investigations have enabled the success of the Provincial Government of the Western Cape, Raubex, National Asphalt and more.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ASPHALT AND ROADWORKS]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/e720df4e396445b2bea196762a82fd5b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e720df4e396445b2bea196762a82fd5b","PropType":null,"stringItemText":"Asphalt and Roadworks"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f0dbf7ed8aee4e61bea5db58994060ec"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f0dbf7ed8aee4e61bea5db58994060ec","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"5ccca904-355a-4231-9ade-5b7b354e25cb","mediaKey":"45493330-b0c1-46d2-aecb-910c794bb29c"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[SANRAL begins major roadworks by upgrading a 6.4km stretch between Cato Ridge and Pietermaritzburg. ]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[N3 Upgrade]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[From Cato Ridge to Pietermaritzburg]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[SANRAL's R30 billion upgrade to N2 and N3]]></Value>
    </pageTitle>
  </Properties>
</Content>