<?xml version="1.0" encoding="utf-8"?>
<Content Key="88f67996-28fe-4048-87ae-48abbf9dc56f" Alias="Supporting Major Construction Projects in 2022" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/SupportingMajorConstructionProjectsIn2022</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-12-07T12:40:52</CreateDate>
    <NodeName Default="Supporting Major Construction Projects in 2022" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-12-07T13:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[From site investigations to concrete testing, these five projects relied on our material insight and made fantastic progress in 2022. ]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"203b9d70-0e2c-49ee-a499-adc7f7602f7f","mediaKey":"b9818c3a-662b-4936-9915-ca50308c59b7"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"803bc425-04f8-4b3d-9d13-fdb2fda5bf15","mediaKey":"b9818c3a-662b-4936-9915-ca50308c59b7"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/8710a87cadaf4506ad69e202a9607fc4"},{"contentUdi":"umb://element/a19d74d9dbc54bb88dfa7f6c6f6e778b"},{"contentUdi":"umb://element/b8ef69fd1db144729c711a079e861e3e"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8710a87cadaf4506ad69e202a9607fc4","PropType":null,"stringItemText":"Concrete Durability Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/a19d74d9dbc54bb88dfa7f6c6f6e778b","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/b8ef69fd1db144729c711a079e861e3e","PropType":null,"stringItemText":"Concrete Mix Designs"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 5 major projects in 2022.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Concrete Quality Assurance]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/31b160d393164a4b969062473ad0c0cd"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/31b160d393164a4b969062473ad0c0cd","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/0205f46a84784fef95507a37c4f7e083"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/0205f46a84784fef95507a37c4f7e083","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 5 major projects in 2022.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"6ceb828a-4d61-4116-85f1-3727d453b181","mediaKey":"5aea0543-7136-4882-a8d7-07bf52545160"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 4 major projects in 2022.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Major Construction Projects]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Concrete Strength, Integrity and Durability]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </pageTitle>
  </Properties>
</Content>