<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a2d974-0e78-4c39-bcb6-62261a441525" Alias="Technician, Manager, Signatory" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">TEST IT</Parent>
    <Path>/WHATWEDO/TESTIT/TechnicianManagerSignatory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2026-02-11T09:37:27</CreateDate>
    <NodeName Default="Technician, Manager, Signatory" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-02-06T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[At Roadlab, “Test It” a discipline built through consistency and pride in doing the work properly. Few journeys reflect this more than that of Lwazi Nomyayi.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"78263b7f-9bbb-4d94-9264-c7d650ca19d8","mediaKey":"02590292-3ca9-4fe5-b79d-d81e13587fb2"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"f6439857-60a7-45e8-89ee-b08e5274d33a","mediaKey":"02590292-3ca9-4fe5-b79d-d81e13587fb2"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Technician, Manager, Signatory]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/9bfc3fc87c3c40ea8c8b8b31bcef921b"},{"contentUdi":"umb://element/e1c469b52a8d447482593342dc0680b4"},{"contentUdi":"umb://element/92af31c8fa2244f3917126f4a76b0823"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/9bfc3fc87c3c40ea8c8b8b31bcef921b","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/e1c469b52a8d447482593342dc0680b4","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/92af31c8fa2244f3917126f4a76b0823","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab’s Rock Mechanics Laboratory has entered operational readiness and is now focused on verification testing to ensure reliable results once we go to market.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[MEETS GOOD SCIENCE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[WHERE ADVANCED TESTING]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/186d58bc9ae8414ebb991a2e62f3d026"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/186d58bc9ae8414ebb991a2e62f3d026","PropType":null,"stringItemText":"Test It."}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/46afb16bb9dd49af88fbff295a5d1073"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/46afb16bb9dd49af88fbff295a5d1073","PropType":null,"stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Technician, Manager, Signatory]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"6f6d3a38-14c3-40e9-bd0c-49b34ccee56d","mediaKey":"f1df2b38-d35a-4947-96df-853f29461b85"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Technician, Manager, Signatory]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[At Roadlab, “Test It” a discipline built through consistency and pride in doing the work properly. Few journeys reflect this more than that of Lwazi Nomyayi.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[NEXT-LEVEL SCIENCE]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[TEST IT.]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Technician, Manager, Signatory]]></Value>
    </pageTitle>
  </Properties>
</Content>