<?xml version="1.0" encoding="utf-8"?>
<Content Key="22927be1-64dc-445a-935e-c441bee7a345" Alias="The Eastern Cape's Growing Road Infrastructure" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000">
    </Parent>
    <Path>/[-20]/TheEasternCapesGrowingRoadInfrastructure</Path>
    <Trashed Parent="42a293f3-0608-4c4c-857d-e871f38b770a">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-08-01T06:14:32</CreateDate>
    <NodeName Default="The Eastern Cape's Growing Road Infrastructure" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-08-15T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Eastern Cape road projects represent R7 billion in SANRAL spending this year. A major increase would see immense new projects throughout almost all of the EC.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"9aeda926-bd34-4ee8-8b8b-3c27546860bf","mediaKey":"b3566d3a-80e5-462b-b4f8-2d4950d4f684"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"5782e43f-3317-4fb3-ae41-7540e946dcfe","mediaKey":"723c602c-badb-4852-b338-159ecd4d271b"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[The Eastern Cape's Growing Road Infrastructure]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/89506f60c0fd4b3f8e0a8317df45000b"},{"contentUdi":"umb://element/cee9b6e455534eb6bcd9c3b0aa4737cd"},{"contentUdi":"umb://element/97dae49e1868482181ba1ff0c61ceb77"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/89506f60c0fd4b3f8e0a8317df45000b","stringItemText":"Geotechnical Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/cee9b6e455534eb6bcd9c3b0aa4737cd","stringItemText":"Concrete Testing and Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/97dae49e1868482181ba1ff0c61ceb77","stringItemText":"Soil Testing and Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Our on-site testing and roadworks investigations have enabled the success of SANRAL projects and major construction companies for decades.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ASPHALT AND ROADWORKS]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/60ed4ec4dab14e68aed09f0eaec5b243"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/60ed4ec4dab14e68aed09f0eaec5b243","stringItemText":"Asphalt and Roadworks"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/99969717a65349c6a68f53fa56d79d86"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/99969717a65349c6a68f53fa56d79d86","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Eastern Cape road projects represent R7 billion in SANRAL spending this year. A major increase would see immense new projects throughout almost all of the EC.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"b827e715-ce7a-418d-977a-55b20cd0bf83","mediaKey":"ae9f4ca7-c9f5-4b61-bccd-03864c514693"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[The Eastern Cape's Growing Road Infrastructure]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Eastern Cape road projects represent R7 billion in SANRAL spending this year. A major increase would see immense new projects throughout almost all of the EC.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Eastern Cape]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[N2 Green River to Buffalo River]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[The Eastern Cape's Growing Road Infrastructure]]></Value>
    </pageTitle>
  </Properties>
</Content>