<?xml version="1.0" encoding="utf-8"?>
<Content Key="938b0981-37a9-4802-aba8-7664693173ef" Alias="The OTMS Project: Casting 800³m of Concrete Each Day" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/TheOTMSProjectCasting8003mOfConcreteEachDay</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-03-10T11:26:40</CreateDate>
    <NodeName Default="The OTMS Project: Casting 800³m of Concrete Each Day" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-12-07T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab ensured the workability and strength of all concrete used in the R2 billion Oil Tanking Mogs Saldanha project in 2020.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"c0431303-6413-4959-b399-595aa743acc9","mediaKey":"93326ecf-898e-4069-b83d-e4dd1a47282c"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"1019028f-5220-4edf-afce-2bb380bc3451","mediaKey":"93326ecf-898e-4069-b83d-e4dd1a47282c"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[The OTMS Project: Casting 800³m of Concrete Each Day]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/d89ba1e9686d42c29353ff89a379e0f4]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f29a8358387f4688a0c4400189cedbb2"},{"contentUdi":"umb://element/cb609fe21b1142b886a750a58b53d447"},{"contentUdi":"umb://element/ed52c2d658934e33bf0c7af5c5651599"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f29a8358387f4688a0c4400189cedbb2","stringItemText":"Major Construction"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/cb609fe21b1142b886a750a58b53d447","stringItemText":"Soil Investigations"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/ed52c2d658934e33bf0c7af5c5651599","stringItemText":"Concrete Investigations"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p style="text-align: left;">Roadlab performed all soils and concrete testing on the R2,8 billion Oiltanking MOGS Saldanha (OTMS) project between 2016 and 2019.</p>
<p>We are ready to provide you with advice or a quote.<br /><strong>Send us an enquiry <a href="/head-office/#reachout" title="Head Office" data-anchor="#reachout">here</a></strong> or call <strong>060 727 8002.</strong></p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[CONCRETE QUALITY ASSURANCE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/6f39fea4acfb4036850005cfbdda3773"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/6f39fea4acfb4036850005cfbdda3773","stringItemText":"Civil Engineering and Construction"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/41de7cb9002549509fc05c59eb4cda2b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/41de7cb9002549509fc05c59eb4cda2b","stringItemText":"Langebaan, Western Cape of South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"3383d464-9f51-41ca-9816-3eaab00dd4c5","mediaKey":"fdb7d35d-74fe-455f-bb00-3af50cca4379"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Blending and Storage Terminal]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Oiltanking MOGS]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>