<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2456200-bab3-4843-bff0-1e4ef5e0797b" Alias="Western Cape Infrastructure Projects" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">BUILD IT</Parent>
    <Path>/WHATWEDO/BUILDIT/WesternCapeInfrastructureProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2025-06-06T11:58:53</CreateDate>
    <NodeName Default="Western Cape Infrastructure Projects" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2025-06-06T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Explore major infrastructure projects across the Western Cape — including wind farms, bridges, municipal upgrades, and quality assurance testing.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"afde9fc2-40b8-4454-951e-796d63aeb219","mediaKey":"fa622ed2-e9b2-487c-9b9a-40f12fe6ca5a"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"6a597b07-38b4-4c9d-aa90-275c122eded0","mediaKey":"dc160ff0-fba9-4c15-a3f9-1cf7a395ac23"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Western Cape Infrastructure Projects]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/f27fa162c2914e3fab344b2523d014da"},{"contentUdi":"umb://element/650535dfe70549ed9980cfc54e505fed"},{"contentUdi":"umb://element/091087326ee54895a8db81d65c4c542a"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/f27fa162c2914e3fab344b2523d014da","PropType":null,"stringItemText":"Soil Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/650535dfe70549ed9980cfc54e505fed","PropType":null,"stringItemText":"Concrete Strength Testing"},{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/091087326ee54895a8db81d65c4c542a","PropType":null,"stringItemText":"Asphalt Verification and Testing"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>The Western Cape is undergoing a significant wave of infrastructure development. From large-scale renewable energy installations to municipal road upgrades, construction is reshaping the province’s landscape.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[WESTERN CAPE INFRASTRUCTURE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR ROLE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/8bfa359805c1423e919ccd4fe4834170"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/8bfa359805c1423e919ccd4fe4834170","PropType":null,"stringItemText":"Construction and Engineering"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/d0ebaf331b7a4856ac8aa2b9a0684bf8"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/d0ebaf331b7a4856ac8aa2b9a0684bf8","PropType":null,"stringItemText":"Western Cape"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Explore major infrastructure projects across the Western Cape — including wind farms, bridges, municipal upgrades, and quality assurance testing.]]></Value>
    </oGDescription>
    <oGImage>
      <Value>[{"key":"55a3f5ec-8a92-47c0-a1cf-d1d535a70337","mediaKey":"6cebd720-f98a-4a5b-b1ee-deaa4e370ee8"}]</Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Western Cape Infrastructure Projects]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[Article]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Explore major infrastructure projects across the Western Cape — including wind farms, bridges, municipal upgrades, and quality assurance testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[ON-SITE AND LABORATORY TESTING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Supporting the Western Cape Construction Industry with]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Western Cape Infrastructure Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>