<?xml version="1.0" encoding="utf-8"?>
<Content Key="c98abf68-afda-41f5-ac55-a7759698048f" Alias="WHAT WE DO" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000">
    </Parent>
    <Path>/WHATWEDO</Path>
    <Trashed>false</Trashed>
    <ContentType>blogHome</ContentType>
    <CreateDate>2021-02-18T10:43:58</CreateDate>
    <NodeName Default="WHAT WE DO" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0913bc77-2943-488f-9d60-a31c46825464">BlogHome</Template>
  </Info>
  <Properties>
    <backImage>
      <Value>[{"key":"1d625d13-cdbc-4fed-a917-515a49438ba7","mediaKey":"25c3defe-0d19-41bb-8e08-f8673172b96d"}]</Value>
    </backImage>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p><strong>Find your industry below and see how we can ensure your success.</strong></p>\n<p>Roadlab has supported the success of projects in many major industries.</p>\n<p>From major construction and mining to hybrid renewable energy projects, we offer decades of experience and the widest scope of quality assurance services available.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[WHAT WE DO]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[TEST IT. TRUST IT. BUILD IT.]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[NO MATTER YOUR WORK]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[ENUSURING YOUR SUCCESS]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>