<?xml version="1.0" encoding="utf-8"?>
<Content Key="20142e14-9020-417a-8034-9777b352b828" Alias="Why Construction Companies Should Use Accredited Laboratories" Level="3">
  <Info>
    <Parent Key="adaf1926-7501-4144-b9cf-810f8a2d9b34">TRUST IT</Parent>
    <Path>/WHATWEDO/TRUSTIT/WhyConstructionCompaniesShouldUseAccreditedLaboratories</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-04-07T05:59:05</CreateDate>
    <NodeName Default="Why Construction Companies Should Use Accredited Laboratories" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2020-01-30T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"4c46c8dd-cae1-4e24-a03d-5a44bfe137bf","mediaKey":"72d777f9-6fdc-47e6-ae21-3bce89a623a0"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"37fd4e2e-84f8-4ab5-800f-e4f6e17ba4bd","mediaKey":"72d777f9-6fdc-47e6-ae21-3bce89a623a0"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Why Construction Companies Should Use Accredited Laboratories]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/695010147d8a408a8922b1d1b4f1d905]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/2f11ced9f61e400d8d93c32a9480bd9e"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2f11ced9f61e400d8d93c32a9480bd9e","PropType":null,"stringItemText":"Asphalt testing, Bitumen testing, rolling test."}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[{
  "markup": "<p>Roadlab is an accomplished supporter of South Africa’s state enterprises, over 400 construction companies and more than 60 consulting firms.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[ENGINEERING AND CONSTRUCTION]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/86f01c8c175c419b9ca3acd24a98cc06"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/86f01c8c175c419b9ca3acd24a98cc06","PropType":null,"stringItemText":"Roadworks"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/11241f64800c41d0b15ffe0099384322"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/11241f64800c41d0b15ffe0099384322","PropType":null,"stringItemText":"Location"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[The Benefits Of Using Accredited Labs ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>