<?xml version="1.0" encoding="utf-8"?>
<Content Key="76da299c-6581-44e3-a1df-9ece6c7c0436" Alias="Why Quarries and Aggregate Suppliers Should Only Use An Accredited Laboratory" Level="3">
  <Info>
    <Parent Key="adaf1926-7501-4144-b9cf-810f8a2d9b34">TRUST IT</Parent>
    <Path>/WHATWEDO/TRUSTIT/WhyQuarriesAndAggregateSuppliersShouldOnlyUseAnAccreditedLaboratory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-04-07T06:01:13</CreateDate>
    <NodeName Default="Why Quarries and Aggregate Suppliers Should Only Use An Accredited Laboratory" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"1d467c6d-5c15-4c99-8865-3a33057a88ed","mediaKey":"23f5fe1e-85d8-4953-b19d-a883618ef80a"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"6a77937e-29ac-46cb-8b68-4be273ad4d7b","mediaKey":"42240c02-68a8-40d5-8d08-f3d5071b3a4a"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[How Accredited Laboratories Benefit Quarries and Aggregate Suppliers]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/813f7b680a0e4784b6c3bf865373a703"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/813f7b680a0e4784b6c3bf865373a703","stringItemText":"SANAS Laboratory Accreditation"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab is an accomplished supporter of major quarries and aggregate suppliers, enabling the success of Afrimat, Raumix, Drift SuperSand, Stutt Group and more.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[QUARRIES AND AGGREGATES]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[0]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/a9153015fc5f4f6c834432d49d8041e8"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/a9153015fc5f4f6c834432d49d8041e8","stringItemText":"Quarries and Aggregate Suppliers"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/def4bb84873e4aabaed0cfb2d946550b"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/def4bb84873e4aabaed0cfb2d946550b","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Quarry operators and aggregate suppliers can get more business, reduce costs and protect themselves by using an accredited laboratory.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[The Benefits Of Using Accredited Labs ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Why Quarries, Aggregates Should Use An Accredited Laboratory]]></Value>
    </pageTitle>
  </Properties>
</Content>