<?xml version="1.0" encoding="utf-8"?>
<Content Key="913791d3-3ba2-46e5-bd13-a4d693dcb310" Alias="Why Mines Should Only Use Accredited Laboratories" Level="3">
  <Info>
    <Parent Key="adaf1926-7501-4144-b9cf-810f8a2d9b34">TRUST IT</Parent>
    <Path>/WHATWEDO/TRUSTIT/WhyMinesShouldOnlyUseAccreditedLaboratories</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-04-07T05:59:42</CreateDate>
    <NodeName Default="Why Mines Should Only Use Accredited Laboratories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value>[{"key":"4ff12ee1-a604-4f28-9ad9-4a4ebf95a109","mediaKey":"ca6788b9-0624-4b07-be1a-42788387afd3"}]</Value>
    </articleIntersectImage>
    <backImage>
      <Value>[{"key":"1c979e87-9a76-4768-89f8-05cc3752ee78","mediaKey":"c39672d9-9f54-49a3-8d20-5e698753a086"}]</Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Why Mines Should Only Use Accredited Laboratories]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/2f11ced9f61e400d8d93c32a9480bd9e"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/2f11ced9f61e400d8d93c32a9480bd9e","stringItemText":"SANAS Laboratory Accreditation"}],"settingsData":[]}
</Value>
    </expertiseList>
    <grid>
      <Value>
      </Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Our extensive experience with mining companies across South Africa makes Roadlab your go-to partner for materials testing and geotechnical investigations, no matter your location. </p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[THE MINING INDUSTRY]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[0]]></Value>
    </homePageToggle>
    <industryList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/86f01c8c175c419b9ca3acd24a98cc06"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/86f01c8c175c419b9ca3acd24a98cc06","stringItemText":"Mining"}],"settingsData":[]}
</Value>
    </industryList>
    <locationList>
      <Value>
{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/c91d4d78023749cd81688785d7e47be8"}]},"contentData":[{"contentTypeKey":"338ac17e-85de-40c4-8028-34adf753b3c6","udi":"umb://element/c91d4d78023749cd81688785d7e47be8","stringItemText":"South Africa"}],"settingsData":[]}
</Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Mining companies can get more business, reduce costs and protect themselves by using an accredited laboratory.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Generate more business, reduce costs and protect your company from risk]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[The Benefits Of Using Accredited Labs ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Why Mining Companies Should Use An Accredited Laboratory]]></Value>
    </pageTitle>
  </Properties>
</Content>