<?xml version="1.0" encoding="utf-8"?>
<Content Key="22b05890-e760-4f78-ba3b-06b477541ed6" Alias="Acv / 10% fact" Level="4">
  <Info>
    <Parent Key="6c3e434e-beba-4d19-99dc-5949327118a3">Aggregate</Parent>
    <Path>/AppSettings/Tests/Aggregate/Acv10Fact</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2019-10-31T05:46:58</CreateDate>
    <NodeName Default="Acv / 10% fact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <testingTypeDescription>
      <Value><![CDATA[]]></Value>
    </testingTypeDescription>
    <testingTypeName>
      <Value><![CDATA[Acv / 10% fact]]></Value>
    </testingTypeName>
  </Properties>
</Content>