<?xml version="1.0" encoding="utf-8"?>
<Content Key="c98abf68-afda-41f5-ac55-a7759698048f" Alias="Blog Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHome</Path>
    <Trashed>false</Trashed>
    <ContentType>blogHome</ContentType>
    <CreateDate>2021-02-18T10:43:58</CreateDate>
    <NodeName Default="Blog Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0913bc77-2943-488f-9d60-a31c46825464">BlogHome</Template>
  </Info>
  <Properties>
    <backImage>
      <Value><![CDATA[]]></Value>
    </backImage>
    <heroContent>
      <Value><![CDATA[<p>With a fleet of over 100 vehicles, mobile laboratories and widespread coverage, Roadlab is your go-to partner for materials testing, no matter your location. </p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[YOUR WORLD]]></Value>
    </heroLargeHeading>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>