<?xml version="1.0" encoding="utf-8"?>
<Content Key="de49b3f9-41ce-4b41-9647-4b500fabdcfa" Alias="camp1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/camp1</Path>
    <Trashed Parent="778404db-d1cf-49d1-a83b-0d84173a1c5c">true</Trashed>
    <ContentType>landing</ContentType>
    <CreateDate>2023-11-22T14:50:52</CreateDate>
    <NodeName Default="camp1" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a895c13d-2059-405f-995e-f865e6cc6d08">Landing</Template>
  </Info>
  <Properties>
    <landingHeading>
      <Value><![CDATA[]]></Value>
    </landingHeading>
    <landingImage>
      <Value><![CDATA[]]></Value>
    </landingImage>
  </Properties>
</Content>