<?xml version="1.0" encoding="utf-8"?>
<Content Key="535d1735-1ea5-47f0-9ca6-3423af959766" Alias="[Concrete] Making of cubes" Level="4">
  <Info>
    <Parent Key="fb302616-f1e6-47a8-95ea-0aff23eecec0">Concrete</Parent>
    <Path>/AppSettings/Tests/Concrete/ConcreteMakingOfCubes</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2019-09-18T08:49:34</CreateDate>
    <NodeName Default="[Concrete] Making of cubes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <testingTypeDescription>
      <Value><![CDATA[Concrete]]></Value>
    </testingTypeDescription>
    <testingTypeName>
      <Value><![CDATA[[Concrete] Making of cubes]]></Value>
    </testingTypeName>
  </Properties>
</Content>