<?xml version="1.0" encoding="utf-8"?>
<Content Key="5399a33f-7aa8-41a1-8625-9d5184b7611a" Alias="Geotechnical &amp; Road Investigations" Level="4">
  <Info>
    <Parent Key="dfadfba5-8eec-431d-97ed-9cb60be930be">Geotechnical &amp; Road Investigations</Parent>
    <Path>/Home/Services/GeotechnicalRoadInvestigations/GeotechnicalRoadInvestigations</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2020-02-19T07:53:18</CreateDate>
    <NodeName Default="Geotechnical &amp; Road Investigations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[drilling]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p>These services provide critical information required to assess the physical properties of soil earthworks and foundations for purposes of construction and repair.</p>
<p>Our accredited laboratories and mobile facilities are equipped to perform the following testing services according to testing standards set by ASTM, SANAS, BSI and more.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Geotechnical & Road Investigations]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "e92fee3d-92f3-404b-a575-c0e0480bcd79",
    "mediaKey": "dba80366-4a46-4d64-bda0-fd5388b0858b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[Foundations. Road Pavements. Drilling.]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[Services]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[This service provides critical information required to assess the physical properties of soil earthworks and foundations for purposes of construction and repair]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Investigations]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Geotechnical & Road ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/2961c37feafc47f4977272313fbbc843]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Assess physical properties soil earthworks and foundations]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "e54ed150-83c9-4790-aba3-34d7b01e9dad",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Foundation investigations",
    "categoryHeading2": "investigations",
    "category": "<p>A foundation investigation involves assessing a building’s supporting foundations and identifying the causes of settlement and how best to rectify the problem.</p>",
    "categoryImage": "umb://media/63e6d7463e814dbe89a11c4eb4e3fd07"
  },
  {
    "key": "5793d463-aea4-4b09-acbc-2d7c0f088076",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Centreline and borrowpit",
    "categoryHeading2": "borrowpit",
    "category": "<p>Borrow pits are identified for the supply of material requirements for both general fill, gravel and aggregates. Borrow Pit areas can be remediated using unsuitable materials removed from the construction site. Hence the material excavated is ‘borrowed’.</p>",
    "categoryImage": "umb://media/baf84be0089c4a309ce39059c65745f3"
  },
  {
    "key": "7d3d0c08-29a3-4ffa-9f43-eb3747bc140c",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "Road Pavement Evaluations",
    "categoryHeading2": "Evaluations",
    "category": "<div id=\"1\">\n<p>Appropriate pavement investigation is necessary to ensure the adequacy and cost efficiencies of the pavement design or remediation, and to avoid costly construction problems due to unforeseen variations in pavement/subgrade composition, stability and strength.</p>\n</div>",
    "categoryImage": "umb://media/4d451178365e48fc8173955a1bac9b6e"
  },
  {
    "key": "ff45d44e-86b9-4cd3-9bb0-57262438f034",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Site investigation",
    "categoryHeading2": "investigation",
    "category": "<p>Our teams are able to carry out soil and geotechnical investigations including sampling, profiling, testing and reporting. Such data is required to assist with foundation designs and other structural plans.</p>",
    "categoryImage": "umb://media/4ae29f11290346c0b480640f9c10d149"
  },
  {
    "key": "902c5244-fa69-46fb-8bdd-072fed49195e",
    "name": "Item 5",
    "ncContentTypeAlias": "products",
    "categoryNumber": "05",
    "categoryHeading1": "Drilling ",
    "categoryHeading2": "",
    "category": "<p>Geotechnical drilling is performed as part of the construction process. This is mainly for structures such as multi-storey buildings. A geotechnical engineer usually oversees the process to ensure that the drilling meets the requirements of the project.</p>",
    "categoryImage": "umb://media/957c05573d1645a9beeeeecf13064ed4"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[]]]></Value>
    </servicesButtons>
  </Properties>
</Content>