<?xml version="1.0" encoding="utf-8"?>
<Content Key="102f5a31-7f0a-42c4-b6aa-161f2452561a" Alias="Introducing Our Specialised Forensic Services" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">Construction and Civil Engineering</Parent>
    <Path>/Industries/ConstructionAndCivilEngineering/IntroducingOurSpecialisedForensicServices</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-10-07T10:26:43</CreateDate>
    <NodeName Default="Introducing Our Specialised Forensic Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Get perfect subsurface maps and real-time interpretations of bridges, work sites, earthworks, floors, walls and more.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/5614d4916abb43aab49fde4f4e812ef8]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/349fb9a574b34a66aead4ad4ae1f68d0]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Introducing Our Specialised Forensic Services]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "7d394d1d-8508-409b-bc5a-39b80ac82877",
    "name": "Non-Invasive, Non-Destructive Technology",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Non-Invasive, Non-Destructive Technology"
  },
  {
    "key": "40b3dcf3-4025-4bdc-8706-e2e3c90a1aef",
    "name": "Voids, Cracks and Honeycombing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Voids, Cracks and Honeycombing"
  },
  {
    "key": "b74fb36d-e448-42bd-a992-ac1b4c930856",
    "name": "Strength and Integrity",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Strength and Integrity"
  },
  {
    "key": "68960c03-29b7-46e2-a44a-29c33a124a40",
    "name": "BRE Screed Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "BRE Screed Testing"
  },
  {
    "key": "aed78869-d6ce-4df5-837c-b22025fa69ae",
    "name": "Fibre Line Mapping",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Fibre Line Mapping"
  },
  {
    "key": "cc1ace6c-bcba-490f-9c66-c476234423c6",
    "name": "Mapping of Pipes",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Mapping of Pipes"
  },
  {
    "key": "2c8fda69-9861-4a55-9477-89db89e5781f",
    "name": "Rebar Mapping",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Rebar Mapping"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "ef17312f-d4e7-4c74-b730-f20e9d088be0",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Left",
          "id": "4a5ceb29-8eb4-4b3e-8b2f-4c529ddb16b1",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1870,
                    "udi": "umb://media/8bcd5403a11449ffb6b09d32f1ce4c0e",
                    "image": "/media/avkm1cyu/gif-1.gif"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Our Concrete Technologist can assess your concrete works, provide practical and economic recommendations and lead teams of professionals to resolve complex issues relating to concrete floors, walls and structures.</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Left",
          "id": "27bc7b38-7a52-4cc7-981b-302fafff35f9",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1873,
                    "udi": "umb://media/1ffd181f19cd4692bca21cf0d9406cab",
                    "image": "/media/demp0h4n/gif-2.gif"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>Detailed outdoor mapping of earthworks, sites, parks and public areas up to 10m deep, showing drain pipes, electrical lines, fibre lines and more.</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Left",
          "id": "498d9f25-f0de-41f8-80a8-9faa6f65f6ad",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1871,
                    "udi": "umb://media/70635689442c4ae1b46ef6e6733dc361",
                    "image": "/media/r3lgg2bm/gif-3.gif"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>Real-time interpretations of concrete structures such as bridges, walls and silos, revealing cracks, voids and other integrity issues. The findings allow us to give practical and economic recommendations without the need for destruction or sampling.</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Left",
          "id": "caa255b6-949f-4cb2-83c6-037506c5578d",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1872,
                    "udi": "umb://media/e0d09a68dfa042d08d00ab92896c49d0",
                    "image": "/media/n0nnbyfa/gif-4.gif"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>BRE Screed testing, allowing us to determine whether concrete floors are fit-for-purpose. Any integrity issues or delamination can be mapped out in great detail, allowing us to recommend solutions that consider your unique project and requirements.</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Left",
          "id": "9217fe98-d3cb-40f3-bf55-10c1bf210331",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1874,
                    "udi": "umb://media/938e9a63393a40bb97b263bf23a30a32",
                    "image": "/media/mwni3ez0/gif-5.gif"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>We offer a range of GPR scanning services, giving you critical insight into your floors, structures and more. These tests allow us to find sophisticated solutions for projects that require sensitive interventions.</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "9c6e9276-8b99-4803-9691-56f9542ded46",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "9bf8169b-ad4e-4348-ae9d-0cd8a5d30e0c",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p> </p>\n<hr />\n<p><a href=\"/umbraco#/login/false?returnPath=%252Fcontent\"><span class=\"main-heading h1\"><strong><em>Our Concrete Technologist is available to assess your needs, arrange a site visit or provide a demo. </em></strong></span></a></p>\n<p><a href=\"/umbraco#/login/false?returnPath=%252Fcontent\"><span class=\"main-heading h1\"><strong><em>Simply fill out the form below. </em></strong></span></a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Our non-destructive, non-invasive forensic services provide unparalleled insight into your structures, facilities and the ground beneath your feet.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Dig, drill and build with confidence]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "886bdf25-a165-4260-92be-7ac34818a673",
    "name": "Construction and Civil Engineering",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Construction and Civil Engineering"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "880ffece-50fd-46fd-a44e-5da25ea7789f",
    "name": "South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/5614d4916abb43aab49fde4f4e812ef8]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our non-destructive, non-invasive forensic services provide unparalleled insight into your structures, facilities and the ground beneath your feet.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[What We Can Do For You]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Specialised Forensic Investigations]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Introducing Our Specialised Forensic Services]]></Value>
    </pageTitle>
  </Properties>
</Content>