<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf8f3749-8804-4e47-8c5f-4c1955b424ea" Alias="Kathu" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Kathu</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2019-10-07T14:05:00</CreateDate>
    <NodeName Default="Kathu" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <branchAccreditationLink>
      <Value><![CDATA[umb://media/8ecbd5a5204c42c8b9d0addcafc6756b]]></Value>
    </branchAccreditationLink>
    <branchAddress1>
      <Value><![CDATA[8 Kalk Street]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[Kathu Industrail]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[Kathu]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/7cc86180f53b4c5aa3b395a1c6947459]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+27 (0)72 277 8922]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Kathu]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["South Africa"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[tiaan@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/9349568037444f939a115b0760c651eb]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Tiaan Stricker]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[-27.710664]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[23.034875]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Tiaan Stricker]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.214438779209!2d23.034875215606146!3d-27.71066463362916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjfCsDQyJzM4LjQiUyAyM8KwMDInMTMuNCJF!5e0!3m2!1sen!2sza!4v1570449836593!5m2!1sen!2sza" width="100%" height="350px" frameborder="0" style="border: 0;" allowfullscreen=""></iframe></div>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Kathu]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[8446]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Northern Cape"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+ 27 (0)53 723 1802]]></Value>
    </branchTelephoneNumber>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on 8 Kalk Street, Kathu Industrail, Kathu. + 27 (0)53 723 1802 For laboratory testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Kathu branch ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Materials testing-Roadlab Kathu-Bitumen Concrete Soil gravel]]></Value>
    </pageTitle>
  </Properties>
</Content>