<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3cbcdea-e751-414b-899e-9576265320cd" Alias="Langebaan" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Langebaan</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2022-03-31T08:10:41</CreateDate>
    <NodeName Default="Langebaan" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <branchAddress1>
      <Value><![CDATA[Anyskop farm, ]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[district of Saldanha Bay,]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+27 (0) 76 814 8545]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Saldanha Bay, ]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["South Africa"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[andre@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/8f7fbe91af3c4e44bedad9666f7ca03e]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Andre Engel]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[18.1236013]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[-32.974017]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Andre Engel]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Langebaan]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[0]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Western Cape"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+27 (0) 76 814 8545]]></Value>
    </branchTelephoneNumber>
    <limsBranchCode>
      <Value><![CDATA[]]></Value>
    </limsBranchCode>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>