<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aedd565-cddb-4cfe-beec-abc4200c8cb2" Alias="Lesotho" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Lesotho</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2020-10-13T14:16:43</CreateDate>
    <NodeName Default="Lesotho" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <branchAccreditationLink>
      <Value><![CDATA[]]></Value>
    </branchAccreditationLink>
    <branchAddress1>
      <Value><![CDATA[TEBA Complex]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[226 Moshoeshoe Road]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/31bddac8e3ac4df58d4be3e8115edc60]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+266 6720 9391]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Maseru]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["Lesotho"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[eric@roadlablesotho.net]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/05868d0141f04f97af8a93c6798a7878]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Eric Mxuthu]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[27.4821627]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[-29.3062894]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Eric Mxuthu (Manager)]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3479.1836061162753!2d27.48216271564019!3d-29.30628940429699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e8dcb121be97915%3A0x67a96f48f7ded63d!2s226%20Moshoeshoe%20Rd%2C%20Foso%2C%20Lesotho!5e0!3m2!1sen!2sza!4v1602591354994!5m2!1sen!2sza" width="100%" height="350" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Lesotho]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[100]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Outside South Africa"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+266 6720 9391]]></Value>
    </branchTelephoneNumber>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[ Our Office is based on TEBA Complex, 226 Moshoeshoe Road, Maseru Lesotho. +266 6201 6914 For laboratory testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Enquiries]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Lesotho]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Material testin-Roadlab Lesotho-Bitumen Concrete Soil gravel]]></Value>
    </pageTitle>
  </Properties>
</Content>