<?xml version="1.0" encoding="utf-8"?>
<Content Key="05b34a67-50b5-4c42-88b8-102ec5c6810d" Alias="List" Level="4">
  <Info>
    <Parent Key="a5936a37-9ebf-45b0-a882-074164f60632">Secure Area</Parent>
    <Path>/Home/Account/SecureArea/List</Path>
    <Trashed>false</Trashed>
    <ContentType>accountTransactionList</ContentType>
    <CreateDate>2020-03-31T15:23:23</CreateDate>
    <NodeName Default="List" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="881db611-8a64-407b-bf91-b252b2a0fba4">AccountTransactionList</Template>
  </Info>
  <Properties />
</Content>