<?xml version="1.0" encoding="utf-8"?>
<Content Key="0151cfdd-c9fa-4a3e-b287-aa54e0ddeac9" Alias="Mobile Lab Services" Level="4">
  <Info>
    <Parent Key="8e955c1f-d2bf-4d5f-8e75-82fa663a7f68">Mobile Lab Services</Parent>
    <Path>/Home/Services/MobileLabServices/MobileLabServices</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2020-02-12T10:33:42</CreateDate>
    <NodeName Default="Mobile Lab Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[mobile]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p>Our high-quality mobile labs can be adapted to meet your exact testing requirements, staff capacity and work volume.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Mobile Labs]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "48ea9c11-ff3d-4fb4-8063-3fa669873542",
    "mediaKey": "f13e388c-a590-49ce-9849-97bd6b8b2f60",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[State-of-the-art facilities customized to your needs.]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[Services]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[This is tghe test description]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/3271fb9b5d594743bf891ae4fe00de4e]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[This is a test]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[article]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[http://roadlabproduction-staging.azurewebsites.net/services/mobile-lab-services/mobile-lab-services/]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Customized state-of-the-art facilities .  Our high-quality mobile labs can be adapted to meet your exact testing requirements, staff capacity and work volume.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Services]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Mobile Lab ]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/86e69c7f39e146feb120eac934ef2875]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab Mobile Lab Services for exact testing requirements ]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "3d479b20-cb3d-4399-8fbb-8ea333583c49",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Mobile Lab Containers",
    "category": "<p>Our fully equipped container laboratories can be customized to perform any of the concrete, asphalt, soil, gravel, aggregate, sample, field and chemical testing your project requires.</p>",
    "categoryImage": "umb://media/fbdc0a71902148d59b80657c82f304a4"
  },
  {
    "key": "cc6dfa6a-1224-404d-9c97-1ff415d2b6e4",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Lab Staff Training and Hire",
    "category": "<p>We hire and source highly skilled and well-trained laboratory staff, capable of conducting all the tests your mobile lab or on-site station is able to support.</p>",
    "categoryImage": "umb://media/37233634151b473ebbfd637ea4b0025d"
  },
  {
    "key": "0b054c51-6738-4092-aaa7-5e545e82b1bc",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "On-Site Testing Stations",
    "category": "<p>Our on-site stations are specialized versions of our containerized laboratories. If you need any concrete, asphalt, soil, gravel, aggregate, sample, field and chemical testing done on your site, we can deliver the purpose-specific station and staff you need.</p>",
    "categoryImage": "umb://media/a1bec1fd0e52491682dbadaddb517919"
  },
  {
    "key": "e3eaa3ac-2799-41c0-bd32-27cd2795c08a",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Equipment Rental",
    "category": "<p>The equipment you need, delivered to your site and calibrated according to international standards.</p>",
    "categoryImage": "umb://media/e12e7b98eadb4df79367fe28ba2bdb40"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[]]]></Value>
    </servicesButtons>
  </Properties>
</Content>