<?xml version="1.0" encoding="utf-8"?>
<Content Key="08c5e395-2a3f-4e7d-ad2a-58879a3a9735" Alias="Nigeria" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Nigeria</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2020-10-13T14:37:16</CreateDate>
    <NodeName Default="Nigeria" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <branchAccreditationLink>
      <Value><![CDATA[]]></Value>
    </branchAccreditationLink>
    <branchAddress1>
      <Value><![CDATA[3rd Floor, Africa RE House]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[Karimu Kotun Street]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[Victoria Island]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/a34a32e48f644d20806079774e94316b]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+234 909 000 1112]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Lagos]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["Nigeria"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[info@roadlabnigeria.com]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/9410939ad3f045b3ba425a252aadcdf0]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Ike Oliobi]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[3.4235031]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[6.4289008]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Ike Oliobi (Director – West Africa)]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.728612292335!2d3.4235031152508593!3d6.42890077603829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5295d12cbe9%3A0x6bc4396fa3a6ead3!2sAfrica%20Re%20House!5e0!3m2!1sen!2sza!4v1602592368860!5m2!1sen!2sza" width="100%" height="350" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Nigeria]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[-]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Outside South Africa"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+234 909 000 1112]]></Value>
    </branchTelephoneNumber>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on 3rd Floor, Africa RE House, Karimu Kotun Street, Victoria Island. Lagos. Nigeria. +234 909 000 1112 For laboratory testing.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Enquiries]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Nigeria]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Material test-Roadlab Nigeria-Bitumen Concrete Soil gravel]]></Value>
    </pageTitle>
  </Properties>
</Content>