<?xml version="1.0" encoding="utf-8"?>
<Content Key="42a293f3-0608-4c4c-857d-e871f38b770a" Alias="Our World" Level="2">
  <Info>
    <Parent Key="c98abf68-afda-41f5-ac55-a7759698048f">Industries</Parent>
    <Path>/Industries/OurWorld</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategories</ContentType>
    <CreateDate>2021-09-20T05:46:29</CreateDate>
    <NodeName Default="Our World" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d38776d-b05a-453f-bcbb-d51bea94083f">BlogCategories</Template>
  </Info>
  <Properties>
    <backImage>
      <Value><![CDATA[umb://media/fa6b8ab5b4724940a07756fb65833b7b]]></Value>
    </backImage>
    <heroContent>
      <Value><![CDATA[<p>From new projects and business developments to safety and accreditation news, here's the latest from Roadlab.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[OUR WORLD]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[THE LATEST NEWS FROM]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[Insights into events and news at Roadlab Laboratories ]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/cc8db50b30bb45f5b785228606aae1d9]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Our World]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[Category]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[A collection of blogs and videos giving you the information you need on Roadlab Laboratories]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[OF YOUR PROJECTS]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[ENSURING THE SUCCESS]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab News and Events]]></Value>
    </pageTitle>
  </Properties>
</Content>