<?xml version="1.0" encoding="utf-8"?>
<Content Key="23fff966-b716-4237-aaa5-f0f641fd26c4" Alias="Our Future (And History) Of Independent Renewable Energy" Level="3">
  <Info>
    <Parent Key="31c593f2-e9fb-4410-94f0-84b4099a2b90">Wind Power and Renewables</Parent>
    <Path>/Industries/WindPowerAndRenewables/OurFutureAndHistoryOfIndependentRenewableEnergy</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-06-15T05:42:26</CreateDate>
    <NodeName Default="Our Future (And History) Of Independent Renewable Energy" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Companies will no longer need a license to power their operations using their very own windfarms or solar parks up to 100MW.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/3de57eb9f13c413ebc72959b437eac85]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/e832125700c84e0da2e3a892d2c98561]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Our Future (And History) Of Independent Renewable Energy]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "4afe84c8-a239-49e9-91f4-3807cd991ba1",
    "name": "Concrete Laboratory Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Laboratory Testing"
  },
  {
    "key": "39460fef-79f3-4caa-afbf-a45f03c2b747",
    "name": "Soil Laboratory Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Soil Laboratory Testing"
  },
  {
    "key": "602d7a91-e1f3-4dee-b841-d769a25ca599",
    "name": "Asphalt Laboratory Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Asphalt Laboratory Testing"
  },
  {
    "key": "96e18fe4-a9d5-4ad1-a4fd-d1d59a520442",
    "name": "Geotechnical Investigations",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Geotechnical Investigations"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "309e2d4b-2d7d-4f87-ba89-b73f65ff57bf",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<div class=\"\" data-block=\"true\" data-editor=\"758bl\" data-offset-key=\"dadl7-0-0\">\n<div class=\"_1mf _1mj\" data-offset-key=\"dadl7-0-0\">\n<div class=\"_1mf _1mj\" data-offset-key=\"dadl7-0-0\">\n<p>For mines, quarries and other major industries, creating your own large-scale and reliable energy in the land of Eskom has always been just a dream. <strong>Not anymore.</strong></p>\n<p>Within 60 days, companies will no longer need a license to power their operations using their very own windfarms or solar parks up to 100MW.</p>\n<p> </p>\n</div>\n</div>\n</div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1793,
                    "udi": "umb://media/3de57eb9f13c413ebc72959b437eac85",
                    "image": "/media/x35okpj2/1920.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>The Renewable Energy Independent Power Producer Procurement Programme (REIPPPP) has dedicated over R200 billion to large-scale windfarms, solar energy projects and other kinds of renewable power since 2011.</p>\n<p><strong>Here are some of the record-breaking and award-winning projects we have made possible.</strong></p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "87b51188-70a7-41cc-b36e-1ac1258ba7d4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "100MW Kaxu Solar One CSP",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "e1773376-17cd-4c23-bbee-f41c83fdb033",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1836,
                    "udi": "umb://media/ea7e144c4e8144d99f396cb4a3d2b4ca",
                    "image": "/media/jikh30ub/eight.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>KaXu Solar One was the first concentrated solar power (CSP) plant in the country, at the time the largest in the southern hemisphere.</p>\n<p>When the 1,100ha site officially opened near Pofadder in March 2015, it was the largest CSP plant in the southern hemisphere.</p>\n<p>In 2017 the plant was presented with a Momentum of Change award by the UN Framework Convention on Climate Change.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "51c1cd0c-48b2-41a9-be33-9b4eecbe8a08",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "50MW Bokpoort CSP",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "eaff6b49-9702-4fff-9ea6-d63288718146",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1839,
                    "udi": "umb://media/3c1fccb4166a4ab09757389c12079cee",
                    "image": "/media/wlgb4pdk/eleven.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>In February 2020 Bokpoort CSP plant became the <a href=\"https://www.renewableenergyworld.com/storage/south-africas-bokpoort-50-mw-csp-plant-achieves-13-days-of-continuous-operation/#gref\" data-anchor=\"#gref\">the first</a> renewable facility in Africa to complete a week of continuous round-the-clock operation.</p>\n<p>\"Bokpoort CSP is now setting records with consistent regularity and can be considered as a role model regional CSP facility that is delivering on all fronts, including production, health, safety, environment as well as socio-economic obligations.\" - Nandu Bhula, Chairperson of Bokpoort CSP</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "57380497-a09f-4700-a24d-f33b85badcab",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "86MW Konkoonsies 2 PV Solar",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "93d10a16-fd6a-45f3-8fba-e1115d72e7f9",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1838,
                    "udi": "umb://media/ad251e9464a34c28a6007dc1717dd34b",
                    "image": "/media/sipcllnd/nine.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>Near the small town of Pofadder sits the 215ha Konkoonsies II solar energy facility.</p>\n<p>The facility reached its commercial operations date in September 2020 and now generates 216.5 GWh per annum, enough to supply an estimated 35,000 homes with clean, sustainable electricity.</p>\n<p>This facility is the second phase project to the Konkoonsies I solar energy facility built by BTE Renewables as part of bid window 1.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "b3b17441-1fe9-4d55-ac14-990514bac054",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "140MW Garob Wind Farm",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "446ec646-eb6e-4ab4-b4be-b5015b622348",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1818,
                    "udi": "umb://media/af938f94e50b410e8d31ef5629a5584d",
                    "image": "/media/skhjhlyl/yaaay.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>In the Siyathemba Local Municipality, near the town of Copperton in the Northern Cape, you will find the massive Garob Wind Farm, Enel Green Power (EPG)'s fifth wind plant in South Africa.</p>\n<p class=\"intro upper-first\">Garob uses 46 turbines to generate around 573GWh/yr and avoid the annual emission of around 600,000 tons of CO<sub>2</sub> into the atmosphere.</p>\n<p class=\"intro upper-first\">Garob is expected to start operating later this year.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "fe1e2acb-f5b8-4e62-88bb-8cc2b2ec2feb",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "100MW Xina Solar One CSP",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "c7164820-cd5d-40b6-96ff-1abc033f051e",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1842,
                    "udi": "umb://media/76ab5f26f8ae48ccb85546410cd89b4f",
                    "image": "/media/ebplw3vo/two.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>In operation since October 2017, Xina Solar One supplies clean energy to more than 95,000 South African households.</p>\n<p>The plant is equipped with a molten salt storage system that allows for 5.5 hours of energy storage to provide reliable electricity during peak demand.</p>\n<p>ENGIE announced in March 2021 that it had reached an agreement to acquire from Abengoa a 40% equity stake in Xina Solar One.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "50135d34-52e3-4cc1-acd5-be4239ab0ca9",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "140MW Nxuba Windfarm",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "42544df3-ea18-4f40-967e-8a4469eea47b",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1831,
                    "udi": "umb://media/bd93abb54f2340d19e0e9185dceb9e4a",
                    "image": "/media/wovjhpjd/real3.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>With the commissioning of its final wind turbine, Enel Green Power commenced with the generation and delivery of energy of Nxuba Wind Farm last year.</p>\n<p>The project is expected to generate 460 GWh/y of energy and mitigate the emission of about 460 000 t/y of carbon dioxide.</p>\n<p>It will be supported by a 20-year power supply agreement with power utility Eskom.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "4134c886-1e1b-4356-a9aa-8f4e180c3a09",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "75MW Sirius PV Solar",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "788112ac-57fe-4543-969c-35f069a5f9de",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1834,
                    "udi": "umb://media/eed3c6b691274fdfb8cfda5c78a0d12f",
                    "image": "/media/wddnh1rh/strips.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>Awarded in the fourth bidding round under the REIPP in 2015, Sirius Solar PV One (86MW) has been producing electricity from Upington since February 2020. </p>\n<p>The project uses solar tracking technology and will provide 215 million kWhs of clean energy per annum and create around 1 800 equivalent jobs over its operating life.</p>\n<p>Scatec Solar, which holds 42% of the new project, now has a 448MW asset base in South Africa.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "53277502-3524-4fe3-9c39-a6f1460f0a59",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "140MW Kangnas Wind Farm",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "b515eb23-e28a-4286-b817-b58fb9502c57",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1828,
                    "udi": "umb://media/d2e5d0dfc0754494ae9bccf348ce217a",
                    "image": "/media/1hiolutv/yaaay5.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>In November 2020 Kangnas Wind Farm became the first Northern Cape windfarm from the 4th bidding window of the REIPPPP to start commercial operations, <span>marking the completion of all five wind farms in a Lekela-led consortium across South Africa.</span></p>\n<p>This immense wind project comprising of sixty-one turbines will generate 513GWh of renewable energy each year, enough to power 154,625 average South African households.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "3a8a9ff5-d44b-41dc-a1d3-0b58bf2744c5",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "100MW Ilanga CSP",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "838ddf61-3d7b-4139-bdf8-1771c2ecb61f",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1833,
                    "udi": "umb://media/684779aba0f34a71867a9930727c76c7",
                    "image": "/media/vv2fo0ht/six.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>The 100 MW Ilanga CSP1 station has been operational since November 2018, producing clean energy to serve around 100,000 South African households.</p>\n<p>Based in the Karoshoek Solar Valley area in Upington, this R11 billion facility was engineered, procured and constructed by Dankocom EPC, whose consortium partners are Cobra Energia, Sener and Emvelo.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "a3287914-bf52-4598-8cd3-de3ee9e26035",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "75MW Dyasons Klip PV Solar",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "07aab153-7859-484e-8cce-5e1cae093a0d",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1835,
                    "udi": "umb://media/2aed50c211914749b4768acb1b1e9ed6",
                    "image": "/media/yrio0kur/seve.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>The completed Dyason’s Klip 2<span> is the third and last plant of</span> Scatec Solar’s three solar power stations on the Upington complex.</p>\n<p>With it's 75MW capacity, the plant is capable of supplying electricity to approximately 40,000 South African homes.</p>\n<p>Scatec Solar and its partners will sell electricity to<span> </span>Eskom <span>under a Power Purchase Agreement (PPA).</span></p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "033f3bf6-7aa5-4e53-a44a-5b37592d5ff7",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "40MW Aggeneys PV Solar",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "c47f49de-3959-4705-98ef-83fd05eb2f72",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1840,
                    "udi": "umb://media/23085a7b3b7845a6ab55b3cfb5aaf7ec",
                    "image": "/media/pvnaqi1y/sixteen.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>Situated near the small town of Aggeneys in the Khai Ma Local Municipality, the Aggeneys solar energy facility consists of 140,640 single axis tracking polycrystalline silicon PV modules and covers 110 hectares.</p>\n<p>Developed by Biotherm Energy, it covers 110 hectares and generates enough to cover the electricity needs of around 20,000 households.</p>\n<p>Aggeneys was awarded under REIPPPP bid window 4 in 2015.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "e509e6db-748b-48b3-8871-5718db2bd324",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "50MW Khi Solar One CSP",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "9e24d68e-c0b7-4bf8-8f21-5f89487d98e6",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1841,
                    "udi": "umb://media/75e1107405fe41d78541d657b7b0e052",
                    "image": "/media/oiioc3p4/final.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<p>Commissioned in February 2016, Khi Solar One was one of the first concentrated solar power (CSP) plants in the country.</p>\n<p>The hollow super-heated steam solar tower at the heart of the plant is taller than Ponte City in Johannesburg, completely surrounded by 4 200 concave solar mirror panels controlled by GPS signal and the time of day. </p>\n<p><span>It produces 50 megawatts (MW) of energy and reduces South Africa’s carbon dioxide emissions by about 138 000 metric tons a year.</span></p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "f695f4fd-0e3c-4d11-8624-d34f2df13458",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p> </p>\n<hr />\n<p> </p>\n<p>Make your dream of reliable large-scale energy generation a reality. Reach out to us below.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab has been trusted with the material success of South Africa's largest energy projects (Kusile, Medupi, Kendel and Matla Power Stations) as well as dozens of large-scale solar and wind farms nationwide.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[INDEPENDENT ENERGY]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "cbd29e98-3c1c-4ee2-a76a-987a23b92cbc",
    "name": "Power Stations",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Power Stations"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "2b76e587-46ac-4ed9-9da1-f9bd16035cd9",
    "name": "South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/d7f8bec16eef45ba89b7c87128e46f41]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Within 60 days, companies will no longer need a license to power their operations using their very own windfarms or solar parks up to 100MW.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Embedded Energy Projects]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Wind Farms and Solar Parks]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Our Future (And History) Of Independent Renewable Energy]]></Value>
    </pageTitle>
  </Properties>
</Content>