<?xml version="1.0" encoding="utf-8"?>
<Content Key="2abbef1b-5de8-4f72-9dc1-c4510e405683" Alias="Power Stations XYZ" Level="3">
  <Info>
    <Parent Key="ac98267b-a8c3-44da-8650-b4b98cb2812a">Power Stations</Parent>
    <Path>/BlogHome/PowerStations/PowerStationsXYZ</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-03-01T15:53:06</CreateDate>
    <NodeName Default="Power Stations XYZ" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-01T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Ribeye kielbasa brisket venison bacon. Leberkas pancetta meatloaf landjaeger bresaola ham hock jowl frankfurter venison shoulder filet mignon turkey. Chislic porchetta filet mignon, tongue ribeye buffalo sirloin tri-tip salami tail. Shoulder ham porchetta biltong bacon rump bresaola jowl frankfurter pastrami sausage beef ribs. Pork tri-tip biltong hamburger.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/d69431673fa647b4b5a2baf712419a97]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/e331ef1936a94dbabe94ea7ea6649a03]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Power Stations XYZ]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/bc4ca73b02c645e5ad5713aa95d1a0a0]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[0]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "8c1c8d41-214a-4117-bff7-eeb36fc208a0",
    "name": "Lab stuff",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Lab stuff"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Split",
          "id": "8552af2c-f7b6-af8b-61b8-f9e8572f8fcf",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "id": 1797,
                    "udi": "umb://media/d69431673fa647b4b5a2baf712419a97",
                    "image": "/media/meyjjvvg/2.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "<div class=\"anyipsum-output\">\n<p>Bacon ipsum dolor amet shankle tenderloin picanha hamburger filet mignon frankfurter buffalo pork loin turkey sirloin bresaola chuck ball tip brisket. Turducken short ribs prosciutto bresaola doner burgdoggen. Strip steak shankle porchetta pork flank boudin. Filet mignon picanha pork, corned beef shoulder fatback pastrami bacon ground round short loin ham hock cupim chicken ribeye salami. Ham flank andouille pork chop shoulder, fatback brisket tongue prosciutto. Pork chop bresaola meatloaf pork spare ribs jowl porchetta leberkas kielbasa filet mignon alcatra strip steak chuck tail.</p>\n<p>Rump ham pig pork tenderloin. Drumstick tenderloin swine beef ribs pork belly corned beef, meatloaf brisket. Turkey pork loin fatback capicola, alcatra turducken buffalo shoulder t-bone short loin sausage doner prosciutto meatloaf cow. Sirloin alcatra filet mignon cupim, ground round pork belly drumstick.</p>\n</div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "55123aba-d2a9-a95c-1fc9-1f670eca1ef1",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<div class=\"anyipsum-output\">\n<p>Bacon ipsum dolor amet shankle tenderloin picanha hamburger filet mignon frankfurter buffalo pork loin turkey sirloin bresaola chuck ball tip brisket. Turducken short ribs prosciutto bresaola doner burgdoggen. Strip steak shankle porchetta pork flank boudin. Filet mignon picanha pork, corned beef shoulder fatback pastrami bacon ground round short loin ham hock cupim chicken ribeye salami. Ham flank andouille pork chop shoulder, fatback brisket tongue prosciutto. Pork chop bresaola meatloaf pork spare ribs jowl porchetta leberkas kielbasa filet mignon alcatra strip steak chuck tail.</p>\n<p>Rump ham pig pork tenderloin. Drumstick tenderloin swine beef ribs pork belly corned beef, meatloaf brisket. Turkey pork loin fatback capicola, alcatra turducken buffalo shoulder t-bone short loin sausage doner prosciutto meatloaf cow. Sirloin alcatra filet mignon cupim, ground round pork belly drumstick.</p>\n</div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p><span>No matter your business or location Roadlab is your go to partner for materials testing.</span></p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[IN OUR WORLD]]></Value>
    </heroLargeHeading>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[0]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "2369a961-30d4-419d-a958-cffc4436f6a2",
    "name": "What ever",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "What ever"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "f7decef4-5ca2-4c78-bbd5-3f2342ec93c8",
    "name": "Zambia",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Zambia"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Power Stations XYZ]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Power stations]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[follow, index]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>