<?xml version="1.0" encoding="utf-8"?>
<Content Key="faa4800c-c64a-48ac-94c8-f0b9b2315897" Alias="Sampling CBR" Level="4">
  <Info>
    <Parent Key="d5b3bb7d-1982-4dc4-b06f-b0c8a2c5a2c1">Soil and Gravel</Parent>
    <Path>/AppSettings/Tests/SoilAndGravel/SamplingCBR</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2019-10-31T05:44:09</CreateDate>
    <NodeName Default="Sampling CBR" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <testingTypeDescription>
      <Value><![CDATA[]]></Value>
    </testingTypeDescription>
    <testingTypeName>
      <Value><![CDATA[Sampling CBR]]></Value>
    </testingTypeName>
  </Properties>
</Content>