<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2e308ac-03c8-4dfb-846e-f76f61e89a3c" Alias="Site Laboratories" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/SiteLaboratories</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2019-10-10T09:06:41</CreateDate>
    <NodeName Default="Site Laboratories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <branchAccreditationLink>
      <Value><![CDATA[umb://media/8ecbd5a5204c42c8b9d0addcafc6756b]]></Value>
    </branchAccreditationLink>
    <branchAddress1>
      <Value><![CDATA[207 Rietfontein Road ]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[Primrose ]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[Germiston ]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/12c7ed55aa364041a1b0f1a41e21228f]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+27 (0) 66 306 5019 ]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Germiston ]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["South Africa"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[theo@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/ae6590488ca2411797abcec7e599e115]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Theo de Jager]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[-26.1853606]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[28.1676324]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Theo de Jager]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.347993515569!2d28.167637715574887!3d-26.185355769567924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95117116280df1%3A0xd9f0559effaa2c93!2sROADLAB%20PTY%20LTD!5e0!3m2!1sen!2sza!4v1567148974116!5m2!1sen!2sza" width="100%" height="350px" frameborder="0" style="border: 0;" allowfullscreen=""></iframe></p>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Site Laboratories]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[1401]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Gauteng"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+27 (0)11 828 029]]></Value>
    </branchTelephoneNumber>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on 207 Rietfontein Road, Primrose, Germiston. Gauteng +27 (0)11 828 029 for site laboratories.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Site Laboratories]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab Site Laboratories]]></Value>
    </pageTitle>
  </Properties>
</Content>