<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2083a4a-4f70-4be1-adb4-ac21a4ba9411" Alias="Soil &amp; Gravel" Level="4">
  <Info>
    <Parent Key="d56714df-35af-4b23-a158-44e5a3e5cb6c">Materials Testing</Parent>
    <Path>/Home/Services/MaterialsTesting/SoilGravel</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2019-10-09T09:23:50</CreateDate>
    <NodeName Default="Soil &amp; Gravel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[soil]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p>Soil and gravel testing can satisfy concerns about a site’s ability to accommodate a specific project.</p>
<p>Our accredited laboratories and mobile facilities are equipped to perform the following soil testing services according to testing standards set by ASTM, SANAS, BSI and more.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Soil & Gravel]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "fa8e026a-1698-44fd-857f-fd94322b5189",
    "mediaKey": "09fc8cca-dce4-4812-8e85-e2053feefb43",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[Material Classification. Wet and Dry Durability. Bearing Capacity.]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[MATERIALS TESTING]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Moisture Content Density Bearing Capacity Testing soil & gravel material to can satisfy concerns regarding strength, density, compaction, contamination and more]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[SERVICE OFFERING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Soil & Gravel]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/d74893fd06ff47d28376e4e030671953]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index,follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Soil & Gravel Moisture Content Density Bearing Capacity Test]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "93ea70ec-eb9a-4670-954d-879fc34e4bc2",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Wet Particle Size Analysis ",
    "categoryHeading2": "Size Analysis ",
    "category": "<p>This test is primarily used in material classification and to determine compliance to the particle size distribution of gravels to specified standards. This method is required to obtain the fines to be used in the Atterburg limits. GR 2 is used for gravel, aggregate and sandy material with little or no cohesion properties. PR5 uses the sieve analysis to determine the ratio between clay, sand and coarse material.</p>",
    "categoryImage": "umb://media/b655c1c05a624c82bb3bac3c9670728a"
  },
  {
    "key": "e69f8faa-bdaf-4094-b4f4-be4ca5c820c5",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Liquid Limit, Plasticity Index & Linear Shrinkage",
    "categoryHeading2": "& Linear Shrinkage",
    "category": "<p>The liquid limit, plasticity index and linear shrinkage is collectively referred to as the Atterberg limits. This method determines the amount of moisture required to place the material in a liquid state (Liquid limit) or in a plastic state (Plastic limit).</p>",
    "categoryImage": "umb://media/14eb776fddaf414caa3e9dd8b760a12b"
  },
  {
    "key": "ccca7d29-320d-4f8b-b6df-e6cff3563ed6",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "Oven Drying by Constant Mass",
    "categoryHeading2": "Constant Mass",
    "category": "<p>Moisture can have a significant effect on the behavior of material in the construction industry. This method is also used to ensure oven dried samples attain constant mass when dried.</p>",
    "categoryImage": "umb://media/e357b57258234d0197403a71fdf95a7b"
  },
  {
    "key": "8ee8b958-5b08-43a5-972a-5d7d15f9053e",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Maximum Dry Density & Optimum Moisture Content",
    "categoryHeading2": "Optimum Moisture Content",
    "category": "<p>This method determines the maximum dry density (MDD) and optimum moisture content (OMC) of material. GR31 covers the addition of cementitious stabilizing agent.</p>",
    "categoryImage": "umb://media/6afec75584b34cf3b3362dd9fc6a39e8"
  },
  {
    "key": "b60efa6c-1ca9-46f0-9d48-22d1047f8ddf",
    "name": "Item 5",
    "ncContentTypeAlias": "products",
    "categoryNumber": "05",
    "categoryHeading1": "California Bearing Ratio (CBR)",
    "categoryHeading2": "Bearing Ratio (CBR)",
    "category": "<p>This is a penetration test. Samples are prepared in accordance to SANS 3001 GR30, at 100%, 95% and 90% compaction. The CBR is determined by penetrating a 50mm diameter piston into the material after being soaked in water. GR41 covers the addition of cementitious stabilizing agent.</p>",
    "categoryImage": "umb://media/eead53a049da44b3be07224426378b43"
  },
  {
    "key": "73cd625d-cae7-468a-aa4d-5e4bbbc25a1c",
    "name": "Item 6",
    "ncContentTypeAlias": "products",
    "categoryNumber": "06",
    "categoryHeading1": "Laboratory Mixed Cementitious Stabilised Materials ",
    "categoryHeading2": "Stabilised Materials ",
    "category": "<p>In-laboratory testing of mix design properties for cementitious material can be used to determine the maximum dry density (MDD), optimum moisture content (OMC), indirect tensile strength (ITS), unconfined compressive strength (UCS) as well as wet and dry durability.</p>",
    "categoryImage": "umb://media/3ea431bcbd034c008612cc217316c676"
  },
  {
    "key": "b651a699-599c-4ea4-95f9-a2e74067c505",
    "name": "Item 7",
    "ncContentTypeAlias": "products",
    "categoryNumber": "07",
    "categoryHeading1": "Unconfined Compressive Strength (UCS)",
    "categoryHeading2": "Strength (UCS)",
    "category": "<p>This method is used in the quality control of cementitiously stabilized material proposed and in use of construction material. Unconfined compressive strength (UCS) results might be used to determine compliance to specifications for compressive strength of stabilized gavels.</p>",
    "categoryImage": "umb://media/d8b0ebdf90314b4696dc744da26f9829"
  },
  {
    "key": "33e7684b-5385-42ca-b119-9c94bc4348d6",
    "name": "Item 8",
    "ncContentTypeAlias": "products",
    "categoryNumber": "08",
    "categoryHeading1": "Indirect Tensile Strength (ITS)",
    "categoryHeading2": "Strength (ITS)",
    "category": "<p>This method is used in the quality control of cementitious stabilized material proposed and in use of construction material. Indirect tensile strength (ITTS) can be used to determine compliance to specification for indirect tensile strength.</p>",
    "categoryImage": "umb://media/d7dced5b2bbb4e8daacb78a3409d2862"
  },
  {
    "key": "22400fa6-b3c1-41c9-bdef-aecfdaca331d",
    "name": "Item 9",
    "ncContentTypeAlias": "products",
    "categoryNumber": "09",
    "categoryHeading1": "Wet-dry Durability ",
    "categoryHeading2": "Durability ",
    "category": "<p>This method is used in the quality control of cementitious stabilized material proposed and in use of construction material. Results obtained can give an indication on the durability or expected degradation of the material being tested. GR56 is specifically for mechanical brushing.</p>",
    "categoryImage": "umb://media/6d9f6caaa69b445e992834d4a6fb15af"
  },
  {
    "key": "20cd6990-998b-43fe-b6ea-22a16d8dbb47",
    "name": "Item 10",
    "ncContentTypeAlias": "products",
    "categoryNumber": "10",
    "categoryHeading1": "Dynamic Probe Super Heavy (DPSH)",
    "categoryHeading2": "Super Heavy (DPSH)",
    "category": "<p>DPSH Testing (Dynamic Probe Super Heavy) - This method consists of driving a sacrificial or fixed cone through soil to a depth of up to 20 meters, to determine expected bearing capacity of soils. The constant energy for this heavy weight dynamic cone penetrometer is a 63.5kg weight that is raised to a height 760mm and then dropped, driving the cone into the soil or other material being tested.</p>",
    "categoryImage": "umb://media/21f789e530bd484c84330dcf07d7c5fa"
  },
  {
    "key": "4233a503-93a2-42fb-a2a4-b9fd15048d32",
    "name": "Item 11",
    "ncContentTypeAlias": "products",
    "categoryNumber": "11",
    "categoryHeading1": "Cored specimens ",
    "categoryHeading2": "specimens ",
    "category": "<p>This method is used to extract field specimens (cores) of stabilized material for laboratory testing.</p>",
    "categoryImage": "umb://media/65d76411e37e44db80c9654c6c085d71"
  },
  {
    "key": "7350be8d-634f-434e-a848-e33b870f9751",
    "name": "Item 12",
    "ncContentTypeAlias": "products",
    "categoryNumber": "12",
    "categoryHeading1": "Sand replacement",
    "categoryHeading2": "replacement",
    "category": "<p>The sand replacement method is used to determine the in-situ density of a layer without a nuclear density gauge, and is used in areas where the nuclear density method is unsuitable.</p>",
    "categoryImage": "umb://media/83abedbaa77b40e9a0b576c0fd6252db"
  },
  {
    "key": "205031a8-fd11-44f0-bbda-e30870a4945d",
    "name": "Item 13",
    "ncContentTypeAlias": "products",
    "categoryNumber": "13",
    "categoryHeading1": "Dynamic cone penetrometer (DCP) ",
    "categoryHeading2": "penetrometer (DCP) ",
    "category": "<p>This method determines the rate of penetration into natural or compacted material. The penetration rate can be used to determine the resistance of the material as well as to interpolate the expected California Bearing Ratio.</p>",
    "categoryImage": "umb://media/a750892836394a448bf0d6994fd2a636"
  },
  {
    "key": "92c0aa0b-184e-4216-998c-5b5cf0bdaea2",
    "name": "Item 14",
    "ncContentTypeAlias": "products",
    "categoryNumber": "14",
    "categoryHeading1": "Plate load test ",
    "categoryHeading2": "load test ",
    "category": "<p>This is field test performed to determine the ultimate bearing capacity of soil and the probable settlement under a given load. The plate is placed at the desired depth, then the load is applied gradually and the settlement for each increment of load is recorded.</p>",
    "categoryImage": "umb://media/565d1d8d95a242b587bc8eb729fc4701"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[]]]></Value>
    </servicesButtons>
  </Properties>
</Content>