<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b606f5b-b9a0-4a31-8699-1b85ba88e5e1" Alias="Test" Level="3">
  <Info>
    <Parent Key="e90b3211-3290-4264-8da4-1b399f79a1a7">Landing Pages</Parent>
    <Path>/Home/LandingPages/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>landing</ContentType>
    <CreateDate>2023-11-22T15:18:13</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a895c13d-2059-405f-995e-f865e6cc6d08">Landing</Template>
  </Info>
  <Properties>
    <landingHeading>
      <Value><![CDATA[]]></Value>
    </landingHeading>
    <landingImage>
      <Value><![CDATA[]]></Value>
    </landingImage>
  </Properties>
</Content>