<?xml version="1.0" encoding="utf-8"?>
<Content Key="97654a61-3d8c-4ac5-97e5-a8c06986d71f" Alias="*Test Company One" Level="2">
  <Info>
    <Parent Key="978d3fc0-db2b-4254-8f72-71632c97be4a">Companies</Parent>
    <Path>/Companies/TestCompanyOne</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2019-08-10T11:03:43</CreateDate>
    <NodeName Default="*Test Company One" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyName>
      <Value><![CDATA[Test Company One]]></Value>
    </companyName>
    <companyNumber>
      <Value><![CDATA[0001]]></Value>
    </companyNumber>
  </Properties>
</Content>