<?xml version="1.0" encoding="utf-8"?>
<Content Key="828ed63c-efcf-4136-9b11-3bd08e22d7b5" Alias="Test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test1</Path>
    <Trashed Parent="8e955c1f-d2bf-4d5f-8e75-82fa663a7f68">true</Trashed>
    <ContentType>serviceNew</ContentType>
    <CreateDate>2023-11-22T10:58:33</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="02da1c66-6508-48c1-ae62-3e12643b6e1f">ServiceNew</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <heroContent>
      <Value><![CDATA[]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>