<?xml version="1.0" encoding="utf-8"?>
<Content Key="e527e6d5-4ae4-4ed1-b40c-880dfa03a014" Alias="*Test Company Two" Level="2">
  <Info>
    <Parent Key="978d3fc0-db2b-4254-8f72-71632c97be4a">Companies</Parent>
    <Path>/Companies/TestCompanyTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2019-08-10T11:04:00</CreateDate>
    <NodeName Default="*Test Company Two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyName>
      <Value><![CDATA[Test Company Two]]></Value>
    </companyName>
    <companyNumber>
      <Value><![CDATA[0002]]></Value>
    </companyNumber>
  </Properties>
</Content>