<?xml version="1.0" encoding="utf-8"?>
<Content Key="df0c6b7e-3e06-4b49-823b-9939f177d838" Alias="Vacancies" Level="2">
  <Info>
    <Parent Key="778404db-d1cf-49d1-a83b-0d84173a1c5c">Home</Parent>
    <Path>/Home/Vacancies</Path>
    <Trashed>false</Trashed>
    <ContentType>vacancies</ContentType>
    <CreateDate>2020-09-16T15:17:31</CreateDate>
    <NodeName Default="Vacancies" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8396aee1-f14b-49eb-bb66-a6cd1ae22ddd">Vacancies</Template>
  </Info>
  <Properties>
    <jobDescription>
      <Value><![CDATA[]]></Value>
    </jobDescription>
    <jobTitle>
      <Value><![CDATA[No vacancies at present]]></Value>
    </jobTitle>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Vacancies]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Vacancies]]></Value>
    </pageTitle>
    <uploadJobSpec>
      <Value><![CDATA[]]></Value>
    </uploadJobSpec>
  </Properties>
</Content>