<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7998b64-c58c-4ce8-b864-b3ef11a36d58" Alias="Zimbabwe" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Zimbabwe</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2020-10-13T14:54:32</CreateDate>
    <NodeName Default="Zimbabwe" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <branchAccreditationLink>
      <Value><![CDATA[]]></Value>
    </branchAccreditationLink>
    <branchAddress1>
      <Value><![CDATA[Unit No. 6, Sullivan Industrial Park]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[No. 19 Steelworks Road West]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[Westondale]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/57e1222c99af4b0ba0ab31df89fb9b39]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+263 77 587 0434]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Bulawayo]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[["Zimbabwe"]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[lethi@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/5fbbf620edf24652b0b16d77f528a783]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Lethi Dube]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[28.5380133]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[-20.1553362]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Lethi Dube (Managing Director)]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.489460236773!2d28.538013315464525!3d-20.15533615056201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eb553ac2fc69b41%3A0xee3c8180784a7dd5!2s19%20Steel%20Works%20Rd%20W%2C%20Bulawayo%2C%20Zimbabwe!5e0!3m2!1sen!2sza!4v1602593629024!5m2!1sen!2sza" width="100%" height="350" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Zimbabwe]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[-]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[["Outside South Africa"]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+263 77 587 0434]]></Value>
    </branchTelephoneNumber>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on Unit No. 6, Sullivan Industrial Park, No.19 Steelworks Road West, Westondale, Bulawayo. Zimbabwe. +263 77 587 0434 For laboratory testing]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Enquiries]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Zimbabwe]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Materials testing-Roadlab Zimbabwe-Bitumen Concrete Soil]]></Value>
    </pageTitle>
  </Properties>
</Content>