 
  <!-- Example view to bind to your Angular -->
  <div id="content"   data-ng-controller="FileUploadController">
    <h1>Upload a file</h1>
    <!-- using ng-file-upload by Danial Farid -->
    <!-- See for https://github.com/danialfarid/ng-file-upload documentation on configuration -->
    <button ng-file-select ng-model="files" ng-file-change="fileSelected(files)" class="file button btn-primary" ng-multiple="false" accept=".jpg,.png,.gif,.pdf" ng-show="!isUploading">
      Choose File
    </button>
    <button type="button" data-ng-click="uploadFile()">Upload</button>
  </div>
     