.footer {

	color:$color-white;
	background-image: url("../images/rockface3.jpg");
	
	&__spacer--left{
	padding-right: 3%;
	border-right: 1px solid $medium-grey;
}
	&__spacer--middle{
	padding-left: 3%;
	border-right: 1px solid $medium-grey;
}
	&__spacer--right{
	padding-left: 3%;
}

	&__container {
		padding: 8rem 0 6rem;
	}

	&__text {
		color: $medium-grey;
		padding-top: 3rem;
		text-align: justify;
		font-size: 1.3rem;
		font-weight: 300;
	}
	&__heading {
		font-size: 2rem;
		color: $medium-grey;
		font-weight: 700;
	}
	&__list-box {
		margin-left: -.5rem;
		&--icon {
			margin-left: .5rem;
	}
		}

	&__links a {
		color: $medium-grey;
		font-weight: 500;
		text-decoration: none;

	}
		&__links a:hover {
		color: $color-white;
		font-weight: 500;
		text-decoration: none;
	}

	&__contact {
		font-weight: 500;
		color: $medium-grey;
		font-size: 1.3rem;

		&--details {
			padding-left: 5rem;
		}

	}

	&__icon {
	padding: 2rem;
	margin-left: -5rem;
	}
	
	&__credits {
		background-color: $heavy-blue;
		text-align: center;

		&--text p {
			color: $medium-grey;
			font-size: 1.3rem;
			font-weight: 300;
			padding-top: 1rem;

		}
	}
}
.ft-icon {
	color: $dark-orange;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom:5%;
  left: 96%;
  overflow: hidden;

}

