<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8f266bb-3282-417c-83c2-cef86e01ff07" Alias="1 GPR" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/GPR</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-18T11:27:06</CreateDate>
    <NodeName Default="1 GPR" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xvtpfsec/1-gpr.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>