<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ea48647-81b2-4dc3-9ede-b9da0b4cb1c4" Alias="11 SG" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/SG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:58:00</CreateDate>
    <NodeName Default="11 SG" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/igdkipvs/11-sg.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>