<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3aecc57-d149-4da8-96de-d8ad9049a82d" Alias="24 Shrinkage Limit" Level="4">
  <Info>
    <Parent Key="e96ab060-0491-490e-8e41-0017d7388cf5">New</Parent>
    <Path>/Services/Soil/New/ShrinkageLimit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T06:23:37</CreateDate>
    <NodeName Default="24 Shrinkage Limit" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/khgk3i0j/24-shrinkage-limit.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>