<?xml version="1.0" encoding="utf-8"?>
<Media Key="da4f18c3-08f0-4423-9862-3dc9093a21fd" Alias="5 ICC, ICL, Ph And Conductivity" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/ICCICLPhAndConductivity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:59</CreateDate>
    <NodeName Default="5 ICC, ICL, Ph And Conductivity" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yume5wxq/5-icc-icl-ph-and-conductivity.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>