<?xml version="1.0" encoding="utf-8"?>
<Media Key="dda0e998-6fde-4ef1-9cbd-b965a3299628" Alias="9 Dribility Testing" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/DribilityTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T08:49:17</CreateDate>
    <NodeName Default="9 Dribility Testing" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1ulbxo4/9-dribility-testing.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>