<?xml version="1.0" encoding="utf-8"?>
<Media Key="06ebb11e-730f-45d2-86c6-575826b78c2d" Alias="9 Ethelyne Glycol" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/EthelyneGlycol</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:59</CreateDate>
    <NodeName Default="9 Ethelyne Glycol" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcypwbqp/9-ethelyne-glycol.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>