<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c434fdb-814b-43ea-9ec8-6cd415d9476b" Alias="Asphalt And Roadworks" Level="4">
  <Info>
    <Parent Key="e8e9be11-8b28-4d2d-a891-b145b6b5301d">2022 Cash Cows</Parent>
    <Path>/Blog/AsphaltAndRoadworks/CashCows/AsphaltAndRoadworks</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-09T07:36:51</CreateDate>
    <NodeName Default="Asphalt And Roadworks" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vhfhhcl/asphalt-and-roadworks.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>