<?xml version="1.0" encoding="utf-8"?>
<Media Key="32736d13-5231-4571-843b-2e6213d33e26" Alias="Balama Site Team On A Borrow Pit Investigation 1" Level="4">
  <Info>
    <Parent Key="e0141e6a-9f41-4e49-939b-1d85f6fa3289">Mozambique</Parent>
    <Path>/Blog/Roadlab/Mozambique/BalamaSiteTeamOnABorrowPitInvestigation1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-01T14:14:49</CreateDate>
    <NodeName Default="Balama Site Team On A Borrow Pit Investigation 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cvwhgmrr/balama-site-team-on-a-borrow-pit-investigation-1.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>