<?xml version="1.0" encoding="utf-8"?>
<Media Key="40d4ea49-b429-46b7-b3db-3a5fb7dfd3fd" Alias="Belville 2" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Belville2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T09:12:17</CreateDate>
    <NodeName Default="Belville 2" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j5vniqbj/belville-2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>