<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfb6db57-8fe7-4f8c-b664-31aa89c1304b" Alias="Chemistr Darky" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/ChemistrDarky</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-17T06:36:11</CreateDate>
    <NodeName Default="Chemistr Darky" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/khnlnp5h/chemistr-darky.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>