<?xml version="1.0" encoding="utf-8"?>
<Media Key="f267c0cd-136f-4189-873d-ed0153c3b96f" Alias="Cover Feb2023 V6" Level="2">
  <Info>
    <Parent Key="db9bf9bb-691b-447b-bafe-b4a0db4a1196">Home</Parent>
    <Path>/Home/CoverFeb2023V6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-03T11:59:34</CreateDate>
    <NodeName Default="Cover Feb2023 V6" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zpagp2tp/cover-feb2023-v6.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>