<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a7a9641-8357-4e10-85b7-4c4811db16a3" Alias="Limpopo Branch" Level="4">
  <Info>
    <Parent Key="d59b9b35-e25a-477c-9483-9d679c152b27">Provinces</Parent>
    <Path>/Blog/Roadlab/Provinces/LimpopoBranch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-24T12:49:38</CreateDate>
    <NodeName Default="Limpopo Branch" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i4lhuosx/limpopo-branch.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>