<?xml version="1.0" encoding="utf-8"?>
<Media Key="039346fa-9d3d-48ca-b7e3-862287f97447" Alias="Longer Banner3" Level="4">
  <Info>
    <Parent Key="2095f725-14c5-4d74-a64e-082adef6eed5">N2 Green to Buffalo River</Parent>
    <Path>/Blog/AsphaltAndRoadworks/N2GreenToBuffaloRiver/LongerBanner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-14T07:02:35</CreateDate>
    <NodeName Default="Longer Banner3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5rdjgaz3/longer-banner3.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>