<?xml version="1.0" encoding="utf-8"?>
<Media Key="9410939a-d3f0-45b3-ba42-5a252aadcdf0" Alias="Nigeria S" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/NigeriaS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-13T14:34:35</CreateDate>
    <NodeName Default="Nigeria S" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/tsjbbfhq/ikes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>