<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdb7d35d-74fe-455f-bb00-3af50cca4379" Alias="OTMS Banners" Level="4">
  <Info>
    <Parent Key="4370ee3b-26b5-4205-a76a-202f6ba4d751">OTMS</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/OTMS/OTMSBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T10:26:27</CreateDate>
    <NodeName Default="OTMS Banners" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lpjlp5p4/otms-banners.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>