<?xml version="1.0" encoding="utf-8"?>
<Media Key="31d8e465-eb42-4dd7-b45d-3620770f4061" Alias="Outside Facilities19201080 (1)" Level="4">
  <Info>
    <Parent Key="df5a01bc-e5a6-4baa-8b66-57793e9e35e7">Balama</Parent>
    <Path>/Blog/Mining/Balama/OutsideFacilities192010801</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-22T13:12:03</CreateDate>
    <NodeName Default="Outside Facilities19201080 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mpsnqmkc/outside-facilities19201080.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>