<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b1ac03-f055-471d-a636-3fb6bbcfb2aa" Alias="Roadlab Team" Level="2">
  <Info>
    <Parent Key="db9bf9bb-691b-447b-bafe-b4a0db4a1196">Home</Parent>
    <Path>/Home/RoadlabTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-24T09:52:35</CreateDate>
    <NodeName Default="Roadlab Team" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awwlducv/roadlab-team.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>