<?xml version="1.0" encoding="utf-8"?>
<Media Key="63e2f6c5-7f42-47c3-8551-a44c2f0cac3a" Alias="Scatec 4" Level="4">
  <Info>
    <Parent Key="487cdfc0-7cc0-4863-b850-b679662c59fd">Kernhardt</Parent>
    <Path>/Blog/WindPowerAndRenewables/Kernhardt/Scatec4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-04T08:55:37</CreateDate>
    <NodeName Default="Scatec 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yp1oey0c/scatec-4.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>