<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca083741-ba98-4fad-87d1-300b16d1a748" Alias="Soils Header" Level="2">
  <Info>
    <Parent Key="6411dbac-ce6a-44f6-a5a9-e7f2406bd8fa">Blog</Parent>
    <Path>/Blog/SoilsHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-09T05:45:12</CreateDate>
    <NodeName Default="Soils Header" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i21brsuy/soils-header.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>