<?xml version="1.0" encoding="utf-8"?>
<Media Key="541e6c4f-6c97-4283-8089-cac7f9a500e9" Alias="Untitled 1" Level="2">
  <Info>
    <Parent Key="6411dbac-ce6a-44f6-a5a9-e7f2406bd8fa">Blog</Parent>
    <Path>/Blog/Untitled1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T12:06:40</CreateDate>
    <NodeName Default="Untitled 1" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jfwb2vex/untitled-1.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>