<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8fd42b1-020c-472c-b3ef-a2b51e4a9c5f" Alias="Vlcsnap 2022 08 03 12H25m04s177 3 Min (2)" Level="4">
  <Info>
    <Parent Key="0fb9209c-661d-4614-9bcc-4f7d0530fb1c">Matthew Interview</Parent>
    <Path>/Blog/Roadlab/MatthewInterview/Vlcsnap2022080312H25m04s1773Min2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-03T10:37:33</CreateDate>
    <NodeName Default="Vlcsnap 2022 08 03 12H25m04s177 3 Min (2)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w3bp1kam/vlcsnap-2022-08-03-12h25m04s177-3-min.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>