<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a7d4c2-a996-44bf-881b-3c05845f6624" Alias="White" Level="2">
  <Info>
    <Parent Key="b67c6409-d790-4e77-9cfc-bf364f62e17a">Icons</Parent>
    <Path>/Icons/White</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-09-17T13:04:58</CreateDate>
    <NodeName Default="White" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>