<?xml version="1.0" encoding="utf-8"?>
<Media Key="a974c907-117d-413b-a8ec-2c8493afe65f" Alias="1 Organic Impurities" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/OrganicImpurities</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:57</CreateDate>
    <NodeName Default="1 Organic Impurities" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ahehjkl3/1-organic-impurities.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>