<?xml version="1.0" encoding="utf-8"?>
<Media Key="b655c1c0-5a62-4c82-bb3b-ac3c9670728a" Alias="1 Sieve" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Products/Soil/Sieve</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T09:28:04</CreateDate>
    <NodeName Default="1 Sieve" />
    <SortOrder>0</SortOrder>
    <FileHash>1871925320623314612421320212911590190224120</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y1aflntc/1-sieve.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>