<?xml version="1.0" encoding="utf-8"?>
<Media Key="36e9d37b-0d8e-4840-ae78-716bcea0b091" Alias="10 Back Titration" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/BackTitration</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:58:00</CreateDate>
    <NodeName Default="10 Back Titration" />
    <SortOrder>7</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pxjpsnuo/10-back-titration.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>