<?xml version="1.0" encoding="utf-8"?>
<Media Key="815bd70e-e0ff-46c1-b2d4-7b2d55560e80" Alias="11 Ball Penetrometer" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/BallPenetrometer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:42</CreateDate>
    <NodeName Default="11 Ball Penetrometer" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bdlfxap5/11-ball-penetrometer.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>