<?xml version="1.0" encoding="utf-8"?>
<Media Key="65d76411-e37e-44db-80c9-654c6c085d71" Alias="11 Cored Specimens" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/CoredSpecimens</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T13:54:28</CreateDate>
    <NodeName Default="11 Cored Specimens" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c3snozl4/11-cored-specimens.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>