<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ac43b46-396a-4cd2-8c95-ec8b897c6bc6" Alias="12 Compression Recovery" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/CompressionRecovery</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:43</CreateDate>
    <NodeName Default="12 Compression Recovery" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ia3nictk/12-compression-recovery.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>