<?xml version="1.0" encoding="utf-8"?>
<Media Key="132ac59b-5bd6-4386-bee1-7d6f5bb4f183" Alias="12 Methylene Blue" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/MethyleneBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:58:01</CreateDate>
    <NodeName Default="12 Methylene Blue" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/txcdue4w/12-methylene-blue.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>