<?xml version="1.0" encoding="utf-8"?>
<Media Key="97ba3183-db2a-4aad-9436-eedf67667930" Alias="13 Flow Test" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/FlowTest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:43</CreateDate>
    <NodeName Default="13 Flow Test" />
    <SortOrder>18</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/quylvfzk/13-flow-test.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>