<?xml version="1.0" encoding="utf-8"?>
<Media Key="01c266ab-e4b5-46e5-87c2-68f649d69b4d" Alias="15 IRI" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/IRI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:09</CreateDate>
    <NodeName Default="15 IRI" />
    <SortOrder>14</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vvtmeanv/15-iri.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>