<?xml version="1.0" encoding="utf-8"?>
<Media Key="7eba489e-14bd-4f12-a81f-262433676a5a" Alias="16 Elcometer" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/Elcometer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T07:20:30</CreateDate>
    <NodeName Default="16 Elcometer" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tbelu5v3/16-elcometer.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>