<?xml version="1.0" encoding="utf-8"?>
<Media Key="bebb943d-84f0-446b-a435-d18c9f096301" Alias="16 Marvil Testing" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Products/AsphaltBitumen/MarvilTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:44</CreateDate>
    <NodeName Default="16 Marvil Testing" />
    <SortOrder>21</SortOrder>
    <FileHash>17084549114214233115693113443123196138</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hoklxpxq/16-marvil-testing.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>