<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fe34dad-dbd1-4018-9bd4-ed5814c6480d" Alias="17 MMLS 3" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Products/Sampling/MMLS3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:10</CreateDate>
    <NodeName Default="17 MMLS 3" />
    <SortOrder>16</SortOrder>
    <FileHash>2051715663662251561751061165215617892</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vngpgp4r/17-mmls-3.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>