<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ed3ef72-a9e6-4304-a4a0-4682f5ecee5e" Alias="18 Penetration Of Bituminous Material" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/PenetrationOfBituminousMaterial</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:45</CreateDate>
    <NodeName Default="18 Penetration Of Bituminous Material" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/otxnglxg/18-penetration-of-bituminous-material.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>