<?xml version="1.0" encoding="utf-8"?>
<Media Key="f895aff4-777e-46f2-8357-c0f3d575eff9" Alias="18" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:10</CreateDate>
    <NodeName Default="18" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4kxjl4d4/18.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>