<?xml version="1.0" encoding="utf-8"?>
<Media Key="46b3453a-e652-4d6e-b9a1-8242eed4ba16" Alias="1920 Northern Cape Fauna" Level="4">
  <Info>
    <Parent Key="d59b9b35-e25a-477c-9483-9d679c152b27">Provinces</Parent>
    <Path>/Blog/Roadlab/Provinces/NorthernCapeFauna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-23T09:08:27</CreateDate>
    <NodeName Default="1920 Northern Cape Fauna" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hrclgrss/1920-northern-cape-fauna.jpg","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>