<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdef245e-c762-45ea-82bf-f0cc08492957" Alias="2 Chloride Content" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/ChlorideContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:57</CreateDate>
    <NodeName Default="2 Chloride Content" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/laso5tlc/2-chloride-content.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>