<?xml version="1.0" encoding="utf-8"?>
<Media Key="37233634-151b-473e-bbfd-637ea4b0025d" Alias="2 Staffhire" Level="3">
  <Info>
    <Parent Key="f1f12436-553d-44e1-9097-173c6d27ac6c">Mobile Labs</Parent>
    <Path>/Services/MobileLabs/Staffhire</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-12T11:05:08</CreateDate>
    <NodeName Default="2 Staffhire" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gi1cgny1/2-staffhire.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>