<?xml version="1.0" encoding="utf-8"?>
<Media Key="f729aeba-0fdd-44f4-b9ca-299ca5552b11" Alias="20 Certification Of A Binder Distributor" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/CertificationOfABinderDistributor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:12</CreateDate>
    <NodeName Default="20 Certification Of A Binder Distributor" />
    <SortOrder>20</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xsxct343/20-certification-of-a-binder-distributor.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>