<?xml version="1.0" encoding="utf-8"?>
<Media Key="88501e4f-b491-442a-ab67-c3359a0c4835" Alias="20 Water Content" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/WaterContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:45</CreateDate>
    <NodeName Default="20 Water Content" />
    <SortOrder>25</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jepfbcer/20-water-content.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>