<?xml version="1.0" encoding="utf-8"?>
<Media Key="a43b0133-7cab-406a-87cc-b222b8f6dcf5" Alias="2067E481 229F 4B1c A128 2Cce232c829f" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/E481229F4B1cA1282Cce232c829f</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-25T10:40:34</CreateDate>
    <NodeName Default="2067E481 229F 4B1c A128 2Cce232c829f" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/guadxjfl/2067e481-229f-4b1c-a128-2cce232c829f.jpg","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>