<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8881609-a727-4d4d-8868-a8589d403bf5" Alias="21 Certification Of A Binder Distributor" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Products/Sampling/CertificationOfABinderDistributor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:12</CreateDate>
    <NodeName Default="21 Certification Of A Binder Distributor" />
    <SortOrder>21</SortOrder>
    <FileHash>1595312172386710355653521120617510058187</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/b2lirkbh/21-certification-of-a-binder-distributor.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>