<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4783849-4948-4bc7-a94b-555c7222ac3d" Alias="22 Texture Depth" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Services/Sampling/TextureDepth</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:12</CreateDate>
    <NodeName Default="22 Texture Depth" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j22hrjci/22-texture-depth.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>