<?xml version="1.0" encoding="utf-8"?>
<Media Key="b882faa0-bb2c-44dc-914b-b2b4b9224a71" Alias="24 Rolling Straight" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/RollingStraight</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:47</CreateDate>
    <NodeName Default="24 Rolling Straight" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u13ifobm/24-rolling-straight.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>