<?xml version="1.0" encoding="utf-8"?>
<Media Key="6afec755-84b3-4cf3-b336-2dd9fc6a39e8" Alias="4 MDD And OMC" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/MDDAndOMC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T09:28:06</CreateDate>
    <NodeName Default="4 MDD And OMC" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kpdp20vt/4-mdd-and-omc.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>