<?xml version="1.0" encoding="utf-8"?>
<Media Key="eead53a0-49da-44b3-be07-224426378b43" Alias="5 CBR" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/CBR</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T09:28:06</CreateDate>
    <NodeName Default="5 CBR" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uzjl11w0/5-cbr.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>