<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2bc8f9-f7ae-488d-b30e-f40373680cde" Alias="5 FWD" Level="3">
  <Info>
    <Parent Key="733d522d-fa19-4298-a074-326ec8016c94">Specialized</Parent>
    <Path>/Services/Specialized/FWD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T10:48:12</CreateDate>
    <NodeName Default="5 FWD" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/55ecxs3o/5-fwd.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>