<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc6feae4-fb9f-429e-adde-ad909f29ff41" Alias="5 Soluble Binder Contenet And Particle Size Of Asphalt Mix" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Products/AsphaltBitumen/SolubleBinderContenetAndParticleSizeOfAsphaltMix</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:39</CreateDate>
    <NodeName Default="5 Soluble Binder Contenet And Particle Size Of Asphalt Mix" />
    <SortOrder>10</SortOrder>
    <FileHash>236213130196242102232167891513070388065142</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2lvg5xe5/5-soluble-binder-contenet-and-particle-size-of-asphalt-mix.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>