<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ce316b4-b462-465c-9547-a7b1c5c3b465" Alias="6 Water Content" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/WaterContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-19T06:30:13</CreateDate>
    <NodeName Default="6 Water Content" />
    <SortOrder>12</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wilohhdc/6-water-content.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>