<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0d3efcb-4214-4642-a9b8-10b29a55112a" Alias="7 Aphalt &amp; Concrete (Core)" Level="3">
  <Info>
    <Parent Key="2803cdc2-43b6-4623-bc46-282c17b6b9f8">Sampling</Parent>
    <Path>/Products/Sampling/AphaltConcreteCore</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:40:08</CreateDate>
    <NodeName Default="7 Aphalt &amp; Concrete (Core)" />
    <SortOrder>10</SortOrder>
    <FileHash>152182512082392249115128162229633622017175</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zxxnhmau/7-aphalt-concrete-core.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>