<?xml version="1.0" encoding="utf-8"?>
<Media Key="26c573e7-d97e-42c4-b9f2-094c99d5bd1d" Alias="7 Bulk Density" Level="3">
  <Info>
    <Parent Key="4decc373-5608-4b6f-a95e-770242b5258a">Aggregate</Parent>
    <Path>/Services/Aggregate/BulkDensity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:04:33</CreateDate>
    <NodeName Default="7 Bulk Density" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2fznkjt4/7-bulk-density.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>