<?xml version="1.0" encoding="utf-8"?>
<Media Key="763bef97-beb8-48e5-b2b3-8778689b9eba" Alias="7 Hydrometer" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/Hydrometer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:59</CreateDate>
    <NodeName Default="7 Hydrometer" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/shxdw3vy/7-hydrometer.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>