<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8b0ebdf-9031-4b46-96dc-744da26f9829" Alias="7 UCS Press" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/UCSPress</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T09:28:07</CreateDate>
    <NodeName Default="7 UCS Press" />
    <SortOrder>6</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1hvlbwbr/7-ucs-press.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>