<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e158bec-22a1-4e82-a373-ae6624c6feea" Alias="9 Rolling Thin Film Oven" Level="3">
  <Info>
    <Parent Key="8ea2da65-461f-45bc-8346-bab269783b1e">Asphalt &amp; Bitumen</Parent>
    <Path>/Services/AsphaltBitumen/RollingThinFilmOven</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T10:43:42</CreateDate>
    <NodeName Default="9 Rolling Thin Film Oven" />
    <SortOrder>14</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3kfblhvb/9-rolling-thin-film-oven.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>