<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d279f87-6896-46a5-b57f-179409a8984d" Alias="AAA" Level="4">
  <Info>
    <Parent Key="b0a5e67e-583b-4e9f-91d1-de58ffbf0b6e">Mossel Bay George Bridge</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/MosselBayGeorgeBridge/AAA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-15T12:51:58</CreateDate>
    <NodeName Default="AAA" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qgpdopmw/aaa.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>