<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fe44c8d-b302-4ca7-8cb8-65edbfeedd76" Alias="BBBEE (1)" Level="3">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/BBBEE1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-06-01T12:19:42</CreateDate>
    <NodeName Default="BBBEE (1)" />
    <SortOrder>15</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>