<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb5e0e5b-c745-4178-8644-1cafdc904609" Alias="Beecert" Level="2">
  <Info>
    <Parent Key="b2098984-c64a-4dbf-a9e2-6ea74e21f489">PDF's</Parent>
    <Path>/PDFS/Beecert</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-09-17T13:22:58</CreateDate>
    <NodeName Default="Beecert" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/imhf3o0f/beecert.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>