<?xml version="1.0" encoding="utf-8"?>
<Media Key="92efda18-bd28-45ae-888f-bf8b45d19dc2" Alias="Bellville ACC" Level="2">
  <Info>
    <Parent Key="b2098984-c64a-4dbf-a9e2-6ea74e21f489">PDF's</Parent>
    <Path>/PDFS/BellvilleACC</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-10-30T08:56:20</CreateDate>
    <NodeName Default="Bellville ACC" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adno5eri/belville.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>