<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a8e9187-de8b-42a6-a6eb-45322769af1c" Alias="Branchpic" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Branchpic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T12:28:06</CreateDate>
    <NodeName Default="Branchpic" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qgij2gul/branchpic.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>