<?xml version="1.0" encoding="utf-8"?>
<Media Key="bad3f01a-7847-4244-8154-d45ea88b2a8d" Alias="Centurion (1)" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Centurion1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T08:14:14</CreateDate>
    <NodeName Default="Centurion (1)" />
    <SortOrder>12</SortOrder>
    <FileHash>2723176222171014761511755317464123218204</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dtynhosh/centurion.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>