<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8a9638-d4ad-4808-806f-7805d8824334" Alias="Centrelineborrow" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Centrelineborrow</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:39</CreateDate>
    <NodeName Default="Centrelineborrow" />
    <SortOrder>2</SortOrder>
    <FileHash>171158107762245016218671406871248121103158</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/h0livxnn/centrelineborrow.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>