<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aff7e94-506e-4f8e-8a66-dd4f975a80e6" Alias="Chemistry Icon" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/ChemistryIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:58:01</CreateDate>
    <NodeName Default="Chemistry Icon" />
    <SortOrder>10</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sj5p44to/chemistry-icon.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>