<?xml version="1.0" encoding="utf-8"?>
<Media Key="052a6fd1-36b4-4b3c-8c61-aad0f8ca2080" Alias="Chemical Back" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ChemicalBack</Path>
    <Trashed Parent="5cc1f2dd-6a26-4b0b-8454-c9bb1cde52e4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-27T13:32:32</CreateDate>
    <NodeName Default="Chemical Back" />
    <SortOrder>0</SortOrder>
    <FileHash>1072022552511521213547148215222812169181214</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/03xdubnu/chemical-back.jpg","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>