<?xml version="1.0" encoding="utf-8"?>
<Media Key="00d68c79-01c4-490d-bd98-c23e275108e1" Alias="Compactiontesting" Level="3">
  <Info>
    <Parent Key="88a7d4c2-a996-44bf-881b-3c05845f6624">White</Parent>
    <Path>/Icons/White/Compactiontesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:37:03</CreateDate>
    <NodeName Default="Compactiontesting" />
    <SortOrder>3</SortOrder>
    <FileHash>18011654117429102119231207428014316410744</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p4gnmage/compactiontesting.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>