<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7875ac5-3d47-4784-be27-b9bc0136e47e" Alias="Concrete" Level="3">
  <Info>
    <Parent Key="88a7d4c2-a996-44bf-881b-3c05845f6624">White</Parent>
    <Path>/Icons/White/Concrete</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:37:03</CreateDate>
    <NodeName Default="Concrete" />
    <SortOrder>4</SortOrder>
    <FileHash>125140169251140103249151782339530143209252153</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ynnipr0h/concrete.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>