<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1ff516-036a-46a8-855f-be682097fe81" Alias="Deonj" Level="2">
  <Info>
    <Parent Key="d4e0336a-42a6-4283-b262-3ea7da45fde4">About</Parent>
    <Path>/About/Deonj</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-28T05:52:52</CreateDate>
    <NodeName Default="Deonj" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":[{"alias":"ogImage","width":1200,"height":627}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/cd0b54tk/deonj.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>