<?xml version="1.0" encoding="utf-8"?>
<Media Key="16b731ea-82b9-4725-9438-70b23d6de5b1" Alias="Deon Juckers" Level="2">
  <Info>
    <Parent Key="d4e0336a-42a6-4283-b262-3ea7da45fde4">About</Parent>
    <Path>/About/DeonJuckers</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-16T13:30:44</CreateDate>
    <NodeName Default="Deon Juckers" />
    <SortOrder>3</SortOrder>
    <FileHash>160165254862099517913316623215181112436122</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":[{"alias":"ogImage","width":1200,"height":627}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/3qylofvz/deonj.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>