<?xml version="1.0" encoding="utf-8"?>
<Media Key="34d7ed60-edab-40ac-a8b8-0b6c403bcf1c" Alias="Drilling" Level="3">
  <Info>
    <Parent Key="88a7d4c2-a996-44bf-881b-3c05845f6624">White</Parent>
    <Path>/Icons/White/Drilling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:37:04</CreateDate>
    <NodeName Default="Drilling" />
    <SortOrder>6</SortOrder>
    <FileHash>16424220127196341442471722101452913024157</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m1wnonfl/drilling.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>