<?xml version="1.0" encoding="utf-8"?>
<Media Key="b66dca27-c8a6-48c5-a781-2c977848b79f" Alias="Durban Manager Jay Sarjooparsad" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/DurbanManagerJaySarjooparsad</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T08:33:32</CreateDate>
    <NodeName Default="Durban Manager Jay Sarjooparsad" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ehfg1nvg/durban-manager-jay-sarjooparsad.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>