<?xml version="1.0" encoding="utf-8"?>
<Media Key="651fb7f1-fc3d-408d-a2e3-f227eaf66845" Alias="East London ACC" Level="2">
  <Info>
    <Parent Key="b2098984-c64a-4dbf-a9e2-6ea74e21f489">PDF's</Parent>
    <Path>/PDFS/EastLondonACC</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-10-30T08:56:19</CreateDate>
    <NodeName Default="East London ACC" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3g1b4zj3/certificate-of-accreditation-east-london.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>