<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c1fccb4-166a-4ab0-9757-389c12079cee" Alias="Eleven" Level="4">
  <Info>
    <Parent Key="deed6121-da6e-416b-a8c5-d45328404d05">Blog</Parent>
    <Path>/Blog/PowerStations/Blog/Eleven</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-18T13:52:08</CreateDate>
    <NodeName Default="Eleven" />
    <SortOrder>32</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wlgb4pdk/eleven.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>