<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7cae8b1-1ca6-409f-8a11-a6752d88684f" Alias="Foundationinvestig" Level="3">
  <Info>
    <Parent Key="88a7d4c2-a996-44bf-881b-3c05845f6624">White</Parent>
    <Path>/Icons/White/Foundationinvestig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:37:05</CreateDate>
    <NodeName Default="Foundationinvestig" />
    <SortOrder>8</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w5umvv3g/foundationinvestig.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>