<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d8871c8-890c-4ece-86d6-b75de0dd0d46" Alias="Free State Branch" Level="4">
  <Info>
    <Parent Key="d59b9b35-e25a-477c-9483-9d679c152b27">Provinces</Parent>
    <Path>/Blog/Roadlab/Provinces/FreeStateBranch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-24T13:40:31</CreateDate>
    <NodeName Default="Free State Branch" />
    <SortOrder>10</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zzyjrdim/free-state-branch.jpg","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>