<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5d07150-bb74-41c6-b812-8fbdcd950ad5" Alias="G &amp; R Investigations" Level="2">
  <Info>
    <Parent Key="cf846d25-48c5-4902-8753-f2e9f37696a2">Products</Parent>
    <Path>/Products/GRInvestigations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-11T13:22:14</CreateDate>
    <NodeName Default="G &amp; R Investigations" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>