<?xml version="1.0" encoding="utf-8"?>
<Media Key="8333a447-dcfa-47ce-bfa8-2deaa5637e1f" Alias="Germiston ACC" Level="2">
  <Info>
    <Parent Key="b2098984-c64a-4dbf-a9e2-6ea74e21f489">PDF's</Parent>
    <Path>/PDFS/GermistonACC</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2019-10-30T08:56:22</CreateDate>
    <NodeName Default="Germiston ACC" />
    <SortOrder>4</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4sdha50/germiston-t-0296-issue-17-soa.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>