<?xml version="1.0" encoding="utf-8"?>
<Media Key="f10bb7ad-035e-4da7-ba4f-f7d167134b7f" Alias="Gif 6" Level="4">
  <Info>
    <Parent Key="687c77a9-021f-4f45-b3a8-1ba121fd55ad">Case Study</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/CaseStudy/Gif6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-07T15:08:35</CreateDate>
    <NodeName Default="Gif 6" />
    <SortOrder>9</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vo1bx2k4/gif-6.gif","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>