<?xml version="1.0" encoding="utf-8"?>
<Media Key="39dcd012-3d8a-45d3-82b4-86a2b59fe086" Alias="Headoffice" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Headoffice</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-18T16:56:44</CreateDate>
    <NodeName Default="Headoffice" />
    <SortOrder>3</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ctinyomk/headoffice.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>