<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c9afd6e-dc8b-4329-bb83-461303235fbd" Alias="Henrico Bellville" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/HenricoBellville</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-07T17:23:08</CreateDate>
    <NodeName Default="Henrico Bellville" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nd4ju1el/henrico-bellville.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>