<?xml version="1.0" encoding="utf-8"?>
<Media Key="db9bf9bb-691b-447b-bafe-b4a0db4a1196" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-09-16T17:07:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>