<?xml version="1.0" encoding="utf-8"?>
<Media Key="353c3906-a243-40ff-8073-ed9f79251956" Alias="Inside Facilities19201080" Level="4">
  <Info>
    <Parent Key="df5a01bc-e5a6-4baa-8b66-57793e9e35e7">Balama</Parent>
    <Path>/Blog/Mining/Balama/InsideFacilities19201080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-22T12:16:51</CreateDate>
    <NodeName Default="Inside Facilities19201080" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aa2dynkd/inside-facilities19201080.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>