<?xml version="1.0" encoding="utf-8"?>
<Media Key="3318b033-16f4-4018-b01c-a0214c3230d9" Alias="Lephalale Manager Hendrik Strydom" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/LephalaleManagerHendrikStrydom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T08:28:59</CreateDate>
    <NodeName Default="Lephalale Manager Hendrik Strydom" />
    <SortOrder>21</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gwybqm5u/lephalale-manager-hendrik-strydom.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>