<?xml version="1.0" encoding="utf-8"?>
<Media Key="05868d01-41f0-4f97-af8a-93c6798a7878" Alias="Lesotho S" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/LesothoS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-13T13:29:21</CreateDate>
    <NodeName Default="Lesotho S" />
    <SortOrder>36</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a4gjmbpq/lesotho-s.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>