<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1f12436-553d-44e1-9097-173c6d27ac6c" Alias="Mobile Labs" Level="2">
  <Info>
    <Parent Key="cf846d25-48c5-4902-8753-f2e9f37696a2">Services</Parent>
    <Path>/Services/MobileLabs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-02-12T10:52:56</CreateDate>
    <NodeName Default="Mobile Labs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>