<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e7ad57e-a7b6-42b9-b101-e2af070f2f5d" Alias="Mosselbay" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Mosselbay</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T08:35:18</CreateDate>
    <NodeName Default="Mosselbay" />
    <SortOrder>26</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pdkhvdvw/mosselbay.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>