<?xml version="1.0" encoding="utf-8"?>
<Media Key="a34a32e4-8f64-4d20-8060-79774e94316b" Alias="Nigeria" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Nigeria</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-22T08:41:24</CreateDate>
    <NodeName Default="Nigeria" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/2izevi1e/nigeria.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>