<?xml version="1.0" encoding="utf-8"?>
<Media Key="591e5212-538b-4843-a6d7-130c8670a792" Alias="Nordex Nxuba 1" Level="2">
  <Info>
    <Parent Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba">Projects</Parent>
    <Path>/Projects/NordexNxuba1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-15T12:46:18</CreateDate>
    <NodeName Default="Nordex Nxuba 1" />
    <SortOrder>16</SortOrder>
    <FileHash>85234209513927229123149711411220388122141</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/crjb2wml/nordex-nxuba-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>