<?xml version="1.0" encoding="utf-8"?>
<Media Key="647f66b0-08e0-4dd5-ba6b-6a3a2503b30b" Alias="Onsiteteststations" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Onsiteteststations</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:43</CreateDate>
    <NodeName Default="Onsiteteststations" />
    <SortOrder>10</SortOrder>
    <FileHash>25348246100144164110461092132312281332116393</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wzth4zha/onsiteteststations.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>