<?xml version="1.0" encoding="utf-8"?>
<Media Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-09-16T17:09:12</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>