<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc3a70b0-a178-49c4-ac8b-4d46d0ee454d" Alias="Quality Controller PDF" Level="2">
  <Info>
    <Parent Key="0e7421dc-f632-4735-a578-bfe5d46456a0">Vacancies</Parent>
    <Path>/Vacancies/QualityControllerPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-09-17T11:57:48</CreateDate>
    <NodeName Default="Quality Controller PDF" />
    <SortOrder>0</SortOrder>
    <FileHash>7510425599601433812010042235591423680132</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vbydvxdy/quality-controller-pdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>