<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d03cbd4-0fe0-4cdd-852a-0eb9a594144a" Alias="Queenstown" Level="3">
  <Info>
    <Parent Key="80e41a5d-d465-4653-b8ba-9d43af12463a">Roadlab</Parent>
    <Path>/Blog/Roadlab/Queenstown</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-20T08:26:48</CreateDate>
    <NodeName Default="Queenstown" />
    <SortOrder>6</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0lfbhhpa/queenstown.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>