<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d21c2fd-2a24-4aa2-82c8-dfc1ff54f63a" Alias="Rebar Corrosion" Level="3">
  <Info>
    <Parent Key="733d522d-fa19-4298-a074-326ec8016c94">Specialized</Parent>
    <Path>/Services/Specialized/RebarCorrosion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-11T14:13:52</CreateDate>
    <NodeName Default="Rebar Corrosion" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":[{"alias":"ogImage","width":1200,"height":627}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/5pbccdje/new-half-cell.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>