<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca58caad-599d-4845-9388-3c320e87472d" Alias="Roadpaveinvestig" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Roadpaveinvestig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:44</CreateDate>
    <NodeName Default="Roadpaveinvestig" />
    <SortOrder>11</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vpffrsu3/roadpaveinvestig.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>