<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d451178-365e-48fc-8173-955a1bac9b6e" Alias="Road Pavement Evaluations" Level="3">
  <Info>
    <Parent Key="c5d07150-bb74-41c6-b812-8fbdcd950ad5">G &amp; R Investigations</Parent>
    <Path>/Products/GRInvestigations/RoadPavementEvaluations</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-11T13:24:40</CreateDate>
    <NodeName Default="Road Pavement Evaluations" />
    <SortOrder>0</SortOrder>
    <FileHash>160143212232551971171437825161871709124198</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pyifktk4/road_pavement_evaluations.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>