<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff1f67b4-92ba-4da6-91a3-6fbe049b076c" Alias="Sample And Field Service (1)" Level="3">
  <Info>
    <Parent Key="5cc1f2dd-6a26-4b0b-8454-c9bb1cde52e4">Hero Images</Parent>
    <Path>/Services/HeroImages/SampleAndFieldService1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-28T05:47:51</CreateDate>
    <NodeName Default="Sample And Field Service (1)" />
    <SortOrder>18</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wjtb5530/sample-and-field-service.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>