<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c865f9-2edd-4a24-9ff7-6fcb0d2a9e96" Alias="Sample Back" Level="3">
  <Info>
    <Parent Key="5cc1f2dd-6a26-4b0b-8454-c9bb1cde52e4">Hero Images</Parent>
    <Path>/Products/HeroImages/SampleBack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-27T14:36:19</CreateDate>
    <NodeName Default="Sample Back" />
    <SortOrder>9</SortOrder>
    <FileHash>7725224435146168571091222121982917666191</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/53snqeg3/sample-back.png","crops":[{"alias":"ogImage","width":1200,"height":627}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>