<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdc18ea4-343b-49d7-939c-f6c70092a33d" Alias="Sibu" Level="2">
  <Info>
    <Parent Key="d4e0336a-42a6-4283-b262-3ea7da45fde4">About</Parent>
    <Path>/About/Sibu</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-21T12:03:47</CreateDate>
    <NodeName Default="Sibu" />
    <SortOrder>9</SortOrder>
    <FileHash>1532272301118561462412523322122719376226</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":[{"alias":"ogImage","width":1200,"height":627}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/ukhmdtj1/sibus.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>