<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca18a836-fc27-499e-879a-e2966ceb4ff9" Alias="Site Investigations Manager Willem Cockcroft" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/SiteInvestigationsManagerWillemCockcroft</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T08:51:22</CreateDate>
    <NodeName Default="Site Investigations Manager Willem Cockcroft" />
    <SortOrder>30</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gcubrsrh/site-investigations-manager-willem-cockcroft.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>