<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae659048-8ca2-4117-97ab-cec7e599e115" Alias="Site Laboratories General Manager Theo De Jager" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/SiteLaboratoriesGeneralManagerTheoDeJager</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-10T09:01:56</CreateDate>
    <NodeName Default="Site Laboratories General Manager Theo De Jager" />
    <SortOrder>31</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j0igllvc/site-laboratories-general-manager-theo-de-jager.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>