<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d9cf5ec-bd26-4d0c-b362-c380ff879600" Alias="Siteinvestig" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Siteinvestig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:44</CreateDate>
    <NodeName Default="Siteinvestig" />
    <SortOrder>12</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3l0jydjg/siteinvestig.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>