<?xml version="1.0" encoding="utf-8"?>
<Media Key="d74893fd-06ff-47d2-8376-e4e030671953" Alias="Soil Gravel" Level="3">
  <Info>
    <Parent Key="88a7d4c2-a996-44bf-881b-3c05845f6624">White</Parent>
    <Path>/Icons/White/SoilGravel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:37:07</CreateDate>
    <NodeName Default="Soil Gravel" />
    <SortOrder>12</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5ojfrv55/soil_gravel.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>