<?xml version="1.0" encoding="utf-8"?>
<Media Key="c299c491-30d0-41d4-a339-a8e0b3d5d5a7" Alias="Soil And Gravel" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/SoilAndGravel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:45</CreateDate>
    <NodeName Default="Soil And Gravel" />
    <SortOrder>13</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s5cjtqwq/soil-and-gravel.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>