<?xml version="1.0" encoding="utf-8"?>
<Media Key="733d522d-fa19-4298-a074-326ec8016c94" Alias="Specialized" Level="2">
  <Info>
    <Parent Key="cf846d25-48c5-4902-8753-f2e9f37696a2">Services</Parent>
    <Path>/Services/Specialized</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-10-09T10:48:00</CreateDate>
    <NodeName Default="Specialized" />
    <SortOrder>11</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>