<?xml version="1.0" encoding="utf-8"?>
<Media Key="62527db4-6045-40da-9dda-e7687e19fc2b" Alias="TESTING" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/TESTING</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-17T06:33:55</CreateDate>
    <NodeName Default="TESTING" />
    <SortOrder>15</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wj4feysf/testing.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>