<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e7421dc-f632-4735-a578-bfe5d46456a0" Alias="Vacancies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vacancies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-17T11:57:29</CreateDate>
    <NodeName Default="Vacancies" />
    <SortOrder>7</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>