<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf0b3676-2634-41d1-ada2-d42b0b2cd30c" Alias="Zambia S" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/ZambiaS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-13T14:44:33</CreateDate>
    <NodeName Default="Zambia S" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oa1axtzu/zambia-s.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>