<?xml version="1.0" encoding="utf-8"?>
<Media Key="89ec3445-1eaf-4c26-96aa-dbceb622ee9a" Alias="3 Solobule Salt" Level="3">
  <Info>
    <Parent Key="fa52782b-973b-422f-87ae-b08a09bffdd4">Chemical</Parent>
    <Path>/Services/Chemical/SolobuleSalt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-08T16:57:58</CreateDate>
    <NodeName Default="3 Solobule Salt" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/im0ozcnp/3-solobule-salt.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>