<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3a76928-9790-41ce-b346-427763c964f3" Alias="5 ACV (Aggregate Crushing Value)" Level="3">
  <Info>
    <Parent Key="4decc373-5608-4b6f-a95e-770242b5258a">Aggregate</Parent>
    <Path>/Services/Aggregate/ACVAggregateCrushingValue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-18T14:04:33</CreateDate>
    <NodeName Default="5 ACV (Aggregate Crushing Value)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fzulpi2q/5-acv-aggregate-crushing-value.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>