<?xml version="1.0" encoding="utf-8"?>
<Media Key="08a10f92-f95b-4151-88a5-398eb5877429" Alias="5 Compressive Cores" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/CompressiveCores</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-18T11:27:16</CreateDate>
    <NodeName Default="5 Compressive Cores" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sqhlccc1/5-compressive-cores.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>