<?xml version="1.0" encoding="utf-8"?>
<Media Key="e84e7f1b-3b1c-4c4d-bdfc-1bfb1d58140d" Alias="Addo Project" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/AddoProject</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T13:53:41</CreateDate>
    <NodeName Default="Addo Project" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dv5f30a2/addo-project.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>