<?xml version="1.0" encoding="utf-8"?>
<Media Key="863c9799-72fe-42d3-9195-623a060b049f" Alias="Aggregate" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Aggregate</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-09-17T13:36:39</CreateDate>
    <NodeName Default="Aggregate" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t4ldzbx4/aggregate.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>