<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b4c4eb-4e6b-44c5-b41b-61d22945f96d" Alias="Asphalt cores for material testing" Level="4">
  <Info>
    <Parent Key="d6b9a2e4-758a-4ce2-838c-a9b7ba6b120a">Asphalt and Roadworks</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/AsphaltCoresForMaterialTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-06T05:54:14</CreateDate>
    <NodeName Default="Asphalt cores for material testing" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3xcljetl/20190812104839_img_0088.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>