<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4255dd8-af9f-4a30-8091-f2e2d77ca2ec" Alias="BB3" Level="4">
  <Info>
    <Parent Key="effbede2-5b99-403f-bcd2-2f797c418ca2">Beitbridge</Parent>
    <Path>/Blog/Other/Beitbridge/BB3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-04T10:19:26</CreateDate>
    <NodeName Default="BB3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zodlre5/bb3.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>