<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7100dc3-5508-4495-aa3d-1047f031bb9b" Alias="Bellville" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/Bellville</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-07T17:23:07</CreateDate>
    <NodeName Default="Bellville" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yugbbryi/bellville.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>