<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a0e3637-09bd-43bf-b322-2b531c42fa6d" Alias="Bloemhof Road Project Testing" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/BloemhofRoadProjectTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-01T07:51:08</CreateDate>
    <NodeName Default="Bloemhof Road Project Testing" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ge1a2sv3/bloemhof-road-project-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>