<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e45d501-2f23-4194-9289-30eaccb7952f" Alias="Build It" Level="3">
  <Info>
    <Parent Key="66c23aab-81b8-410c-af4c-acac624f5a58">October 2025</Parent>
    <Path>/Blog/October2025/BuildIt</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T12:48:29</CreateDate>
    <NodeName Default="Build It" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>