<?xml version="1.0" encoding="utf-8"?>
<Media Key="267a39a6-10f3-40ce-9165-3c324cfb3b59" Alias="Build It Projects" Level="5">
  <Info>
    <Parent Key="ce3f01fc-e49e-47d2-8776-76b0902033c0">Build It Feature</Parent>
    <Path>/Blog/October2025/BuildIt/BuildItFeature/BuildItProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T13:39:51</CreateDate>
    <NodeName Default="Build It Projects" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ua2hujxt/build-it-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>