<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aa9f0fa-b920-4b03-805a-19062707cc33" Alias="Centreline" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/Centreline</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-09T14:35:30</CreateDate>
    <NodeName Default="Centreline" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5tykswra/centreline.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>