<?xml version="1.0" encoding="utf-8"?>
<Media Key="847f6013-4c3b-4548-ae7d-d962b12eaa8e" Alias="Centreline Investigations" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/CentrelineInvestigations</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T06:56:08</CreateDate>
    <NodeName Default="Centreline Investigations" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cvqh5bb1/centreline-investigations.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>