<?xml version="1.0" encoding="utf-8"?>
<Media Key="534d3312-f5fd-4867-8c6e-a5e1662c7222" Alias="Centrelines" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/Centrelines</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-09T14:31:22</CreateDate>
    <NodeName Default="Centrelines" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cqzf0u53/centrelines.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>