<?xml version="1.0" encoding="utf-8"?>
<Media Key="44cbbc6f-3415-4c6b-be68-e4a50e7e9fb5" Alias="Civil Laboratory" Level="5">
  <Info>
    <Parent Key="38dac006-7720-4143-9815-0b58efccad1b">Matatiela Accreditation</Parent>
    <Path>/Blog/Other/Roadlab/MatatielaAccreditation/CivilLaboratory</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-11T08:34:37</CreateDate>
    <NodeName Default="Civil Laboratory" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ng4mwrav/civil-laboratory.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>