<?xml version="1.0" encoding="utf-8"?>
<Media Key="6508f086-4126-4a39-83d6-4112516fede7" Alias="Concrete Testing" Level="5">
  <Info>
    <Parent Key="38dac006-7720-4143-9815-0b58efccad1b">Matatiela Accreditation</Parent>
    <Path>/Blog/Other/Roadlab/MatatielaAccreditation/ConcreteTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-11T08:34:34</CreateDate>
    <NodeName Default="Concrete Testing" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qdyaqzjg/concrete-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>