<?xml version="1.0" encoding="utf-8"?>
<Media Key="b65914bf-c789-44ef-bb32-84ac437de548" Alias="Concrete Compressive Strength" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteCompressiveStrength</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:28</CreateDate>
    <NodeName Default="Concrete Compressive Strength" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xekftnuj/concrete-compressive-strength.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>