<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cc98d84-81d6-4f45-9bec-f1092c7cfa3a" Alias="Concrete Workability" Level="4">
  <Info>
    <Parent Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e">New Concrete Page</Parent>
    <Path>/Services/Concrete/NewConcretePage/ConcreteWorkability</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T06:43:21</CreateDate>
    <NodeName Default="Concrete Workability" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qkgnspgw/concrete-workability.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>