<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d8973e4-6d62-4354-9bfc-b61ad24c6407" Alias="Conclusions" Level="3">
  <Info>
    <Parent Key="9a39df6e-4ed4-4280-8f74-ca0e10d024b3">Other</Parent>
    <Path>/Blog/Other/Conclusions</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-12T12:03:50</CreateDate>
    <NodeName Default="Conclusions" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>