<?xml version="1.0" encoding="utf-8"?>
<Media Key="73020197-f670-44e5-93f1-731454b35da1" Alias="Concrete Testing For Wind Farms" Level="5">
  <Info>
    <Parent Key="300f606f-e7c6-41ef-b5d3-9fa4038f5eb2">Free State Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/FreeStateBlog/ConcreteTestingForWindFarms</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T14:15:33</CreateDate>
    <NodeName Default="Concrete Testing For Wind Farms" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/seabe21q/concrete-testing-for-wind-farms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>