<?xml version="1.0" encoding="utf-8"?>
<Media Key="9caa9778-7598-4a73-bc0d-96a2688e3ce2" Alias="Concluded Projects October Blog Elements" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/ConcludedProjectsOctoberBlogElements</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-12T12:07:46</CreateDate>
    <NodeName Default="Concluded Projects October Blog Elements" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p0llvhey/concluded-projects-october-blog-elements.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>