<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfd25443-4e50-4d94-b5d4-73112c20b3eb" Alias="Concluded Projects October Blog Elements7" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/ConcludedProjectsOctoberBlogElements7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-12T12:07:56</CreateDate>
    <NodeName Default="Concluded Projects October Blog Elements7" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ivknft0q/concluded-projects-october-blog-elements7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>