<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c4827da-3a6b-4af4-bd5b-17ec79d62aab" Alias="Cover Feb2023 V2" Level="2">
  <Info>
    <Parent Key="db9bf9bb-691b-447b-bafe-b4a0db4a1196">Home</Parent>
    <Path>/Home/CoverFeb2023V2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-03T11:37:12</CreateDate>
    <NodeName Default="Cover Feb2023 V2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1qtfqpdl/cover-feb2023-v2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>