<?xml version="1.0" encoding="utf-8"?>
<Media Key="effc8361-ba7b-4933-bc51-2d3b42f9f3a3" Alias="Cradock Asphalt" Level="5">
  <Info>
    <Parent Key="ce3f01fc-e49e-47d2-8776-76b0902033c0">Build It Feature</Parent>
    <Path>/Blog/October2025/BuildIt/BuildItFeature/CradockAsphalt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:59:07</CreateDate>
    <NodeName Default="Cradock Asphalt" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m4bpz111/cradock-asphalt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>