<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bc96d1e-c9d9-48f9-a968-bb58f297f420" Alias="Eastern Cape Construction Projects" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/EasternCapeConstructionProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-11T06:48:38</CreateDate>
    <NodeName Default="Eastern Cape Construction Projects" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dbwntc4z/eastern-cape-construction-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>