<?xml version="1.0" encoding="utf-8"?>
<Media Key="a511d98b-8434-4c4a-818b-d00b13c7fc9c" Alias="Eastern Cape Impact" Level="3">
  <Info>
    <Parent Key="322dc47d-a975-4ec6-b5c5-3c81431cbbee">February 2026</Parent>
    <Path>/Blog/February2026/EasternCapeImpact</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-11T09:42:46</CreateDate>
    <NodeName Default="Eastern Cape Impact" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rxmbdjju/eastern-cape-impact.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>