<?xml version="1.0" encoding="utf-8"?>
<Media Key="eab7b56d-87fb-426f-a052-dbca0a0e358b" Alias="Eastern Cape Presence" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/EasternCapePresence</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-27T17:17:23</CreateDate>
    <NodeName Default="Eastern Cape Presence" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/no0lp0x1/eastern-cape-presence.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>