<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7ccafd7-27cf-42e1-9b64-11a62c9e24d1" Alias="Energy Project Material Testing" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/EnergyProjectMaterialTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:32</CreateDate>
    <NodeName Default="Energy Project Material Testing" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gxnzz4p/energy-project-material-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>