<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc160ff0-fba9-4c15-a3f9-1cf7a395ac23" Alias="Energy Project" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/EnergyProject</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:23</CreateDate>
    <NodeName Default="Energy Project" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4yhbnxfj/energy-project.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>