<?xml version="1.0" encoding="utf-8"?>
<Media Key="e31f2936-5e2b-4038-8814-b063e554510f" Alias="Environmental Impact Assessments" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/EnvironmentalImpactAssessments</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T08:19:16</CreateDate>
    <NodeName Default="Environmental Impact Assessments" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gaub5yzl/environmental-impact-assessments.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>