<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5ffb02c-0e5f-4015-a3fd-ac3584f14f13" Alias="Flying Over Dangote Cement" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/FlyingOverDangoteCement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:02:39</CreateDate>
    <NodeName Default="Flying Over Dangote Cement" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fkyp5rk5/flying-over-dangote-cement.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>