<?xml version="1.0" encoding="utf-8"?>
<Media Key="300f606f-e7c6-41ef-b5d3-9fa4038f5eb2" Alias="Free State Blog" Level="4">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/FreeStateBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-10T14:14:11</CreateDate>
    <NodeName Default="Free State Blog" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties />
</Media>