<?xml version="1.0" encoding="utf-8"?>
<Media Key="70e9ee79-12d6-44a4-8c03-08959fc285e7" Alias="Gauteng" Level="4">
  <Info>
    <Parent Key="55dbffa4-98be-4bfa-8290-4e518ae6475e">QR Code</Parent>
    <Path>/Blog/Other/QRCode/Gauteng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T09:46:41</CreateDate>
    <NodeName Default="Gauteng" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p5xos2gw/gauteng.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>