<?xml version="1.0" encoding="utf-8"?>
<Media Key="f848e4fa-d8e6-4e11-a067-36664e96affc" Alias="Geotechnical Profile" Level="3">
  <Info>
    <Parent Key="c5d07150-bb74-41c6-b812-8fbdcd950ad5">G &amp; R Investigations</Parent>
    <Path>/Services/GRInvestigations/GeotechnicalProfile</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-03-30T11:43:55</CreateDate>
    <NodeName Default="Geotechnical Profile" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lser4hg/geotechnical-profile.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>