<?xml version="1.0" encoding="utf-8"?>
<Media Key="c41a98ab-6a24-498b-a7e0-eabf7fb81d15" Alias="Janco" Level="5">
  <Info>
    <Parent Key="5ccf1e91-e1db-4302-9736-bf2b59bc0bd9">Mastersizer (1)</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/Mastersizer1/Janco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-25T06:13:10</CreateDate>
    <NodeName Default="Janco" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vwmbvrbe/janco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>