<?xml version="1.0" encoding="utf-8"?>
<Media Key="a61077a2-a908-4783-9649-5fd8f3379944" Alias="Koruson2 (1)" Level="4">
  <Info>
    <Parent Key="9d9b29fb-2bf4-4fbe-83ab-b7af4bbda02e">Build It</Parent>
    <Path>/Blog/January2026/BuildIt/Koruson21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-26T11:01:21</CreateDate>
    <NodeName Default="Koruson2 (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ur1bbjqi/koruson2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>