<?xml version="1.0" encoding="utf-8"?>
<Media Key="618e5364-8b08-42a9-92da-967b74ba1023" Alias="Koruson7" Level="4">
  <Info>
    <Parent Key="9d9b29fb-2bf4-4fbe-83ab-b7af4bbda02e">Build It</Parent>
    <Path>/Blog/January2026/BuildIt/Koruson7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-26T10:55:58</CreateDate>
    <NodeName Default="Koruson7" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mjjj2yii/koruson7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>