<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b914ba9-2244-4b1d-af49-4d4f3d612d2e" Alias="Koster, Northern Cape" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/KosterNorthernCape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:46:02</CreateDate>
    <NodeName Default="Koster, Northern Cape" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v3fjc40e/koster-northern-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>