<?xml version="1.0" encoding="utf-8"?>
<Media Key="4992f27d-c283-4fd2-bdbe-1822f099a84e" Alias="Lesotho Highlands Water Project Locations (1)" Level="5">
  <Info>
    <Parent Key="ab6d6e38-7688-47a2-ab08-37741fb74608">Senqu Briges</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/SenquBriges/LesothoHighlandsWaterProjectLocations1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-14T06:38:25</CreateDate>
    <NodeName Default="Lesotho Highlands Water Project Locations (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ppzjesmd/lesotho-highlands-water-project-locations.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>