<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfea3b1f-1168-43de-b1ba-c72092c45e8c" Alias="Machine Dug Pits" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/MachineDugPits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-07T07:03:07</CreateDate>
    <NodeName Default="Machine Dug Pits" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/de3pvp1i/machine-dug-pits.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>