<?xml version="1.0" encoding="utf-8"?>
<Media Key="13501663-93e9-465a-a4d5-640ff339c0ed" Alias="Mahikeng Town" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/MahikengTown</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-23T05:43:09</CreateDate>
    <NodeName Default="Mahikeng Town" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mulfae5j/mahikeng-town.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>