<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b12dcf0-4b43-4bac-a644-a31d5362411a" Alias="Major Works" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/MajorWorks</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:18</CreateDate>
    <NodeName Default="Major Works" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/41obeg0d/major-works.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>