<?xml version="1.0" encoding="utf-8"?>
<Media Key="1529f177-81ac-425b-9059-f14dbd5fc4a8" Alias="Malgate Bridge" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/MalgateBridge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:43</CreateDate>
    <NodeName Default="Malgate Bridge" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ohydsfnm/malgate-bridge.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>