<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f24f69d-bb4c-4574-878b-eaa139f0611b" Alias="Mamatwan, Wessels 2" Level="5">
  <Info>
    <Parent Key="12b76d2c-2fdc-4585-93d2-96e5079c65d3">Northern Cape</Parent>
    <Path>/Blog/Other/Mining/NorthernCape/MamatwanWessels2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-18T11:48:11</CreateDate>
    <NodeName Default="Mamatwan, Wessels 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tp1cit0m/mamatwan-wessels-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>