<?xml version="1.0" encoding="utf-8"?>
<Media Key="a91de1d3-120c-4252-a8bf-5e21ae2ab8ef" Alias="Marshall Stability" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/MarshallStability</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:20:33</CreateDate>
    <NodeName Default="Marshall Stability" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0xqb1kim/marshall-stability.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>