<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ccf1e91-e1db-4302-9736-bf2b59bc0bd9" Alias="Mastersizer (1)" Level="4">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/Mastersizer1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-22T12:31:57</CreateDate>
    <NodeName Default="Mastersizer (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties />
</Media>