<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a043337-84c5-4cf3-8f67-3604962956eb" Alias="Mauritius" Level="3">
  <Info>
    <Parent Key="80e41a5d-d465-4653-b8ba-9d43af12463a">Roadlab</Parent>
    <Path>/Blog/Roadlab/Mauritius</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-10T13:12:02</CreateDate>
    <NodeName Default="Mauritius" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>