<?xml version="1.0" encoding="utf-8"?>
<Media Key="87686738-6180-477f-9df3-5c661a87b5ed" Alias="Mining Working In The Northern Cape" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/MiningWorkingInTheNorthernCape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T09:01:17</CreateDate>
    <NodeName Default="Mining Working In The Northern Cape" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzthrb2a/mining-working-in-the-northern-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>