<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5c8a6e6-2f2f-4951-bb63-bdcb671adc9c" Alias="MMLS (Model Mobile Load Simulator" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/MMLSModelMobileLoadSimulator</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:13:52</CreateDate>
    <NodeName Default="MMLS (Model Mobile Load Simulator" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ctmrzjp/mmls-model-mobile-load-simulator.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>