<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7cffd5-0d1c-4043-83d4-4b7e694bec39" Alias="Motherwell7" Level="4">
  <Info>
    <Parent Key="68cdfda5-c00e-4d31-9af1-df28b0fe9c91">Projects</Parent>
    <Path>/Blog/Other/Projects/Motherwell7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:16:59</CreateDate>
    <NodeName Default="Motherwell7" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0p5hygy2/motherwell7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>