<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a273001-de60-44b9-a8df-e05a5dd79de4" Alias="Motherwell2" Level="4">
  <Info>
    <Parent Key="68cdfda5-c00e-4d31-9af1-df28b0fe9c91">Projects</Parent>
    <Path>/Blog/Other/Projects/Motherwell2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:16:54</CreateDate>
    <NodeName Default="Motherwell2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a2yco4ta/motherwell2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>