<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddcb0588-2e1e-4c60-a45b-049d0133b1c7" Alias="Municipal Projects Roadlab Map" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/MunicipalProjectsRoadlabMap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:03:44</CreateDate>
    <NodeName Default="Municipal Projects Roadlab Map" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rycnxxi4/municipal-projects-roadlab-map.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>