<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d0e84ee-df8c-4a65-a060-f2db4a78378b" Alias="Municipal Projects Roadlab Map (1)" Level="5">
  <Info>
    <Parent Key="3fda0925-3cfd-4480-b72c-f89204a84ce2">Western Cape</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/WesternCape/MunicipalProjectsRoadlabMap1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-06T12:36:30</CreateDate>
    <NodeName Default="Municipal Projects Roadlab Map (1)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3cca3dmm/municipal-projects-roadlab-map.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>