<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b90bcc1-bfef-47ee-908f-d668f278bbe6" Alias="N4 Roads Project" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/N4RoadsProject</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:46:08</CreateDate>
    <NodeName Default="N4 Roads Project" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y44jaw5p/n4-roads-project.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>