<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b3e51cf-a1a2-41c8-816f-ec897281b55e" Alias="New Concrete Page" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/NewConcretePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-03T06:42:57</CreateDate>
    <NodeName Default="New Concrete Page" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties />
</Media>