<?xml version="1.0" encoding="utf-8"?>
<Media Key="e96ab060-0491-490e-8e41-0017d7388cf5" Alias="New" Level="3">
  <Info>
    <Parent Key="da248be5-7591-453f-8ac2-2d32f1b08a4e">Soil</Parent>
    <Path>/Services/Soil/New</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-01-09T12:10:51</CreateDate>
    <NodeName Default="New" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>