<?xml version="1.0" encoding="utf-8"?>
<Media Key="412750f1-ca8e-4b31-84a6-8c5cd071f0e9" Alias="Northern Cape Mines" Level="5">
  <Info>
    <Parent Key="12b76d2c-2fdc-4585-93d2-96e5079c65d3">Northern Cape</Parent>
    <Path>/Blog/Other/Mining/NorthernCape/NorthernCapeMines</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-18T12:39:22</CreateDate>
    <NodeName Default="Northern Cape Mines" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/43icoqmo/northern-cape-mines.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>