<?xml version="1.0" encoding="utf-8"?>
<Media Key="75b59ec6-26f9-429b-8065-282e05fc251f" Alias="North West Construction Projects" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/NorthWestConstructionProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:46:06</CreateDate>
    <NodeName Default="North West Construction Projects" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ycplk3pz/north-west-construction-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>