<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bd25273-0c61-4921-9d06-1426c6f41005" Alias="Northern Cape Mining" Level="5">
  <Info>
    <Parent Key="12b76d2c-2fdc-4585-93d2-96e5079c65d3">Northern Cape</Parent>
    <Path>/Blog/Other/Mining/NorthernCape/NorthernCapeMining</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T07:20:27</CreateDate>
    <NodeName Default="Northern Cape Mining" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ovjne41b/northern-cape-mining.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>