<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ce7abae-86df-4e93-bec7-712b9450a0b9" Alias="North West Construction Towns" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/NorthWestConstructionTowns</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:46:05</CreateDate>
    <NodeName Default="North West Construction Towns" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vcvpopg5/north-west-construction-towns.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>