<?xml version="1.0" encoding="utf-8"?>
<Media Key="14104376-f818-4a19-8391-5178d7f3de06" Alias="OTMS 9" Level="5">
  <Info>
    <Parent Key="4370ee3b-26b5-4205-a76a-202f6ba4d751">OTMS</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/OTMS/OTMS9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T10:22:54</CreateDate>
    <NodeName Default="OTMS 9" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/obbbafay/otms-9.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>