<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d7e7428-b715-4f81-87dd-75bbe0ae93f0" Alias="OTMS 18" Level="5">
  <Info>
    <Parent Key="4370ee3b-26b5-4205-a76a-202f6ba4d751">OTMS</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/OTMS/OTMS18</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T10:23:23</CreateDate>
    <NodeName Default="OTMS 18" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fz0h2piv/otms-18.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>