<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef4c6e21-9166-4bca-9130-b7d00bed968d" Alias="Pexels Photo 236060" Level="5">
  <Info>
    <Parent Key="deed6121-da6e-416b-a8c5-d45328404d05">Blog</Parent>
    <Path>/Blog/Other/PowerStations/Blog/PexelsPhoto236060</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-15T05:49:25</CreateDate>
    <NodeName Default="Pexels Photo 236060" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e3xez11g/pexels-photo-236060.jpeg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>