<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa485d02-018e-4563-8010-151ed4bf7c6f" Alias="Point Load2" Level="3">
  <Info>
    <Parent Key="9189d938-d63e-49aa-9004-72e8c701ae05">Roadlab Rock Mechanics</Parent>
    <Path>/Services/RoadlabRockMechanics/PointLoad2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-07T09:40:03</CreateDate>
    <NodeName Default="Point Load2" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/arofrkuo/point-load2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>