<?xml version="1.0" encoding="utf-8"?>
<Media Key="a60b0cc6-65ba-4f79-ba83-4d400235f1b9" Alias="PSV MACHINE (2)" Level="3">
  <Info>
    <Parent Key="9189d938-d63e-49aa-9004-72e8c701ae05">Roadlab Rock Mechanics</Parent>
    <Path>/Services/RoadlabRockMechanics/PSVMACHINE2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-29T09:52:29</CreateDate>
    <NodeName Default="PSV MACHINE (2)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yagaxjv0/psv-machine.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>