<?xml version="1.0" encoding="utf-8"?>
<Media Key="86589c0d-de62-49ac-b5cd-edb7febd3450" Alias="Public Private Participation" Level="5">
  <Info>
    <Parent Key="e8e9be11-8b28-4d2d-a891-b145b6b5301d">2022 Cash Cows</Parent>
    <Path>/Blog/Other/AsphaltAndRoadworks/CashCows/PublicPrivateParticipation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-09T07:49:34</CreateDate>
    <NodeName Default="Public Private Participation" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/boofrbtc/public-private-participation.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>