<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebf31ad4-88f5-4e1f-99dd-488207ed205f" Alias="Pull Out" Level="3">
  <Info>
    <Parent Key="733d522d-fa19-4298-a074-326ec8016c94">Specialized</Parent>
    <Path>/Services/Specialized/PullOut</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-08T09:32:14</CreateDate>
    <NodeName Default="Pull Out" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0inph05v/pull-out.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>