<?xml version="1.0" encoding="utf-8"?>
<Media Key="26c1bf84-82c9-4b45-876d-625b1b2d5d97" Alias="Quarries and Aggregates" Level="3">
  <Info>
    <Parent Key="9a39df6e-4ed4-4280-8f74-ca0e10d024b3">Other</Parent>
    <Path>/Blog/Other/QuarriesAndAggregates</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-04-07T07:53:10</CreateDate>
    <NodeName Default="Quarries and Aggregates" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>