<?xml version="1.0" encoding="utf-8"?>
<Media Key="e98c2dca-c7fb-4d20-aaea-bc4fa27b610d" Alias="Redstone 2" Level="2">
  <Info>
    <Parent Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba">Projects</Parent>
    <Path>/Projects/Redstone2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-19T14:45:16</CreateDate>
    <NodeName Default="Redstone 2" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zqwjz0p1/redstone-2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>