<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec3a14bc-3c3b-4507-993b-52599f11a596" Alias="Roadlab Eastern Cape Projects" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/RoadlabEasternCapeProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-27T17:44:09</CreateDate>
    <NodeName Default="Roadlab Eastern Cape Projects" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xikdv1b1/roadlab-eastern-cape-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>