<?xml version="1.0" encoding="utf-8"?>
<Media Key="80e41a5d-d465-4653-b8ba-9d43af12463a" Alias="Roadlab" Level="3">
  <Info>
    <Parent Key="9a39df6e-4ed4-4280-8f74-ca0e10d024b3">Other</Parent>
    <Path>/Blog/Other/Roadlab</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-20T06:22:02</CreateDate>
    <NodeName Default="Roadlab" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>