<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed7e1ec4-8d9c-48c2-9c38-5137c7b9fc6d" Alias="Roadlab Lesotho" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/RoadlabLesotho</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-21T12:14:34</CreateDate>
    <NodeName Default="Roadlab Lesotho" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yiph31m2/roadlab-lesotho-site-lab.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>