<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7bef098-e1e3-4ce8-8869-703c45782a77" Alias="Roadlab Branches In Northern Cape" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/RoadlabBranchesInNorthernCape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T09:01:00</CreateDate>
    <NodeName Default="Roadlab Branches In Northern Cape" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1yl3n5d/roadlab-branches-in-northern-cape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>