<?xml version="1.0" encoding="utf-8"?>
<Media Key="02110696-162e-4209-960b-32fc84d3c04f" Alias="Roadlab Western Cape Branches" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/RoadlabWesternCapeBranches</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T11:44:21</CreateDate>
    <NodeName Default="Roadlab Western Cape Branches" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sadbcaro/roadlab-western-cape-branches.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>