<?xml version="1.0" encoding="utf-8"?>
<Media Key="85926363-9bff-41bb-a500-2e946b4046a6" Alias="Roadlab Quality Assurance" Level="5">
  <Info>
    <Parent Key="300f606f-e7c6-41ef-b5d3-9fa4038f5eb2">Free State Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/FreeStateBlog/RoadlabQualityAssurance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T14:16:29</CreateDate>
    <NodeName Default="Roadlab Quality Assurance" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mvrjfbp5/roadlab-quality-assurance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>