<?xml version="1.0" encoding="utf-8"?>
<Media Key="4105171c-cb5c-4e75-98e5-2cb5d880ed52" Alias="Roadlab Project" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/RoadlabProject</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-27T10:23:26</CreateDate>
    <NodeName Default="Roadlab Project" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dilbkqk2/roadlab-project.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>