<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f385a25-1830-41ac-beb5-6ce0b2e54a25" Alias="Roadlab Team" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/RoadlabTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:45:49</CreateDate>
    <NodeName Default="Roadlab Team" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/enndrdzq/roadlab-team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>