<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c9f0a2-371b-4284-8e37-81bd34675df5" Alias="Roadlab Rock Mechanics XRD" Level="5">
  <Info>
    <Parent Key="f74ea0e6-1e04-455d-a421-51bcbc6186be">October 2025</Parent>
    <Path>/Blog/October2025/TestIt/October2025/RoadlabRockMechanicsXRD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T08:48:31</CreateDate>
    <NodeName Default="Roadlab Rock Mechanics XRD" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/utymsea1/roadlab-rock-mechanics-xrd.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>