<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c5212db-3f81-467e-90ff-31758f514821" Alias="Roadlab East London Team" Level="5">
  <Info>
    <Parent Key="6e40c9b5-3760-418d-ae91-9c98ae7ace11">Eastern Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/EasternCapeServices/RoadlabEastLondonTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T06:39:56</CreateDate>
    <NodeName Default="Roadlab East London Team" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ujfedeb/roadlab-east-london-team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>