<?xml version="1.0" encoding="utf-8"?>
<Media Key="041ade82-a082-475b-8700-d04c5ebfc605" Alias="Roadlab Projects In North West" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/RoadlabProjectsInNorthWest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:45:39</CreateDate>
    <NodeName Default="Roadlab Projects In North West" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qtpbubec/roadlab-projects-in-north-west.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>