<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f287c8d-fef1-4141-ae77-a23617e1fb7d" Alias="Sanas Accreditation" Level="4">
  <Info>
    <Parent Key="80e41a5d-d465-4653-b8ba-9d43af12463a">Roadlab</Parent>
    <Path>/Blog/Other/Roadlab/SanasAccreditation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T07:36:37</CreateDate>
    <NodeName Default="Sanas Accreditation" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rn4cq15r/sanas-accreditation.png",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>