<?xml version="1.0" encoding="utf-8"?>
<Media Key="dffd2016-1ea5-49d8-b8a9-e0625b0c0890" Alias="SAQI Conference In Gauteng" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/SAQIConferenceInGauteng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:20:40</CreateDate>
    <NodeName Default="SAQI Conference In Gauteng" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/caqp1x3f/saqi-conference-in-gauteng.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>