<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2da6cd-9145-4189-94fa-1f5b0cdd61f6" Alias="Screed" Level="3">
  <Info>
    <Parent Key="987b546f-d75a-4173-bcce-56e649219c30">Black</Parent>
    <Path>/Icons/Black/Screed</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-14T12:16:56</CreateDate>
    <NodeName Default="Screed" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zotc1lcf/screed.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>