<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d7f5505-d64b-4e9c-a34e-806b0e397f21" Alias="Senqu Bridge Construction" Level="5">
  <Info>
    <Parent Key="ab6d6e38-7688-47a2-ab08-37741fb74608">Senqu Briges</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/SenquBriges/SenquBridgeConstruction</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-13T14:26:03</CreateDate>
    <NodeName Default="Senqu Bridge Construction" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ankh4pkl/senqu-bridge-construction.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>