<?xml version="1.0" encoding="utf-8"?>
<Media Key="026e22e7-a99a-4c42-97a7-5723fbb9d179" Alias="September Projects (2)" Level="5">
  <Info>
    <Parent Key="b919b8f2-904e-4b81-8807-4f84f6faaeb1">1. September 2025</Parent>
    <Path>/Blog/Other/Conclusions/September2025/SeptemberProjects2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-01T07:56:40</CreateDate>
    <NodeName Default="September Projects (2)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2erg2au0/september-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>