<?xml version="1.0" encoding="utf-8"?>
<Media Key="278af19e-ce7a-409f-8754-e6e1905d6d2f" Alias="Sibanye Stillwater Rustenburg" Level="5">
  <Info>
    <Parent Key="58437d7b-9b25-412b-8272-08f695d61e63">North West Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthWestBlog/SibanyeStillwaterRustenburg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-26T13:45:41</CreateDate>
    <NodeName Default="Sibanye Stillwater Rustenburg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tdyjuj10/sibanye-stillwater-rustenburg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>