<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fbe9efe-b27c-4c65-a058-76a6e9ee2b77" Alias="Sishen 1" Level="5">
  <Info>
    <Parent Key="12b76d2c-2fdc-4585-93d2-96e5079c65d3">Northern Cape</Parent>
    <Path>/Blog/Other/Mining/NorthernCape/Sishen1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-18T11:48:14</CreateDate>
    <NodeName Default="Sishen 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5cpl2p12/sishen-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>