<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c54d12d-c2b1-42c3-80d6-3d2ea3e6396f" Alias="Slake Durabiliy (1)" Level="3">
  <Info>
    <Parent Key="9189d938-d63e-49aa-9004-72e8c701ae05">Roadlab Rock Mechanics</Parent>
    <Path>/Services/RoadlabRockMechanics/SlakeDurabiliy1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-07T12:06:52</CreateDate>
    <NodeName Default="Slake Durabiliy (1)" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fpifilfr/slake-durabiliy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>