<?xml version="1.0" encoding="utf-8"?>
<Media Key="02d944c2-fa28-4016-aec4-4d163e016c07" Alias="Soil Behaviour (1)" Level="4">
  <Info>
    <Parent Key="48647119-d075-45d3-9966-d8a0c42554bb">New</Parent>
    <Path>/Services/GRInvestigations/New/SoilBehaviour1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T12:54:16</CreateDate>
    <NodeName Default="Soil Behaviour (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yrcnsari/soil-behaviour.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>