<?xml version="1.0" encoding="utf-8"?>
<Media Key="d00d3ece-fca6-4117-ba45-7014e2ff4d24" Alias="Solar Projects" Level="5">
  <Info>
    <Parent Key="e71f3adb-d841-47f9-88bd-cc6a4c74a6ff">Northern Cape Blog</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/NorthernCapeBlog/SolarProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-13T09:49:18</CreateDate>
    <NodeName Default="Solar Projects" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/za5a1ufg/solar-projects.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>