<?xml version="1.0" encoding="utf-8"?>
<Media Key="f85f13fb-0f42-4402-9bf8-59e681926116" Alias="Southern Coast Development" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/SouthernCoastDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-20T12:04:36</CreateDate>
    <NodeName Default="Southern Coast Development" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ujf54cc/southern-coast-development.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>