<?xml version="1.0" encoding="utf-8"?>
<Media Key="0573bb7a-771a-4246-825a-e5cb05e45c12" Alias="Specification, Safety Compliance" Level="4">
  <Info>
    <Parent Key="09f489f7-68ef-43bc-80af-f22890e2db18">New</Parent>
    <Path>/Services/AsphaltBitumen/New/SpecificationSafetyCompliance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-25T12:17:17</CreateDate>
    <NodeName Default="Specification, Safety Compliance" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ps3hgbi0/specification-safety-compliance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>