<?xml version="1.0" encoding="utf-8"?>
<Media Key="52cb9bbb-6fdb-48f7-ae57-13e321d1c02f" Alias="T&amp;M Conference In Gauteng" Level="4">
  <Info>
    <Parent Key="bd73ffee-c794-4b9e-85b1-9346f2d1ad63">Trust It</Parent>
    <Path>/Blog/October2025/TrustIt/TMConferenceInGauteng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:20:12</CreateDate>
    <NodeName Default="T&amp;M Conference In Gauteng" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xwnnwuw1/tm-conference-in-gauteng.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>