<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9868d8a-e08e-4125-8dfd-d7dc28703a8f" Alias="Untitled 3" Level="3">
  <Info>
    <Parent Key="c5d07150-bb74-41c6-b812-8fbdcd950ad5">G &amp; R Investigations</Parent>
    <Path>/Services/GRInvestigations/Untitled3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-11T11:17:31</CreateDate>
    <NodeName Default="Untitled 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rsgjnkmo/untitled-3.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>