<?xml version="1.0" encoding="utf-8"?>
<Media Key="e512937a-d483-4980-8baf-9c910d6cdb6d" Alias="Western Cape Material Testing" Level="5">
  <Info>
    <Parent Key="deb24b89-103a-4793-a680-f59d74fb6963">Western Cape Services</Parent>
    <Path>/Blog/Other/CivilEngineeringAndConstruction/WesternCapeServices/WesternCapeMaterialTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T07:03:12</CreateDate>
    <NodeName Default="Western Cape Material Testing" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/psjbfzmd/western-cape-material-testing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>