<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0eb84fc-2106-460e-a475-10e37f3fff9a" Alias="_Blog Selector - Block Content Picker - Content Picker" Level="1">
  <Info>
    <Name>_Blog Selector - Block Content Picker - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "showOpenButton": false,
  "startNodeId": "c98abf68-afda-41f5-ac55-a7759698048f",
  "umbMigrationV14": "2026-05-20T10:23:03.9967665\u002B00:00"
}]]></Config>
</DataType>