<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72d6729e-b21a-4bed-9522-064e6653d5e4" Alias="Blog Article - Expertise List - Nested Content" Level="1">
  <Info>
    <Name>Blog Article - Expertise List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "338ac17e-85de-40c4-8028-34adf753b3c6",
      "label": "{{stringItemText}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>