<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbdc3ff1-4d6f-4024-909f-995b49b8e1d6" Alias="Branch - Branch Accreditation link - File upload" Level="1">
  <Info>
    <Name>Branch - Branch Accreditation link - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>