<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de752c91-dcc5-4ff2-b4a4-a6ef021d38b6" Alias="Branch Map - Textarea" Level="1">
  <Info>
    <Name>Branch Map - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>