<?xml version="1.0" encoding="utf-8"?>
<DataType Key="201c7ea6-21f2-4659-bb1e-c70efb7104bd" Alias="Category Image - Media Picker" Level="1">
  <Info>
    <Name>Category Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": "cf846d25-48c5-4902-8753-f2e9f37696a2",
  "umbMigrationV14": "2026-05-20T10:23:04.0074766\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>