<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ecd8922-a394-4695-9e79-8159367fe9c4" Alias="Details Block - Image - Media Picker" Level="1">
  <Info>
    <Name>Details Block - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": false,
  "multiple": true,
  "umbMigrationV14": "2026-05-20T10:23:04.009792\u002B00:00",
  "validationLimit": {
    "min": 0,
    "max": 2
  }
}]]></Config>
</DataType>