<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79407241-3800-40fc-be63-d467d1a5e5af" Alias="Member - Company - Multinode Treepicker" Level="1">
  <Info>
    <Name>Member - Company - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c92bd6ae-4b0c-4f3e-9ec7-b940d9bec8bc",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 1,
  "showOpenButton": true,
  "startNode": {
    "type": "content",
    "id": "978d3fc0-db2b-4254-8f72-71632c97be4a",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2026-05-20T10:23:04.0116575\u002B00:00"
}]]></Config>
</DataType>