<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5d49789-515b-4a39-a674-e11279764acc" Alias="Operation Teams - Nested Content" Level="1">
  <Info>
    <Name>Operation Teams - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c55e13e5-f6a4-4995-a82a-1c305d769ed9",
      "label": "{{aboutPage}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>