<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba89affc-4213-46ac-a559-96ff1441a282" Alias="Province Section - Branch - Block List" Level="1">
  <Info>
    <Name>Province Section - Branch - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "632a8af1-f0ef-438f-a82e-4a564d1089be",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>