<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40157262-8416-43de-b153-4e5917fd7fb3" Alias="Quote Request Line Item - Content Picker (1)" Level="1">
  <Info>
    <Name>Quote Request Line Item - Content Picker (1)</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "showOpenButton": false,
  "startNodeId": "978d3fc0-db2b-4254-8f72-71632c97be4a",
  "umbMigrationV14": "2026-05-20T10:23:04.0139541\u002B00:00"
}]]></Config>
</DataType>