<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8284069-213a-407d-aac9-577557eddc72" Alias="App Settings - Testing Types - Nested Content" Level="1">
  <Info>
    <Name>App Settings - Testing Types - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testingType",
      "ncTabAlias": "Testing Type",
      "nameTemplate": "{{testingTypeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>