<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8f4a29c-7004-42ac-a5f9-c15d342ff213" Alias="_Blog Selector - Block Content Picker - Multinode Treepicker" Level="1">
  <Info>
    <Name>_Blog Selector - Block Content Picker - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/c98abf68afda41f5ac55a7759698048f"
  },
  "Filter": "blogArticle",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>