<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fae64bc9-c39c-46d9-a639-9a7a9de9e9c4" Alias="Blog Article - Location List - Nested Content" Level="1">
  <Info>
    <Name>Blog Article - Location List - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "stringItem",
      "ncTabAlias": "String Item",
      "nameTemplate": "{{stringItemText}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>