<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f45c9ceb-7fc0-4939-9518-e58afc0ccc04" Alias="_branches - Branch Selector - Multinode Treepicker" Level="1">
  <Info>
    <Name>_branches - Branch Selector - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/0a32a32bc79647268d0c8cd75ec854b7"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>