<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c0dc61-96fe-469d-ab2c-bfc8e4b2650d" Alias="Key Value List" Level="1">
  <Info>
    <Name>Key Value List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "limsElement",
      "ncTabAlias": "Data",
      "nameTemplate": "{{limasClientAccountNumber}}-{{limsClientName}}-{{limsClientId}}-{{limsContactId}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>