<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24963650-07f1-4eec-a42d-3de3561b057d" Alias="Notification Sender" Level="1">
  <Info>
    <Name>Notification Sender</Name>
    <EditorAlias>Roadlab.NotificationSender</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>