<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="747eee68-8aeb-4735-b1ca-915423b28d29" Alias="blogSearchResults" Level="1">
  <Info>
    <Name>Blog Search Results</Name>
    <Icon>icon-search color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ef575b92-8109-42a1-843d-3c004c91d715">heroSection</Composition>
    </Compositions>
    <DefaultTemplate>BlogSearchResults</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35992e19-b126-4318-9b43-feb878e6caab">BlogSearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>