<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ee316dc-6f5e-4b70-8324-56d5eedb0ce5" Alias="footer" Level="2">
  <Info>
    <Name>_footer</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82d359a6-3b43-4a9f-bf26-a636d295e47b</Key>
      <Name>Footer Accreditation</Name>
      <Alias>footerAccreditation</Alias>
      <Definition>7d260dff-94a2-416f-9b4c-8c830c84046c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerLinks">Footer links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dd00676-4e51-49d7-9591-e7f5b24e4abb</Key>
      <Name>FooterBee</Name>
      <Alias>footerBee</Alias>
      <Definition>7d260dff-94a2-416f-9b4c-8c830c84046c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footerLinks">Footer links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7dbe056d-970a-480b-8662-1a618e96343f</Key>
      <Caption>Footer links</Caption>
      <Alias>footerLinks</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>