<div ng-controller="NotificationController">
    <style>
        .control-group {
            display: flex;
            flex-direction: row;
        }
    </style>
    <umb-panel>
        <a class="btn" href="#/Notifications/Notifications/Notifications">Back</a>
        <div class="umb-pane">
            <h2>Order</h2>
            
            <div class="umb-table no-border">

                <div class="umb-table-inner">
                    <div class="control-group">
                        <label class="control-label">Id</label>
                        <div> {{model.id}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Project</label>
                        <div> {{model.project}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Branch</label>
                        <div> {{model.branchId}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Requested By</label>
                        <div> {{model.requestByName}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Contact Person</label>
                        <div> {{model.contactPerson}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Contact Person Number</label>
                        <div> {{model.contactPersonNumber}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Contact Person Email</label>
                        <div> {{model.contactPersonEmail}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Site Location Address</label>
                        <div> {{model.siteLocationAddress}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Special Instructions</label>
                        <div> {{model.specialInstructions}}</div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Status</label>


                        <select ng-model="selectedItemvalue"
                                ng-options="sel for sel in statusus">
                        </select>

                    </div>
                    <a style="width: 150px;" href ng-click="save(selectedItemvalue)" class="btn">Save</a>
                    <h3>Tests</h3>
                    <ul>
                        <li ng-repeat="l in model.OrderLine"> Test : {{l.value}} Qty : {{l.qty}} </li>
                    </ul>
                </div>
                <hr />
                <!--<a style="width: 150px;" href ng-click="uploadFile()" class="btn">Upload Quote</a>-->

            </div>
        </div>

    </umb-panel>
</div>