<?xml version="1.0" encoding="utf-8"?>
<Content Key="50a366d1-1a36-4064-b05b-e39d0c43ba30" Alias="about" Level="102">
  <Info>
    <Parent Key="cc5f268f-653a-4de6-99f2-21f950055718">home</Parent>
    <Path>/[-20]/home/about</Path>
    <Trashed Parent="cc5f268f-653a-4de6-99f2-21f950055718">true</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2026-05-20T09:36:32</CreateDate>
    <NodeName Default="about" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="80bfaf94-3de2-4a5d-9403-74f605853c24">AboutPage</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <heroContent>
      <Value><![CDATA[]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "07da603c-4954-4c58-bc14-a61613a63bc8",
    "mediaKey": "527df05f-3e8e-44d2-9081-a793372f20b9"
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[[]]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <operationTeams>
      <Value><![CDATA[]]></Value>
    </operationTeams>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[[]]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <teamMember>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fc78e51a143f4c7f91d7b99349271301"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e3e93d20-fff1-4d7a-8102-8e13aa52c170",
      "udi": "umb://element/fc78e51a143f4c7f91d7b99349271301",
      "teamMemberPhoto": [
        {
          "key": "56f51af2-6175-4a54-8baa-48914e3638fc",
          "mediaKey": "527df05f-3e8e-44d2-9081-a793372f20b9"
        }
      ],
      "teamMemberName": "sdfs",
      "teamImageAlt": "sdfs",
      "teamMemberPosition": "sdfsfd",
      "teamMemberDescription": "sdfsd"
    }
  ],
  "settingsData": []
}]]></Value>
    </teamMember>
  </Properties>
</Content>