<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc6f98e3-0647-4513-abc1-9a17ae155e5e" Alias="About" Level="2">
  <Info>
    <Parent Key="778404db-d1cf-49d1-a83b-0d84173a1c5c">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2019-09-18T12:11:35</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="80bfaf94-3de2-4a5d-9403-74f605853c24">AboutPage</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <heroContent>
      <Value><![CDATA[<div class="hero__container--content">
<p style="text-align: left;"><strong>Leading material investigations for over 50 years.</strong></p>
<p style="text-align: left;">Roadlab evaluates construction material through on-site and laboratory testing, ensuring the success of incredible facilities and awe-inspiring projects.</p>
<p style="text-align: left;">We provide excellent service at the cutting-edge of civil engineering, focusing on all practical aspects of earthworks, soils, aggregates, concrete, asphalt and roadworks.</p>
</div>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[MATERIAL TESTING]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[AFRICA’S LEADER IN]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <operationTeams>
      <Value><![CDATA[]]></Value>
    </operationTeams>
    <pageDescription>
      <Value><![CDATA[Specialized Equipment. Highly Accredited Facilities. Veteran Personal. We offer the most advanced materials testing capabilities on the continent.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Leadership Team]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Meet Our]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[About Roadlab and the team members]]></Value>
    </pageTitle>
    <teamMember>
      <Value><![CDATA[[
  {
    "key": "a8e507e0-5713-490e-86fb-3ef81a32a4b3",
    "name": "Item 1",
    "ncContentTypeAlias": "aboutTeamMembers",
    "teamMemberPhoto": "umb://media/e612791e90604225be3456cf0bf6c800",
    "teamMemberName": "Deon Beekhuizen",
    "teamImageAlt": "Deon Beekhuizen",
    "teamMemberPosition": "GROUP MANAGING DIRECTOR",
    "teamMemberDescription": ""
  },
  {
    "key": "b0b9caf4-f45c-4ad3-82f6-8052bd79d787",
    "name": "Item 2",
    "ncContentTypeAlias": "aboutTeamMembers",
    "teamMemberPhoto": "umb://media/f3c0b5ed96ce4e6ebd375857980abdd7",
    "teamMemberName": "Meghan Naidoo\t",
    "teamImageAlt": "Meghan Naidoo\t",
    "teamMemberPosition": "BUSINESS SOLUTIONS DIRECTOR",
    "teamMemberDescription": ""
  },
  {
    "key": "3e6c9418-bd0a-4da4-bc28-a4e9de754902",
    "name": "Item 3",
    "ncContentTypeAlias": "aboutTeamMembers",
    "teamMemberPhoto": "umb://media/fa1ff516036a46a8855fbe682097fe81",
    "teamMemberName": "Deon Juckers",
    "teamImageAlt": "Deon Juckers",
    "teamMemberPosition": "REGIONAL DIRECTOR - WESTERN CAPE",
    "teamMemberDescription": ""
  },
  {
    "key": "ad8732ca-82f8-4647-917c-63d8d4e3a8d3",
    "name": "Item 4",
    "ncContentTypeAlias": "aboutTeamMembers",
    "teamMemberPhoto": "umb://media/61bc342fac864431bc1b193774991d86",
    "teamMemberName": "Jay Sarjooparsad",
    "teamImageAlt": "Jay Sarjooparsad",
    "teamMemberPosition": "DIRECTOR - KZN",
    "teamMemberDescription": ""
  },
  {
    "key": "4a872b8f-5b87-4fef-92c5-6261d80a8edd",
    "name": "Item 5",
    "ncContentTypeAlias": "aboutTeamMembers",
    "teamMemberPhoto": "umb://media/57bd60277b8741d783fd4c9262e76816",
    "teamMemberName": "Sibusiso Mahlangu",
    "teamImageAlt": "Sibusiso Mahlangu",
    "teamMemberPosition": "DIRECTOR - LIMPOPO",
    "teamMemberDescription": ""
  }
]]]></Value>
    </teamMember>
  </Properties>
</Content>