<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc443895-fcdb-4614-912b-e4e6c7e6a723" Alias="Account" Level="2">
  <Info>
    <Parent Key="778404db-d1cf-49d1-a83b-0d84173a1c5c">Home</Parent>
    <Path>/Home/Account</Path>
    <Trashed>false</Trashed>
    <ContentType>accountMaster</ContentType>
    <CreateDate>2020-03-31T14:56:33</CreateDate>
    <NodeName Default="Account" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc291e97-3247-4f9e-b669-30c36ac9b873">AccountMaster</Template>
  </Info>
  <Properties />
</Content>