<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3b01226-64b7-4245-8305-8800fb8b0059" Alias="Aggregate" Level="4">
  <Info>
    <Parent Key="d56714df-35af-4b23-a158-44e5a3e5cb6c">Materials Testing</Parent>
    <Path>/Home/Services/MaterialsTesting/Aggregate</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2019-09-18T14:00:03</CreateDate>
    <NodeName Default="Aggregate" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[agg]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p style="text-align: left;">We are ready to provide you advice or a quote.<strong><br />Send us an enquiry <a href="/head-office/#reachout" title="Head Office" data-anchor="#reachout">here</a><span> or call 066 299 1985.</span><br /></strong></p>
<p style="text-align: left;">Our accredited facilities perform all manner of aggregate testing, including <span class="hgKElc">gradation, fines content and plasticity </span>according to any standard you require.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[AGGREGATE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "9045a2bd-eea6-413f-b1f5-230e5cdec285",
    "mediaKey": "8449c4b7-e251-4429-b386-5830709127e9",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[MATERIALS TESTING]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Aggregate is coarse particulate material used in construction, including sand, gravel, crushed stone, slag, recycled concrete and geosynthetic aggregates.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[SERVICE OFFERING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[AGGREGATE]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/b690b2568ac04d1e88882888251189d0]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Testing gravel crushed stone slag recycled concrete aggregat]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "5f57fa53-f24a-4140-a608-3ca3608d273c",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Particle Size Analysis ",
    "category": "<p style=\"text-align: right;\">Also known as sieve analysis, this test is done to determine if the aggregates are fit for purpose.</p>",
    "categoryImage": "umb://media/c61e9a33743b4dd983a2802781df3a5b"
  },
  {
    "key": "8511c312-5461-412d-9aa5-5e23513f51f1",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Average Least Dimension (ALD) ",
    "category": "<p style=\"text-align: right;\">The arithmetic mean of all the measured least dimensions of the aggregate particles measured. </p>",
    "categoryImage": "umb://media/dbb24de3e7914a4e928b7bb45fffbca5"
  },
  {
    "key": "75770e98-f72c-4da3-8d94-87618353eadb",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "Flakiness Index  ",
    "category": "<p style=\"text-align: right;\">A measurement of the flatness of an aggregate, affecting the performance of road surfacing aggregates and the workability of concrete.</p>",
    "categoryImage": "umb://media/680c44a1888949ad86bab15fe4770317"
  },
  {
    "key": "133d9bcb-e967-4b47-b970-9ef18833a41d",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Sand Equivalent",
    "category": "<p style=\"text-align: right;\">Reveals relative proportions of dust or clay-like materials, used to assess the quality of fine aggregate used in concrete and asphalt.</p>",
    "categoryImage": "umb://media/479fae2643ad445c97b81a04de2a1502"
  },
  {
    "key": "9fb6ae54-01af-4654-9854-0807bca70dad",
    "name": "Item 5",
    "ncContentTypeAlias": "products",
    "categoryNumber": "05",
    "categoryHeading1": "ACV  and 10% FACT",
    "category": "<p style=\"text-align: right;\">Determines the particle strength of aggregate for concrete, surfacing (chips) and asphalt, as well as for crushed stone base.</p>",
    "categoryImage": "umb://media/a3a76928979041ceb346427763c964f3"
  },
  {
    "key": "ad217926-ae1a-4614-ae59-dc8f7a0fc3cd",
    "name": "Item 6",
    "ncContentTypeAlias": "products",
    "categoryNumber": "06",
    "categoryHeading1": "Polished Stone Value (PSV)",
    "category": "<p style=\"text-align: right;\">Simulates the resistance of aggregate to the polishing action of vehicle tyres under conditions similar to those occurring on a road surface.</p>",
    "categoryImage": "umb://media/7622f1da359143dc964b8b0c378a4554"
  },
  {
    "key": "304da993-be99-47d2-99a1-8739e81aa51c",
    "name": "Item 7",
    "ncContentTypeAlias": "products",
    "categoryNumber": "07",
    "categoryHeading1": "Bulk Density",
    "category": "<p style=\"text-align: right;\">Determine the relative compaction of a crushed stone base and mix design procedures of concrete and asphalt where volumetric and water absorption properties are required.</p>",
    "categoryImage": "umb://media/26c573e7d97e42c4b9f2094c99d5bd1d"
  },
  {
    "key": "ee6f49d9-7271-41e7-bc93-08fc9e7bc50b",
    "name": "Item 8",
    "ncContentTypeAlias": "products",
    "categoryNumber": "08",
    "categoryHeading1": "Apparent Density ",
    "category": "<p style=\"text-align: right;\">This test is used to determine the apparent density of crushed stone base. The results are used to determine compliance of the density with applicable specifications.</p>",
    "categoryImage": "umb://media/aba72e82e463412dafab82f51371f7c4"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[
  {
    "name": "Chemical Tests",
    "url": "https://roadlabstaging.azurewebsites.net/services/materials-testing/chemical-testing/"
  }
]]]></Value>
    </servicesButtons>
  </Properties>
</Content>