<?xml version="1.0" encoding="utf-8"?>
<Content Key="626b9caa-fbf7-4e46-a9f8-4dce0ed780f6" Alias="Ajax" Level="4">
  <Info>
    <Parent Key="a5936a37-9ebf-45b0-a882-074164f60632">Secure Area</Parent>
    <Path>/Home/Account/SecureArea/Ajax</Path>
    <Trashed>false</Trashed>
    <ContentType>ajaxPage</ContentType>
    <CreateDate>2020-05-05T08:39:41</CreateDate>
    <NodeName Default="Ajax" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d72597d0-3c08-4f5e-b53f-c1a3697f04a0">AjaxPage</Template>
  </Info>
  <Properties />
</Content>