<?xml version="1.0" encoding="utf-8"?>
<Content Key="57b51c5e-2d47-45a2-bc46-846794feb7af" Alias="Concrete" Level="4">
  <Info>
    <Parent Key="d56714df-35af-4b23-a158-44e5a3e5cb6c">Materials Testing</Parent>
    <Path>/Home/Services/MaterialsTesting/Concrete</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2019-10-09T08:45:19</CreateDate>
    <NodeName Default="Concrete" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3002bddd-7b19-457a-a96d-3649918cd663">Services</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[umb://document/938b098137a94802aba87664693173ef,umb://document/102f5a317f0a42c4b6aa161f2452561a,umb://document/0c013d8040184076b9438afa3fa8540d]]></Value>
    </blockContentPicker>
    <class>
      <Value><![CDATA[concrete]]></Value>
    </class>
    <heroContent>
      <Value><![CDATA[<p>We are ready to provide you with advice or a quote.<br /><strong>Send us an enquiry <a href="/{localLink:umb://document/695010147d8a408a8922b1d1b4f1d905}#reachout" title="Head Office" data-anchor="#reachout">here</a></strong> or call <strong>066 299 1985.</strong></p>
<p style="text-align: left;">Our accredited facilities are well-equipped to conduct a broad range of concrete strength, durability and integrity testing, according to any standard you require.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Concrete]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[
  {
    "key": "c90119a4-2e7b-4d3f-9fe6-265cef956e9c",
    "mediaKey": "5846b89b-b5ca-40ab-818f-0d30088aeb59",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[Materials Testing]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[We offer the broadest range of concrete services in South Africa.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[SERVICE OFFERING]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Concrete]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/c7875ac53d474784be27b9bc0136e47e]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index,follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab Concrete Mixing Strength Testing Carbonation Testing]]></Value>
    </pageTitle>
    <serviceCategories>
      <Value><![CDATA[[
  {
    "key": "13d4b6f0-68db-4477-b22f-9d7970e8d5d3",
    "name": "Item 1",
    "ncContentTypeAlias": "products",
    "categoryNumber": "01",
    "categoryHeading1": "Ground Penetrating Radar (GPR)",
    "category": "<p style=\"text-align: right;\">Assess the integrity of your concrete work by locating cracks, voids and other integrity issues without sampling and <a href=\"/{localLink:umb://document/102f5a317f0a42c4b6aa161f2452561a}\" title=\"Our Non-Destructive Investigation Services\">non-destructively</a>.</p>",
    "categoryImage": "umb://media/4cada8914c634aeaadf5db05a6c9d8f2"
  },
  {
    "key": "b9b1adc4-ce38-480f-940a-6c587b520c73",
    "name": "Item 2",
    "ncContentTypeAlias": "products",
    "categoryNumber": "02",
    "categoryHeading1": "Ultrasonic Pulse  Velocity and Echo",
    "category": "<p style=\"text-align: right;\"><a href=\"/{localLink:umb://document/c47fdd44750542c5a111a817d291605c}\" title=\"Non-Destructive Forensic Investigations\">Locate sub-surface targets</a> in concrete to assess strength, durability, slab thickness and the severity of honey combing.</p>",
    "categoryImage": "umb://media/59fb45b4f05d4c40a6d81d16f6dc9ce6"
  },
  {
    "key": "5250991c-8ed3-4c14-9d5c-a6c19199e2ca",
    "name": "Item 3",
    "ncContentTypeAlias": "products",
    "categoryNumber": "03",
    "categoryHeading1": "Making & Curing of Concrete Test Specimens",
    "category": "<p style=\"text-align: right;\">Specimens made using freshly mixed concrete can be used to determine concrete strength.</p>",
    "categoryImage": "umb://media/0f261ca753614aaa8e85058fc5f6193b"
  },
  {
    "key": "1c3fbde7-943b-406d-a24a-410bc370febe",
    "name": "Item 4",
    "ncContentTypeAlias": "products",
    "categoryNumber": "04",
    "categoryHeading1": "Slump Test",
    "category": "<p style=\"text-align: right;\">Determines the uniformity and consistency of freshly mixed concrete to ensure it is fit-for-use.</p>",
    "categoryImage": "umb://media/7f2d167fd5984e7aab6e75ff876e584b"
  },
  {
    "key": "a17f3848-0fe6-45eb-9dda-baac54b2ed92",
    "name": "Item 5",
    "ncContentTypeAlias": "products",
    "categoryNumber": "06",
    "categoryHeading1": "Compressive Strength of Concrete Cubes",
    "category": "<p style=\"text-align: right;\">A concrete cube press is utilised to determine the compressive strength of a concrete specimen.</p>",
    "categoryImage": "umb://media/ee80b7b8181842f2ad37ee95202e3c15"
  },
  {
    "key": "c59e0f65-5ca5-477f-a218-60159d37d4ba",
    "name": "Item 6",
    "ncContentTypeAlias": "products",
    "categoryNumber": "06",
    "categoryHeading1": "Compressive Strength  of Concrete Cores ",
    "category": "<p style=\"text-align: right;\">Cores are prepared for testing and used to determine the compressive strength of concrete.</p>",
    "categoryImage": "umb://media/08a10f92f95b415188a5398eb5877429"
  },
  {
    "key": "790e5029-d35e-4348-a8e7-3e09ff3ee341",
    "name": "Item 7",
    "ncContentTypeAlias": "products",
    "categoryNumber": "07",
    "categoryHeading1": "Flexural Strength of Hardened Concrete ",
    "category": "<p style=\"text-align: right;\">A concrete beam press is employed to determine the compressive strength of concrete beam.</p>",
    "categoryImage": "umb://media/bc2962d2f32144eaabd1cbc2253dcea8"
  },
  {
    "key": "9ca4bad0-4ed1-4483-9622-17d83bf4e28d",
    "name": "Item 8",
    "ncContentTypeAlias": "products",
    "categoryNumber": "08",
    "categoryHeading1": "Durability Testing",
    "category": "<p style=\"text-align: right;\">Determines the oxygen permeability, water absorptivity and chloride conductivity of a concrete specimen.</p>",
    "categoryImage": "umb://media/ad23b121ca84489d93ef8f6c6bd80f98"
  },
  {
    "key": "a25aa5d9-fb86-4436-b060-d31385793102",
    "name": "Item 9",
    "ncContentTypeAlias": "products",
    "categoryNumber": "09",
    "categoryHeading1": "Concrete Crack Width Meter",
    "category": "<p style=\"text-align: right;\">A test to investigate crack width on a variety of concrete structures using photographic recording.</p>",
    "categoryImage": "umb://media/196c28c6cae94e24aef0f6f92eaa6379"
  },
  {
    "key": "28217373-931f-4dcf-a5f8-25f746be62b9",
    "name": "Item 10",
    "ncContentTypeAlias": "products",
    "categoryNumber": "10",
    "categoryHeading1": "Cover Meter Testing ",
    "category": "<p style=\"text-align: right;\">Determining the reinforcing depth in an existing concrete structure with the use of a rebar detector.</p>",
    "categoryImage": "umb://media/d5d689572d694b9eb61cc389e568620b"
  },
  {
    "key": "d5d4a4b7-275b-44a9-863e-392a223ce743",
    "name": "Item 11",
    "ncContentTypeAlias": "products",
    "categoryNumber": "11",
    "categoryHeading1": "Rebound Hammer ",
    "category": "<p style=\"text-align: right;\">This device measures the elastic properties or strength of concrete or rock, mainly surface hardness and penetration resistance.</p>",
    "categoryImage": "umb://media/0a4fc09776954b29854528fc4b8770ea"
  },
  {
    "key": "642007fa-56ac-47ba-b908-bca8ef2240cb",
    "name": "Item 12",
    "ncContentTypeAlias": "products",
    "categoryNumber": "12",
    "categoryHeading1": "Burnt Clay Masonry Units",
    "category": "<p style=\"text-align: right;\">A series of tests for product acceptance, including but not limited to dimensions, compressive strength, efflorescence and water absorptions.</p>",
    "categoryImage": "umb://media/adcd4551647746c68bd4fa19131c3dc4"
  },
  {
    "key": "bea2ad82-a4e2-4bb5-b9e8-f80ab040dbed",
    "name": "Item 13",
    "ncContentTypeAlias": "products",
    "categoryNumber": "13",
    "categoryHeading1": "Carbonation Testing ",
    "category": "<p style=\"text-align: right;\">By extracting a core sample and treating it with a solution we can determine the exact carbonation depth on a structure.</p>",
    "categoryImage": "umb://media/6d880fa2ffe6450a90fd1b0c64a9d228"
  },
  {
    "key": "0a7b24fe-0b27-4ffa-8a82-8c8b51791992",
    "name": "Item 14",
    "ncContentTypeAlias": "products",
    "categoryNumber": "14",
    "categoryHeading1": "Cement Paving Units",
    "category": "<p style=\"text-align: right;\">A series of tests for shape, appearance, color, dimensions, tensile splitting, abrasion resistance and water absorption.</p>",
    "categoryImage": "umb://media/803ad69264ec45298cc144ce300f7321"
  }
]]]></Value>
    </serviceCategories>
    <servicesButtons>
      <Value><![CDATA[[
  {
    "name": "See Our Work",
    "target": "",
    "udi": "umb://document/96f36e047ec443e3964ed4e722578baa"
  }
]]]></Value>
    </servicesButtons>
  </Properties>
</Content>