<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac98267b-a8c3-44da-8650-b4b98cb2812a" Alias="Conventional Power" Level="2">
  <Info>
    <Parent Key="c98abf68-afda-41f5-ac55-a7759698048f">Industries</Parent>
    <Path>/Industries/ConventionalPower</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategories</ContentType>
    <CreateDate>2021-03-01T09:40:50</CreateDate>
    <NodeName Default="Conventional Power" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="5d38776d-b05a-453f-bcbb-d51bea94083f">BlogCategories</Template>
  </Info>
  <Properties>
    <backImage>
      <Value><![CDATA[umb://media/16d44de4c4f94bee80c6d2c47dc45466]]></Value>
    </backImage>
    <heroContent>
      <Value><![CDATA[<p>Roadlab has worked with South Africa's largest power stations for decades, providing material testing and investigative services to Kusile Power Station, Medupi Power Station, Kendel Power Station, Matla Power Station and more.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[THE ENERGY INDUSTRY]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[A collection of blogs and videos giving power stations the information they need to get more clients, improve their results and get more business]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[OF YOUR PROJECTS]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[ENSURING THE SUCCESS]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[How Power Stations Can Get More Business]]></Value>
    </pageTitle>
  </Properties>
</Content>