<?xml version="1.0" encoding="utf-8"?>
<Content Key="c39173f7-0677-48d7-96e4-4d841c518ed7" Alias="Durban" Level="2">
  <Info>
    <Parent Key="0a32a32b-c796-4726-8d0c-8cd75ec854b7">Branches</Parent>
    <Path>/Branches/Durban</Path>
    <Trashed>false</Trashed>
    <ContentType>branch</ContentType>
    <CreateDate>2019-10-07T14:39:55</CreateDate>
    <NodeName Default="Durban" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0dd361b9-52ce-4070-8e22-722d1636744f">Branch</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[umb://document/55441678ed0045d8bb37bc9b2c505d43,umb://document/d6462fca17a448959a618133febd643a,umb://document/4bfc16f454be428787a6e6284ea3239a]]></Value>
    </blockContentPicker>
    <branchAddress1>
      <Value><![CDATA[Unit 6, 24 Edmund Morewood Str.     ]]></Value>
    </branchAddress1>
    <branchAddress2>
      <Value><![CDATA[Trurolands]]></Value>
    </branchAddress2>
    <branchAddress3>
      <Value><![CDATA[Tongaat]]></Value>
    </branchAddress3>
    <branchBackgroundImage>
      <Value><![CDATA[umb://media/b645d534806447669a8a049007c0e3ad]]></Value>
    </branchBackgroundImage>
    <branchCellNumber>
      <Value><![CDATA[+ 27 (0)82 567 9870 ]]></Value>
    </branchCellNumber>
    <branchCity>
      <Value><![CDATA[Durban]]></Value>
    </branchCity>
    <branchCountry>
      <Value><![CDATA[[
  "South Africa"
]]]></Value>
    </branchCountry>
    <branchEmail>
      <Value><![CDATA[jay@roadlab.co.za]]></Value>
    </branchEmail>
    <branchImage>
      <Value><![CDATA[umb://media/9e8d737d8e2e4e9da4ce596591320be3]]></Value>
    </branchImage>
    <branchImageAlt>
      <Value><![CDATA[Jay Sarjooparsad]]></Value>
    </branchImageAlt>
    <branchLatitude>
      <Value><![CDATA[-29.571825]]></Value>
    </branchLatitude>
    <branchLongitude>
      <Value><![CDATA[31.100641]]></Value>
    </branchLongitude>
    <branchManager>
      <Value><![CDATA[Jay Sarjooparsad]]></Value>
    </branchManager>
    <branchMap>
      <Value><![CDATA[<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3470.095451908501!2d31.100641915645966!3d-29.571825916416326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjnCsDM0JzE4LjYiUyAzMcKwMDYnMTAuMiJF!5e0!3m2!1sen!2sza!4v1570451941464!5m2!1sen!2sza" style="border: 0;" allowfullscreen="" width="100%" height="350px" frameborder="0"></iframe></div>]]></Value>
    </branchMap>
    <branchName>
      <Value><![CDATA[Durban]]></Value>
    </branchName>
    <branchPostalCode>
      <Value><![CDATA[4399]]></Value>
    </branchPostalCode>
    <branchProvince>
      <Value><![CDATA[[
  "KwaZulu-Natal"
]]]></Value>
    </branchProvince>
    <branchTelephoneNumber>
      <Value><![CDATA[+ 27 (0)32 944 5977]]></Value>
    </branchTelephoneNumber>
    <limsBranchCode>
      <Value><![CDATA[]]></Value>
    </limsBranchCode>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Office is based on Unit 6, 24 Edmund Morewood Str., Trurolands, Tongaat, Durban. + 27 (0)32 944 5977 For laboratory testing. ]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Durban branch]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Material testing-Roadlab Durban-Bitumen Concrete Soil gravel]]></Value>
    </pageTitle>
  </Properties>
</Content>