<?xml version="1.0" encoding="utf-8"?>
<Content Key="55441678-ed00-45d8-bb37-bc9b2c505d43" Alias="Roadlab's Accredited Facilities and SANAS Certificates" Level="3">
  <Info>
    <Parent Key="42a293f3-0608-4c4c-857d-e871f38b770a">Our World</Parent>
    <Path>/Industries/OurWorld/RoadlabsAccreditedFacilitiesAndSANASCertificates</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-02-11T06:53:02</CreateDate>
    <NodeName Default="Roadlab's Accredited Facilities and SANAS Certificates" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2021-03-24T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/6f287c8dfef14141ae77a23617e1fb7d]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/6f287c8dfef14141ae77a23617e1fb7d]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Roadlab's Accredited Facilities and SANAS Certificates]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "f695f4fd-0e3c-4d11-8624-d34f2df13458",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Roadlab operates SANAS accredited branches in Belville (T0507), Bloemfontein (T0861), Centurion (T0824), Durban (T0806), East London (T0860), Germiston (T0296) and Mossel Bay (T0947).</p>\n<p>You can find our certificates here on <a rel=\"noopener\" href=\"https://www.sanas.co.za/Pages/index.aspx\" target=\"_blank\" title=\"the SANAS website\">the SANAS website.</a></p>\n<p>We will soon make these certificates available for download here.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "645f5f94-55da-4379-a29d-c5594535f0d1",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards of verification for your materials and projects.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[SANAS ACCREDITATIONS]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "dd6a0272-e75f-4015-a134-c4c833ec60f4",
    "name": "SANAS Accreditation",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "SANAS Accreditation"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "fbc899aa-688a-4730-b59f-4851fd5602f9",
    "name": "South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/c2fca68ff74c409d83b05b953e9d8ddb]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Roadlab's staff and facilities are regularly audited by SANAS, ensuring the highest standards for your materials and projects.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Nationwide]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[7 Accredited Facilities]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[umb://media/8909f27669a3465b9a3826960c100e10]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Roadlab's Accredited Facilities and SANAS Certificates]]></Value>
    </pageTitle>
  </Properties>
</Content>