<?xml version="1.0" encoding="utf-8"?>
<Content Key="8986ddfd-1561-43fa-a11b-bf07bf3ce37c" Alias="Specialised Concrete &amp; Forensic Investigations" Level="3">
  <Info>
    <Parent Key="b72da2bb-6634-4d47-977d-7c697cb3e38f">Services</Parent>
    <Path>/Home/Services/SpecialisedConcreteForensicInvestigations</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesType</ContentType>
    <CreateDate>2020-02-19T07:03:37</CreateDate>
    <NodeName Default="Specialised Concrete &amp; Forensic Investigations" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[nofollow, disallow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>