<?xml version="1.0" encoding="utf-8"?>
<Content Key="88f67996-28fe-4048-87ae-48abbf9dc56f" Alias="Supporting Major Construction Projects in 2022" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">Civil Construction</Parent>
    <Path>/Industries/CivilConstruction/SupportingMajorConstructionProjectsIn2022</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-12-07T12:40:52</CreateDate>
    <NodeName Default="Supporting Major Construction Projects in 2022" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-12-07T13:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[From site investigations to concrete testing, these five projects relied on our material insight and made fantastic progress in 2022. ]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/b9818c3a662b49369915ca50308c59b7]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/b9818c3a662b49369915ca50308c59b7]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "8710a87c-adaf-4506-ad69-e202a9607fc4",
    "name": "Concrete Durability Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Durability Testing"
  },
  {
    "key": "a19d74d9-dbc5-4bb8-8dfa-7f6c6f6e778b",
    "name": "Concrete Strength Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Strength Testing"
  },
  {
    "key": "b8ef69fd-1db1-4472-9c71-1a079e861e3e",
    "name": "Concrete Mix Designs",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Mix Designs"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "309e2d4b-2d7d-4f87-ba89-b73f65ff57bf",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<div class=\"\" data-block=\"true\" data-editor=\"758bl\" data-offset-key=\"dadl7-0-0\">\n<div class=\"_1mf _1mj\" data-offset-key=\"dadl7-0-0\">\n<div class=\"_1mf _1mj\" data-offset-key=\"dadl7-0-0\">\n<p><br />Roadlab Laboratories worked on some of Southern Africa's largest major construction projects in 2022, testing tens of thousands of cubic metres of concrete.</p>\n<p><strong>These are 5 projects that we didn't get a chance to feature this year.</strong></p>\n</div>\n</div>\n</div>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2359,
                    "udi": "umb://media/b9818c3a662b49369915ca50308c59b7",
                    "image": "/media/hsgidojl/concrete-projects.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "95c098a8-7610-4f5d-82fd-2400c94efb93",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p><span class=\"heading-h3\"><strong><span>Offices of the Department of Land Reform &amp; Rural Development</span></strong></span></p>\n<p>Roadlab ensured the quality, workability and strength of all concrete for the new Dept. Agriculture, Land Reform and Rural Development (DALRRD) offices.</p>\n<p>\"High column loads from the proposed structure, as well as challenging geotechnical conditions, reinforced the need for a detailed specialized piled foundation solution to be used from the outset.\" - Keller Africa</p>\n<p>Construction of the new offices concluded in November 2022.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "3b96bd4b-e7fa-4161-89eb-ab21553639be",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2360,
                    "udi": "umb://media/b60f85d219e14184937a5e958116881c",
                    "image": "/media/0scb5nxb/pnp-project.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "a4dd53a1-6d2d-4134-98db-e41b08ea6829",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p><span class=\"heading-h3\"><strong><span>Eastport Logistics Park</span></strong></span></p>\n<p>Roadlab is providing concrete quality assurance and structural integrity testing on the record-breaking Eastport Logistics Park. </p>\n<p>To be completed in June 2023, it will cover 36 hectares and consist of 4 000 tons of structural steel and approximately 85 000m3 of concrete.</p>\n<p>It includes three main warehouses and roof sheeting of 164 000m2 with the longest sheet at 280m, the longest continuously rolled sheet in the world.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "803c30ed-201a-471d-8e28-996b498ee370",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2362,
                    "udi": "umb://media/4a07f829bf8b442aa945c7f5c3df6444",
                    "image": "/media/f52aosul/venetia-project.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "4254c5ec-75b0-4089-8e26-e19ec0354529",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p><span class=\"heading-h3\"><strong><span>De Beers’ Venetia Underground Project</span></strong></span></p>\n<p>Roadlab is performing energy absorption testing on shotcrete inside De Beers’ Venetia mine.</p>\n<p>Venetia is De Beers’ flagship operation in South<span> </span>Africa. The mine is the country's largest diamond producer, and it's underground expansion represents the largest single investment in South<span> </span>Africa’s diamond industry.</p>\n<p>Good progress was made on the project in 2022. The production shaft, the decline and pit ramp and the first of six water control doors were all completed.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "9facf790-67c2-40c3-9191-e4b8a94365d4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2358,
                    "udi": "umb://media/3b85971f41ac42b09c31d133ed9152c8",
                    "image": "/media/dgljko3m/beitbridge-project.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "944172f3-5827-45c7-a298-2e6557f68165",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p><span class=\"heading-h3\"><strong>Beitbridge Border Post Modernisation Project</strong></span></p>\n<p>Roadlab performed all concrete quality assurance for an immense 2-year upgrade of the Beitbridge border post, one of SA’s busiest borders posts.</p>\n<p>The project included a now-famous <span>11,4-mega-litre water reservoir, an upgraded sewer oxidation plant, refuse disposal system and a fire station. </span></p>\n<p>In August 2022 President Mnangagwa commissioned the Modernised Beitbridge Border Post.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "51db4fdd-3ae5-4d51-a568-93832f281f37",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2366,
                    "udi": "umb://media/6b2c4f6d75d442e9acbb27fec8a42983",
                    "image": "/media/nnhdy04u/vlakfontein.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "fdd66174-2d11-4f34-98da-a65d00c2bbdf",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p><span class=\"heading-h3\"><strong>210M</strong>ℓ Vlakfontein Reservoir</span></p>\n<p>Roadlab conducted all concrete testing on the 210 million litre Vlakfontein Reservoir, one of the world's largest cylindrical post-tensioned concrete reservoirs.</p>\n<p>Part of the Gauteng Department of Water &amp; Sanitation’s service delivery improvements, the 8000m3 of no-fines concrete started with a 50mm thick layer of 9.5mm stone mix, following a 245mm and 125mm layer of 19mm size stone mix.</p>\n<p>The Vlakfontein Reservoir has been nominated for an award for innovation and invention in concrete, having also been recognised by the Fulton Awards and the CSSA.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "f695f4fd-0e3c-4d11-8624-d34f2df13458",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<hr />\n<p>We are ready to provide you with advice or a quote.<br /><strong>Send us an enquiry <a href=\"/head-office/#reachout\" title=\"Head Office\" data-anchor=\"#reachout\">here</a></strong> or call <strong>066 299 1985.</strong></p>\n<p>Our experience and capacity is <strong>unmatched.</strong></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 5 major projects in 2022.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[Concrete Quality Assurance]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "31b160d3-9316-4a4b-9690-62473ad0c0cd",
    "name": "Construction and Engineering",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Construction and Engineering"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "0205f46a-8478-4fef-9550-7a37c4f7e083",
    "name": "South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 5 major projects in 2022.]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/5aea054371364882a8d707bf52545160]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Not every project gets the attention it deserves. We ensured the strength, durability and workability of concrete for these 4 major projects in 2022.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Major Construction Projects]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Concrete Strength, Integrity and Durability]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[index, follow]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Supporting Major Construction Projects in 2022]]></Value>
    </pageTitle>
  </Properties>
</Content>