<?xml version="1.0" encoding="utf-8"?>
<Content Key="938b0981-37a9-4802-aba8-7664693173ef" Alias="The OTMS Project: Casting 800³m of Concrete Each Day" Level="3">
  <Info>
    <Parent Key="96f36e04-7ec4-43e3-964e-d4e722578baa">Civil Construction</Parent>
    <Path>/Industries/CivilConstruction/TheOTMSProjectCasting8003mOfConcreteEachDay</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-03-10T11:26:40</CreateDate>
    <NodeName Default="The OTMS Project: Casting 800³m of Concrete Each Day" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2022-12-07T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Roadlab ensured the workability and strength of all concrete used in the R2 billion Oil Tanking Mogs Saldanha project in 2020.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/93326ecf898e4069b83de4dd1a47282c]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/93326ecf898e4069b83de4dd1a47282c]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[The OTMS Project: Casting 800³m of Concrete Each Day]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/d89ba1e9686d42c29353ff89a379e0f4]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "f29a8358-387f-4688-a0c4-400189cedbb2",
    "name": "Major Construction",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Major Construction"
  },
  {
    "key": "cb609fe2-1b11-42b8-86a7-50a58b53d447",
    "name": "Soil Investigations",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Soil Investigations"
  },
  {
    "key": "ed52c2d6-5893-4e33-bf0c-7af5c5651599",
    "name": "Concrete Investigations",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Investigations"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "309e2d4b-2d7d-4f87-ba89-b73f65ff57bf",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>Between 2016 and 2019 Roadlab conducted all of the soils and concrete testing for the R2,8 billion Oiltanking MOGS Saldanha project in Langebaan, Western Cape.</p>\n<p>800 cubic meters of concrete was cast each day. It was Roadlab's responsibility to ensure the quality, workability and strength of all concrete sent to site while monitoring strict temperature controls on the batching temperature of the concrete.</p>\n<p>A joint venture between Oiltanking MOGS and Industrial Development Corporation of South Africa, the project took receipt of approximately 143,000 m3 (900,000 barrels) of crude oil on April 17, 2020.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "cbf6da18-1284-44d1-8a53-c2700c1717ca",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2145,
                    "udi": "umb://media/6afe91b2b939450e8f03ef9cb682e5a9",
                    "image": "/media/wsip20rz/otms-1.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2126,
                    "udi": "umb://media/b98ecef777f14fd680308e20a57a87ba",
                    "image": "/media/4hhi3opr/otms-5.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2129,
                    "udi": "umb://media/95f866111b71404aa6699121e9e976bf",
                    "image": "/media/c3tprflr/otms-8.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2132,
                    "udi": "umb://media/b1dffd1beb6246b0b3af92c30140bb47",
                    "image": "/media/dx4n5mlc/otms-11.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2134,
                    "udi": "umb://media/bf6b51025cd747858cda8b9c3201f247",
                    "image": "/media/arihxp4x/otms-13.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2136,
                    "udi": "umb://media/5c132c1d8ca5484cbf225a52a5da08d6",
                    "image": "/media/dmwbgxff/otms-15.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2138,
                    "udi": "umb://media/08a6a407937649a6afb0fe6f57e994c6",
                    "image": "/media/agskmcdw/otms-17.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2140,
                    "udi": "umb://media/ec829aad96784ec69d779171a8d6146f",
                    "image": "/media/vonif1dy/otms-19.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2142,
                    "udi": "umb://media/8aec4f9953754f75baeadde67790aec1",
                    "image": "/media/t3hpzctv/otms-21.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2147,
                    "udi": "umb://media/a61329f1cff94732bb97151de8960c6c",
                    "image": "/media/42ubhjxz/otms-3.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2127,
                    "udi": "umb://media/5585176e835d4e30bd2167bcbd9e18f5",
                    "image": "/media/naljkvk3/otms-6.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2130,
                    "udi": "umb://media/14104376f8184a1983915178d7f3de06",
                    "image": "/media/obbbafay/otms-9.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2133,
                    "udi": "umb://media/98be442af75c4551a25578f0baeaa7d8",
                    "image": "/media/frcl3gc2/otms-12.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2135,
                    "udi": "umb://media/a411e7a9339f4038941fd795bba53e81",
                    "image": "/media/v5tbdje5/otms-14.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2137,
                    "udi": "umb://media/74c5c4ed4b1043cab74553185c3969a6",
                    "image": "/media/3pcmk3aq/otms-16.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2139,
                    "udi": "umb://media/3d7e7428b7154f8187dd75bbe0ae93f0",
                    "image": "/media/fz0h2piv/otms-18.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2141,
                    "udi": "umb://media/e8257d0b663e4bb0b6f3bb485c4a72e7",
                    "image": "/media/bv4dl0b4/otms-20.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 2143,
                    "udi": "umb://media/8007126574224686b08675891571449a",
                    "image": "/media/mmjapabc/otms-22.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "936fbc10-ccf9-4d8a-b9e7-8de1fe4013d8",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p> </p>\n<p><span class=\"heading-h3 heading-h2\">We're ready to work with you.<br />Reach out to us below. <br /></span></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p style="text-align: left;">Roadlab performed all soils and concrete testing on the R2,8 billion Oiltanking MOGS Saldanha (OTMS) project between 2016 and 2019.</p>
<p>We are ready to provide you with advice or a quote.<br /><strong>Send us an enquiry <a href="/head-office/#reachout" title="Head Office" data-anchor="#reachout">here</a></strong> or call <strong>060 727 8002.</strong></p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[CONCRETE QUALITY ASSURANCE]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "6f39fea4-acfb-4036-8500-05cfbdda3773",
    "name": "Civil Engineering and Construction",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Civil Engineering and Construction"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "41de7cb9-0025-4950-9fc0-5c59eb4cda2b",
    "name": "Langebaan, Western Cape of South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Langebaan, Western Cape of South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/fdb7d35d74fe455fbb003af50cca4379]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Blending and Storage Terminal]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[Oiltanking MOGS]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>