<?xml version="1.0" encoding="utf-8"?>
<Content Key="69cb4998-fb34-4ab9-85f7-560f39ca9640" Alias="Upgrading George's Maalgate River Bridge" Level="3">
  <Info>
    <Parent Key="76f6a551-4620-4f10-9ca6-4d9df9a2cb16">Asphalt and Roadworks</Parent>
    <Path>/Industries/AsphaltAndRoadworks/UpgradingGeorgesMaalgateRiverBridge</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-06-15T11:40:26</CreateDate>
    <NodeName Default="Upgrading George's Maalgate River Bridge" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="636c2dde-875e-43e0-ba19-5710ac086a8d">BlogArticle</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2020-11-06T12:00:00]]></Value>
    </articleDate>
    <articleIntersectDescription>
      <Value><![CDATA[Our Mossel Bay team recently contributed to the reconstruction and widening of a major bridge outside George in the Western Cape.]]></Value>
    </articleIntersectDescription>
    <articleIntersectImage>
      <Value><![CDATA[umb://media/6b4ae0fa21504f68be0586eb75cef5af]]></Value>
    </articleIntersectImage>
    <backImage>
      <Value><![CDATA[umb://media/3d279f87689646a5b57f179409a8984d]]></Value>
    </backImage>
    <blogHeading>
      <Value><![CDATA[Upgrading George's Maalgate River Bridge]]></Value>
    </blogHeading>
    <branchSelector>
      <Value><![CDATA[umb://document/890e23e62aff4881963512b8cb5683cf]]></Value>
    </branchSelector>
    <categoryPageToggle>
      <Value><![CDATA[1]]></Value>
    </categoryPageToggle>
    <expertiseList>
      <Value><![CDATA[[
  {
    "key": "48b1d1ba-9ad7-4e55-a1d1-44fad42956b8",
    "name": "Soil Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Soil Testing"
  },
  {
    "key": "80b3f8ed-46dd-4024-bebb-f2e68c60c828",
    "name": "Asphalt Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Asphalt Testing"
  },
  {
    "key": "b729e28d-93a4-4cd4-a713-a8a2de208117",
    "name": "Concrete Integrity Testing",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Concrete Integrity Testing"
  },
  {
    "key": "824ad841-f441-4dab-8c1f-32b19989b046",
    "name": "Geotechnical Investigations",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Geotechnical Investigations"
  }
]]]></Value>
    </expertiseList>
    <grid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Article Full",
          "id": "309e2d4b-2d7d-4f87-ba89-b73f65ff57bf",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p><em>The Roadlab Mossel Bay team is currently helping reconstruct and widen of a major bridge near George.</em></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1809,
                    "udi": "umb://media/df7a9fb94cc943828142e63bf399c3b9",
                    "image": "/media/x4phvx4j/4.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p> </p>\n<p>The Roadlab team in Mossel Bay is contributing to the reconstruction and widening of a three span arch bridge on the R102 in George.</p>\n<p>The existing road structure and pavement layers are being widened to include a shoulder on each lane, requiring the reconstruction of the approaching pavement layers, road structure and road surface.</p>\n<p>Our team will be conducting all soil, concrete and asphalt acceptance control testing on behalf of SNA Civil &amp; Structural Engineers.</p>\n<p>Once our work is done, the newly constructed bridge will have a dual carriage way with 3.2m lane width and 2.0m shoulder on each side, reducing the high accident risk owing to the narrow lane width crossing the bridge.<br /><br /></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Split",
          "id": "9a192af1-f10b-45cf-a8d1-d36f4098f5f6",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1804,
                    "udi": "umb://media/a0a07172a6fa46ef8c69281057df6e46",
                    "image": "/media/orylbih0/whatsapp-image-2021-06-15-at-15-48-52.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1806,
                    "udi": "umb://media/c058c6f52de8451eaac75e903453c17a",
                    "image": "/media/4pdfrqhi/1.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1808,
                    "udi": "umb://media/26599bc95ca44c4995774101f902f71a",
                    "image": "/media/z4nfsjve/3.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1810,
                    "udi": "umb://media/7cfa1190caa244d6ad9c7f6886536c2f",
                    "image": "/media/syipu5fc/5.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p> </p>\n<hr />\n<p><strong>Soil testing</strong><br />Compaction and densities<br />Material classification<br />Geotechnical investigation<br />Test pit investigation and analysis<br />Dynamic cone penetration<br />Stabilization mix designs<br />Material analysis<br /><br /></p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1805,
                    "udi": "umb://media/8189cd3f6b5e4319973d268454d7e18c",
                    "image": "/media/hhgjtak4/whatsapp-image-2021-06-15-at-15-48-53.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1807,
                    "udi": "umb://media/0bcb5cf14593406594d59a52cdad3984",
                    "image": "/media/43omwc2t/2.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1811,
                    "udi": "umb://media/af19921f731c4b8096087bd532b61c8a",
                    "image": "/media/dgjbtly2/whatsapp-image-2021-06-15-at-15-48-51.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1812,
                    "udi": "umb://media/85a6ecd630224d18b9a43f0898cbbda5",
                    "image": "/media/0dwknbjc/whatsapp-image-2021-06-15-at-15-48-52-1.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p> </p>\n<hr />\n<p><strong>Concrete testing</strong><br />Compressive strength<br />Durability of concrete<br />Concrete mix design analysis<br /><br /><strong>Asphalt testing<br /></strong>Asphalt mix design analysis<br />Asphalt, Marshall testing/analysis<br />Core drilling and compaction analysis</p>\n<hr />\n<p> </p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Article Full",
          "id": "4134c886-1e1b-4356-a9aa-8f4e180c3a09",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>If you need confidence in your work site or construction materials, reach out to us below.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </grid>
    <heroContent>
      <Value><![CDATA[<p>Roadlab is an accomplished supporter of South Africa’s state enterprises, over 400 construction companies and more than 60 consulting firms.</p>]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[CONSTRUCTION AND CIVIL ENGINEERING ]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[OUR PLACE IN]]></Value>
    </heroSmallHeading>
    <homePageToggle>
      <Value><![CDATA[1]]></Value>
    </homePageToggle>
    <industryList>
      <Value><![CDATA[[
  {
    "key": "2d1d8c27-617e-43c7-b822-b281dcf963b6",
    "name": "Construction and Civil Engineering",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "Construction and Civil Engineering"
  }
]]]></Value>
    </industryList>
    <locationList>
      <Value><![CDATA[[
  {
    "key": "073a2976-6f6b-43b2-b9b5-afe825f9584a",
    "name": "South Africa",
    "ncContentTypeAlias": "stringItem",
    "stringItemText": "South Africa"
  }
]]]></Value>
    </locationList>
    <oGDescription>
      <Value><![CDATA[Our Mossel Bay team recently contributed to the reconstruction and widening of a major bridge outside George in the Western Cape.]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[umb://media/6b4ae0fa21504f68be0586eb75cef5af]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[Upgrading George's Maalgate River Bridge]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageDescription>
      <Value><![CDATA[Our Mossel Bay team recently contributed to the reconstruction and widening of a major bridge outside George in the Western Cape.]]></Value>
    </pageDescription>
    <pageHeadingBottom>
      <Value><![CDATA[Maalgate River Bridge]]></Value>
    </pageHeadingBottom>
    <pageHeadingTop>
      <Value><![CDATA[George]]></Value>
    </pageHeadingTop>
    <pageIcon>
      <Value><![CDATA[]]></Value>
    </pageIcon>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[Upgrading George's Maalgate River Bridge]]></Value>
    </pageTitle>
  </Properties>
</Content>