<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c7c541a-42f9-49fe-a8de-ae835209cf6b" Alias="X-Ray Diffraction (XRD)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/XRayDiffractionXRD</Path>
    <Trashed Parent="12ccfe1b-12fe-4421-bbb8-a4ecb5f2b691">true</Trashed>
    <ContentType>services2</ContentType>
    <CreateDate>2025-07-29T10:23:36</CreateDate>
    <NodeName Default="X-Ray Diffraction (XRD)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7dd29724-163c-4233-b634-7c5c6298ecff">Services2</Template>
  </Info>
  <Properties>
    <blockContentPicker>
      <Value><![CDATA[]]></Value>
    </blockContentPicker>
    <heroContent>
      <Value><![CDATA[]]></Value>
    </heroContent>
    <heroLargeHeading>
      <Value><![CDATA[]]></Value>
    </heroLargeHeading>
    <heroRightImage>
      <Value><![CDATA[[]]]></Value>
    </heroRightImage>
    <heroShortDescription>
      <Value><![CDATA[]]></Value>
    </heroShortDescription>
    <heroSmallHeading>
      <Value><![CDATA[]]></Value>
    </heroSmallHeading>
    <oGDescription>
      <Value><![CDATA[]]></Value>
    </oGDescription>
    <oGImage>
      <Value><![CDATA[]]></Value>
    </oGImage>
    <oGTitle>
      <Value><![CDATA[]]></Value>
    </oGTitle>
    <oGType>
      <Value><![CDATA[]]></Value>
    </oGType>
    <oGUrl>
      <Value><![CDATA[]]></Value>
    </oGUrl>
    <pageBlockList>
      <Value><![CDATA[]]></Value>
    </pageBlockList>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageRobots>
      <Value><![CDATA[]]></Value>
    </pageRobots>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>