.fa-li, .fa-li i {
	text-align: right;
	padding-right: 5px;
}
.fa-link-space {
	padding-right: 1rem;
}
.fa-ul-icon {
	list-style-type: none;
	margin-left: 3.5em;
	padding-left: 0;
}

.li-icon {
	color: #fE5000;
}
.u-bold {
	font-weight: 700;
}

.u-btn-fa, .fa-li {
	padding-right: 5px;
}

.u-justify {
	text-align: justify;
}

.u-pdf-link {
	font-size: 1.6rem;
	font-weight: bold;
	text-decoration: underline;
	color: $light-blue;
	text-transform: none;
}

.u-icon {
	float:left;
	margin-bottom: -5rem;
	margin-left: -1rem;
}