<?xml version="1.0" encoding="utf-8"?>
<DataType Key="404706eb-04b3-4f2e-9806-cdef3adc9d2b" Alias="Hero Small Heading - Textbox" Level="1">
  <Info>
    <Name>Hero Small Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>