<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaced875-afe5-4824-b732-52061595d210" Alias="10 DCP" Level="4">
  <Info>
    <Parent Key="e96ab060-0491-490e-8e41-0017d7388cf5">New</Parent>
    <Path>/Services/Soil/New/DCP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T06:22:42</CreateDate>
    <NodeName Default="10 DCP" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/opmm30xf/10-dcp.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>