<?xml version="1.0" encoding="utf-8"?>
<Media Key="7971a852-87ac-4d2a-a82e-aca310026319" Alias="1980X1080" Level="3">
  <Info>
    <Parent Key="80e41a5d-d465-4653-b8ba-9d43af12463a">Roadlab</Parent>
    <Path>/Blog/Roadlab/X1080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-20T06:30:07</CreateDate>
    <NodeName Default="1980X1080" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ksuhc4nm/1980x1080.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>