<?xml version="1.0" encoding="utf-8"?>
<Media Key="a146235f-91a4-43d6-bf28-27fb8e17b53f" Alias="4 Projects 2022" Level="3">
  <Info>
    <Parent Key="4fa42f94-006c-4868-84f5-03b0a0d94f6f">Civil Engineering and Construction</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/Projects2022</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-12-07T13:55:11</CreateDate>
    <NodeName Default="4 Projects 2022" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>