<?xml version="1.0" encoding="utf-8"?>
<Media Key="fff7a911-c85d-46b0-9865-0fe86b580476" Alias="9 Crack" Level="3">
  <Info>
    <Parent Key="1af252a1-da89-406c-87c6-a5ed7a8e2767">Concrete</Parent>
    <Path>/Services/Concrete/Crack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-18T11:27:29</CreateDate>
    <NodeName Default="9 Crack" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c4upp503/9-crack.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>