<?xml version="1.0" encoding="utf-8"?>
<Media Key="8832e6d1-5a34-4d46-89e6-0295604d9d1a" Alias="9 Plate Loads" Level="4">
  <Info>
    <Parent Key="e96ab060-0491-490e-8e41-0017d7388cf5">New</Parent>
    <Path>/Services/Soil/New/PlateLoads</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-06T06:22:37</CreateDate>
    <NodeName Default="9 Plate Loads" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/05tdfcbu/9-plate-loads.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>