<?xml version="1.0" encoding="utf-8"?>
<Media Key="306785ad-72fb-42f1-93c3-b83590ab8b62" Alias="BB2" Level="3">
  <Info>
    <Parent Key="effbede2-5b99-403f-bcd2-2f797c418ca2">Beitbridge</Parent>
    <Path>/Blog/Beitbridge/BB2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-04T10:19:23</CreateDate>
    <NodeName Default="BB2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vochomh1/bb2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>