<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecf1a7d6-3a93-4dee-9c95-75f452684cc9" Alias="Cato Ridge Background" Level="2">
  <Info>
    <Parent Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba">Projects</Parent>
    <Path>/Projects/CatoRidgeBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T13:28:43</CreateDate>
    <NodeName Default="Cato Ridge Background" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ctpd1et/cato-ridge-background.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>