<?xml version="1.0" encoding="utf-8"?>
<Media Key="3af1febe-91e0-447e-9fab-5b5a89477b84" Alias="Images" Level="4">
  <Info>
    <Parent Key="3adc9795-6300-40fa-8d4b-c4718ddde210">LUSIP</Parent>
    <Path>/Blog/CivilEngineeringAndConstruction/LUSIP/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-11T09:17:24</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xd5pcoxa/images.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>