<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f842b23-49f5-4d6b-915f-d9ea90220af4" Alias="Mauritius 7" Level="4">
  <Info>
    <Parent Key="2a043337-84c5-4cf3-8f67-3604962956eb">Mauritius</Parent>
    <Path>/Blog/Roadlab/Mauritius/Mauritius7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T13:13:20</CreateDate>
    <NodeName Default="Mauritius 7" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/euvjil5v/mauritius-7.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>