<?xml version="1.0" encoding="utf-8"?>
<Media Key="9540e314-aab0-46ba-afae-162459c758be" Alias="Mauritius 2" Level="4">
  <Info>
    <Parent Key="2a043337-84c5-4cf3-8f67-3604962956eb">Mauritius</Parent>
    <Path>/Blog/Roadlab/Mauritius/Mauritius2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-10T13:13:02</CreateDate>
    <NodeName Default="Mauritius 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/clrfbfnq/mauritius-2.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>