<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f9405b7-5a03-40b3-a27f-4eb1b608ec6b" Alias="Media Statement Signing Scatec Financial Close" Level="4">
  <Info>
    <Parent Key="487cdfc0-7cc0-4863-b850-b679662c59fd">Kernhardt</Parent>
    <Path>/Blog/WindPowerAndRenewables/Kernhardt/MediaStatementSigningScatecFinancialClose</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-06T05:10:45</CreateDate>
    <NodeName Default="Media Statement Signing Scatec Financial Close" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v2cjjdyd/media-statement-signing-scatec-financial-close.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>