<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaf759bf-c392-4d35-b518-bbc794b2b2bc" Alias="Mossel Bay Office" Level="2">
  <Info>
    <Parent Key="55475d70-f967-47ea-9adb-00ab3ed7430a">Branches</Parent>
    <Path>/Branches/MosselBayOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-03T07:46:08</CreateDate>
    <NodeName Default="Mossel Bay Office" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xfmppkus/mossel-bay-office.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>