<?xml version="1.0" encoding="utf-8"?>
<Media Key="e37c5b04-3cd8-41b1-bf1f-f68f8c8e0c30" Alias="No Image" Level="3">
  <Info>
    <Parent Key="733d522d-fa19-4298-a074-326ec8016c94">Specialized</Parent>
    <Path>/Services/Specialized/NoImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-10-09T10:48:31</CreateDate>
    <NodeName Default="No Image" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ajnhzy4y/no-image.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>