<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93c81f5-6e29-4f0a-92c9-49e7b1ca0f1c" Alias="OG Image" Level="4">
  <Info>
    <Parent Key="5276441d-5ab8-466a-bc9d-b0ba6f241c56">Roadlab in Western Cape</Parent>
    <Path>/Blog/Roadlab/RoadlabInWesternCape/OGImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-13T06:45:55</CreateDate>
    <NodeName Default="OG Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4oadzojj/og-image.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>