<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b5321f7-a344-4598-95ae-69f57072528c" Alias="Redstone 3" Level="2">
  <Info>
    <Parent Key="05efcd79-16a0-4ea9-ac94-2349d582b6ba">Projects</Parent>
    <Path>/Projects/Redstone3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-19T14:44:58</CreateDate>
    <NodeName Default="Redstone 3" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4eqfgs0e/redstone-3.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>