<?xml version="1.0" encoding="utf-8"?>
<Media Key="518cb6e3-31df-4e87-8719-25a1dde811b8" Alias="Subsurface Utility Scanning" Level="3">
  <Info>
    <Parent Key="733d522d-fa19-4298-a074-326ec8016c94">Specialized</Parent>
    <Path>/Services/Specialized/SubsurfaceUtilityScanning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-19T11:25:01</CreateDate>
    <NodeName Default="Subsurface Utility Scanning" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2w1iyuo5/subsurface-utility-scanning.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>