<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b592b5c-76c4-406e-b82b-c51f6b6ada8b" Alias="Test 3" Level="2">
  <Info>
    <Parent Key="0a84152b-7198-4e1c-bf80-50f77e51e971">Test</Parent>
    <Path>/Test/Test3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-29T06:29:17</CreateDate>
    <NodeName Default="Test 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[Test-3]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/livfs44e/test-3.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627,
      "coordinates": null
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>