<?xml version="1.0" encoding="utf-8"?>
<Media Key="561530b4-e8b6-4f7c-ba2e-fa194843b3dc" Alias="The Largest Projects" Level="4">
  <Info>
    <Parent Key="3fc91033-1eab-4416-b140-67cfb4951ccd">Redstone</Parent>
    <Path>/Blog/WindPowerAndRenewables/Redstone/TheLargestProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-07T13:01:16</CreateDate>
    <NodeName Default="The Largest Projects" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wiybkvvw/the-largest-projects.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>