<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ee588db-4940-4c81-993e-aa721bbe6399" Alias="Z6" Level="4">
  <Info>
    <Parent Key="24a3f6a4-0fdd-4f29-aec4-4a28f9afb287">Vedanta</Parent>
    <Path>/Blog/Mining/Vedanta/Z6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-05T08:50:33</CreateDate>
    <NodeName Default="Z6" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <fileDescription>
      <Value><![CDATA[]]></Value>
    </fileDescription>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1weok1sa/z6.jpg",
  "crops": [
    {
      "alias": "ogImage",
      "width": 1200,
      "height": 627
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>